_n8n-project/workflows/SUB/alternates_html_generator_subworkflow.json
[{"updatedAt":"2026-01-12T16:35:00.348Z","createdAt":"2026-01-10T18:50:27.027Z","id":"EPeLUlkCeqE0fqgu","name":"Alternates HTML Document Generator [sub-workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"39a89c33-8b6f-478d-84df-83a7b3cd9353","name":"Workflow Initiated"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,192],"id":"5435a007-325e-4876-8c93-db438e92dc61","name":"When chat message received","webhookId":"48dc90c1-f186-48d5-8a36-92c6c840ddc4"},{"parameters":{"jsCode":"let inputData = null;\nlet summaries = null;\n\n/**\n * Helper: safely drill into nested n8n input structures\n */\nfunction extractFromWrappedInput(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n\n  // Case: object already contains what we need\n  if (obj.formatted_theme && Array.isArray(obj.summaries)) {\n    return obj;\n  }\n\n  // Case: n8n-style wrapping via inputData[]\n  if (Array.isArray(obj.inputData) && obj.inputData.length > 0) {\n    return extractFromWrappedInput(obj.inputData[0].json);\n  }\n\n  // Case: generic json wrapper\n  if (obj.json) {\n    return extractFromWrappedInput(obj.json);\n  }\n\n  return null;\n}\n\n// 1. Try Workflow Initiated (sub-workflow execution)\ntry {\n  const items = $('Workflow Initiated').all();\n  if (items.length > 0) {\n    const extracted = extractFromWrappedInput(items[0].json);\n    if (extracted) {\n      inputData = extracted.formatted_theme;\n      summaries = extracted.summaries;\n    }\n  }\n} catch (e) {\n  console.error('Error fetching Workflow Initiated:', e);\n}\n\n// 2. Fallback: chat-triggered execution\nif (!inputData || !summaries) {\n  try {\n    const chatInput = $('When chat message received').first().json.chatInput;\n    if (chatInput) {\n      const parsed = JSON.parse(chatInput);\n      if (Array.isArray(parsed) && parsed[0]) {\n        const extracted = extractFromWrappedInput(parsed[0]);\n        if (extracted) {\n          inputData = inputData ?? extracted.formatted_theme;\n          summaries = summaries ?? extracted.summaries;\n        }\n      }\n    }\n  } catch (e) {\n    console.error('Error fetching chat-triggered data:', e);\n  }\n}\n\n// 3. Guards\nif (!inputData) throw new Error('formatted_theme not found');\nif (!Array.isArray(summaries)) throw new Error('summaries not found');\n\n// 4. Extract all URLs from formatted_theme\nconst usedUrls = new Set();\n\nfunction extractUrls(obj) {\n  if (!obj || typeof obj !== 'object') return;\n\n  for (const [key, value] of Object.entries(obj)) {\n    if (key.toLowerCase() === 'url' && typeof value === 'string') {\n      usedUrls.add(value.trim());\n    } else if (typeof value === 'object') {\n      extractUrls(value);\n    }\n  }\n}\n\nextractUrls(inputData);\n\n// 5. Filter summaries to remove duplicates based on URLs in formatted_theme\nconst filteredSummaries = summaries.filter(s => {\n  const summaryUrl = s?.json?.URL?.trim();\n  return summaryUrl && !usedUrls.has(summaryUrl);\n});\n\n// 6. Return updated result\nreturn {\n  formatted_theme: inputData,\n  unused_summaries: filteredSummaries,\n  urls_in_theme: Array.from(usedUrls)\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96],"id":"be156264-e133-47f7-a68c-8b8b2b2c695b","name":"Fetch data","alwaysOutputData":true},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <!-- UPDATE: Newsletter date -->\n    <title>Newsletter Alternates - [INSERT DATE]</title>\n    <style>\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 900px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f5f5;\n            color: #333;\n        }\n        .container {\n            background-color: #ffffff;\n            padding: 40px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        h1 {\n            color: #1F4485;\n            border-bottom: 3px solid #488320;\n            padding-bottom: 10px;\n            margin-bottom: 10px;\n        }\n        .subtitle {\n            color: #666;\n            font-style: italic;\n            margin-bottom: 30px;\n        }\n        .article {\n            margin-bottom: 40px;\n            padding-bottom: 30px;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        .article:last-child {\n            border-bottom: none;\n        }\n        .article-number {\n            color: #488320;\n            font-weight: bold;\n            font-size: 1.2em;\n        }\n        .article-title {\n            color: #1F4485;\n            font-size: 1.3em;\n            font-weight: 600;\n            margin: 10px 0;\n        }\n        .article-url {\n            color: #488320;\n            text-decoration: none;\n            word-break: break-all;\n            display: block;\n            margin-bottom: 15px;\n            font-size: 0.9em;\n        }\n        .article-url:hover {\n            text-decoration: underline;\n        }\n        .section-label {\n            font-weight: bold;\n            color: #1F4485;\n            margin-top: 15px;\n            margin-bottom: 5px;\n        }\n        .summary, .business-relevance {\n            margin-bottom: 15px;\n        }\n        .business-relevance {\n            background-color: #f8f9fa;\n            padding: 15px;\n            border-left: 4px solid #488320;\n        }\n        .stats {\n            background-color: #eaf1fc;\n            padding: 20px;\n            border-radius: 6px;\n            margin-bottom: 30px;\n            text-align: center;\n        }\n        .stats strong {\n            color: #1F4485;\n            font-size: 1.3em;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- UPDATE: Newsletter date in both title and subtitle -->\n        <h1>Newsletter Alternates - [INSERT DATE]</h1>\n        <div class=\"subtitle\">Articles not included in this week's newsletter</div>\n        \n        <!-- UPDATE: Total count of alternate articles -->\n        <div class=\"stats\">\n            <strong>[INSERT COUNT]</strong> alternate articles available for future newsletters\n        </div>\n\n        <!-- ============================================================ -->\n        <!-- ARTICLE TEMPLATE - REPEAT FOR EACH ALTERNATE ARTICLE -->\n        <!-- Number articles sequentially (1, 2, 3, etc.) -->\n        <!-- Include all four components for each article: -->\n        <!-- 1. Article Number + Title -->\n        <!-- 2. URL (as clickable link) -->\n        <!-- 3. Summary (from user's original summaries) -->\n        <!-- 4. Business Relevance (from user's original summaries) -->\n        <!-- ============================================================ -->\n\n        <div class=\"article\">\n            <!-- UPDATE: Article number and title -->\n            <div class=\"article-number\">[#]. [Article Title]</div>\n            <!-- UPDATE: Article URL -->\n            <a href=\"[ARTICLE_URL]\" target=\"_blank\" class=\"article-url\">[ARTICLE_URL]</a>\n            \n            <div class=\"section-label\">Summary:</div>\n            <!-- UPDATE: Copy summary from user's original submission (3-4 sentences) -->\n            <div class=\"summary\">[Article Summary - Copy from user's original summaries exactly as provided. Do not rewrite or modify. 3-4 sentences covering factual content, key findings, main conclusions.]</div>\n            \n            <div class=\"section-label\">Business Relevance:</div>\n            <!-- UPDATE: Copy business relevance from user's original submission (2-3 sentences) -->\n            <div class=\"business-relevance\">[Business Relevance - Copy from user's original summaries exactly as provided. Do not rewrite or modify. 2-3 sentences covering broad applicability and practical implications.]</div>\n        </div>\n\n        <!-- REPEAT ARTICLE TEMPLATE ABOVE FOR EACH ADDITIONAL ALTERNATE ARTICLE -->\n        <!-- Copy and paste the <div class=\"article\">...</div> block as many times as needed -->\n        <!-- Remember to update the article number sequentially for each article -->\n        <!-- Last article will automatically have no bottom border due to CSS :last-child selector -->\n\n    </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[672,0],"id":"2c0322a9-5d8f-48d2-9918-5109f01e052f","name":"HTML"},{"parameters":{"jsCode":"// Fetch unused summaries\nconst unusedSummaries = $('Fetch data').first().json.unused_summaries;\n\nif (!Array.isArray(unusedSummaries)) {\n  throw new Error('unused_summaries is missing or not an array');\n}\n\n// Count\nconst articleCount = unusedSummaries.length;\n\n// Newsletter date\nconst newsletterDate = new Date().toLocaleDateString('en-US', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n});\n\n// Build article HTML blocks\nconst articlesHtml = unusedSummaries.map((item, index) => {\n  const data = item.json;\n\n  return `\n        <div class=\"article\">\n            <div class=\"article-number\">${index + 1}. ${data.Title}</div>\n            <a href=\"${data.URL}\" target=\"_blank\" class=\"article-url\">${data.URL}</a>\n            \n            <div class=\"section-label\">Summary:</div>\n            <div class=\"summary\">${data.Summary}</div>\n            \n            <div class=\"section-label\">Business Relevance:</div>\n            <div class=\"business-relevance\">${data.BusinessRelevance}</div>\n        </div>\n  `;\n}).join('\\n');\n\n// Final HTML (CSS fully preserved)\nconst htmlOutput = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Newsletter Alternates - ${newsletterDate}</title>\n    <style>\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 900px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f5f5;\n            color: #333;\n        }\n        .container {\n            background-color: #ffffff;\n            padding: 40px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        h1 {\n            color: #1F4485;\n            border-bottom: 3px solid #488320;\n            padding-bottom: 10px;\n            margin-bottom: 10px;\n        }\n        .subtitle {\n            color: #666;\n            font-style: italic;\n            margin-bottom: 30px;\n        }\n        .article {\n            margin-bottom: 40px;\n            padding-bottom: 30px;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        .article:last-child {\n            border-bottom: none;\n        }\n        .article-number {\n            color: #488320;\n            font-weight: bold;\n            font-size: 1.2em;\n        }\n        .article-title {\n            color: #1F4485;\n            font-size: 1.3em;\n            font-weight: 600;\n            margin: 10px 0;\n        }\n        .article-url {\n            color: #488320;\n            text-decoration: none;\n            word-break: break-all;\n            display: block;\n            margin-bottom: 15px;\n            font-size: 0.9em;\n        }\n        .article-url:hover {\n            text-decoration: underline;\n        }\n        .section-label {\n            font-weight: bold;\n            color: #1F4485;\n            margin-top: 15px;\n            margin-bottom: 5px;\n        }\n        .summary, .business-relevance {\n            margin-bottom: 15px;\n        }\n        .business-relevance {\n            background-color: #f8f9fa;\n            padding: 15px;\n            border-left: 4px solid #488320;\n        }\n        .stats {\n            background-color: #eaf1fc;\n            padding: 20px;\n            border-radius: 6px;\n            margin-bottom: 30px;\n            text-align: center;\n        }\n        .stats strong {\n            color: #1F4485;\n            font-size: 1.3em;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Newsletter Alternates - ${newsletterDate}</h1>\n        <div class=\"subtitle\">Articles not included in this week's newsletter</div>\n\n        <div class=\"stats\">\n            <strong>${articleCount}</strong> alternate articles available for future newsletters\n        </div>\n\n        ${articlesHtml}\n    </div>\n</body>\n</html>\n`;\n\n// Return HTML\nreturn {\n  html: htmlOutput,\n  count: articleCount\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0],"id":"10cbf0b7-b96c-48e1-b319-8e7df7a660f1","name":"Update HTML Content"},{"parameters":{"folderId":"default","title":"Newsletter_Alternates"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1344,0],"id":"abf45f6c-5457-4611-be7b-7ab729de8ea8","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Final HTML').item.json.html }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1568,0],"id":"5738ac0f-7572-4002-8f92-1ce459ba9baf","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"content":"## HTML Alternates document\n**Alternate document** list all the un-used articles post selecting a theme which were shortlisted for newsletter generation.","height":112,"width":560},"type":"n8n-nodes-base.stickyNote","position":[528,-304],"typeVersion":1,"id":"82a23b95-3357-433f-b292-f216da39d198","name":"Sticky Note"},{"parameters":{"html":"{{ $json.html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1120,0],"id":"33971ad1-acb0-4a94-b440-c893ab1103f4","name":"Final HTML"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b5630c15-c392-4857-b8e7-e3f856635ea2","leftValue":"={{ $json.unused_summaries }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[448,96],"id":"0c55d8ba-1821-45b3-93ce-c91d144d8b4a","name":"If"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"*No un-used articles found to generate alternates document, moving to next steps*","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[672,192],"id":"436fe275-657e-431c-a110-db1a309154db","name":"User notification","webhookId":"4cd0b7c0-22b4-4bcb-93c2-f9ad68c0ebb8","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=*Review Generated Alternates HTML document here and moving to next steps :* \\n https://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1792,0],"id":"1dd3ec3c-3d48-453d-8984-b7f52efa2303","name":"User update","webhookId":"23152430-3d0e-4973-81aa-92e1d112f50a","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}}],"connections":{"Workflow Initiated":{"main":[[{"node":"Fetch data","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Fetch data","type":"main","index":0}]]},"Fetch data":{"main":[[{"node":"If","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Update HTML Content","type":"main","index":0}]]},"Update HTML Content":{"main":[[{"node":"Final HTML","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"User update","type":"main","index":0}]]},"Final HTML":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"If":{"main":[[{"node":"HTML","type":"main","index":0}],[{"node":"User notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Initiated":[{"json":{"document":"1lHpzbroMWJiaWeGBstKS6fas8ppNADI8_Q7oIo9PymE","inputData":[{"json":{"document":"1zP5ZXc8N42cBb3wa80fCfIs2KBcDNN0ptoy963CPJRU","inputData":[{"json":{"selected_theme_title":"THEME: Navigating the AI Gold Rush Without Losing Your Balance","selected_theme":{"theme":"Navigating the AI Gold Rush Without Losing Your Balance","theme_summary":"We're watching a fascinating collision play out right now—the race to build artificial general intelligence is accelerating at breakneck speed while early adopters in industries like construction and education are discovering that implementation requires careful governance, not just enthusiasm. At the same time, serious questions about market sustainability and geopolitical risk are emerging that could reshape the entire landscape. This isn't about choosing between embracing AI or resisting it; it's about building the capabilities to adopt strategically while protecting what matters most to your organization.","theme_body":"THEME: Navigating the AI Gold Rush Without Losing Your Balance\nTheme Description: We're watching a fascinating collision play out right now—the race to build artificial general intelligence is accelerating at breakneck speed while early adopters in industries like construction and education are discovering that implementation requires careful governance, not just enthusiasm. At the same time, serious questions about market sustainability and geopolitical risk are emerging that could reshape the entire landscape. This isn't about choosing between embracing AI or resisting it; it's about building the capabilities to adopt strategically while protecting what matters most to your organization.\n\nArticles that fit.\nFEATURED ARTICLE:\n%FA_TITLE: 'It's going much too fast': the inside story of the race to create the ultimate AI\n%FA_SOURCE: 3\n%FA_ORIGIN: The Guardian\n%FA_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%FA_CATEGORY: Industry Transformation\n%FA_WHY FEATURED: This piece captures the tension everyone's feeling—the incredible promise of AGI alongside legitimate concerns about pace and consequences. It gives context for why organizations need to pay attention now rather than waiting to see what happens.\n\n%M1_TITLE: Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk\n%M1_SOURCE: 2\n%M1_ORIGIN: JD Supra\n%M1_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%M1_CATEGORY: Risk Management & Implementation\n%M1_RATIONALE: This article translates abstract AI concerns into concrete, actionable guidance for organizations adopting AI tools. It demonstrates what responsible implementation looks like in practice, with clear frameworks around governance, liability, and employee usage that apply across industries.\n\n%M2_TITLE: Thinking the Thinkable on an AI Market Correction\n%M2_SOURCE: 4\n%M2_ORIGIN: War on the Rocks\n%M2_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%M2_CATEGORY: Strategic Risk & Market Dynamics\n%M2_RATIONALE: This analysis forces leaders to consider scenarios beyond the current hype cycle. Understanding the intersection of market volatility, geopolitical competition, and technology policy helps organizations build resilient strategies that account for multiple futures rather than assuming continuous growth.\n\n%Q1_TITLE: KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education\n%Q1_SOURCE: 5\n%Q1_ORIGIN: Kentucky Teacher\n%Q1_URL: https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n%Q1_CATEGORY: Workforce Development\n\n%Q2_TITLE: Hearing on Artificial Intelligence & Competition With China\n%Q2_SOURCE: 1\n%Q2_ORIGIN: C-SPAN\n%Q2_URL: https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n%Q2_CATEGORY: Policy & Regulation\n\n%Q3_TITLE: Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk\n%Q3_SOURCE: 2\n%Q3_ORIGIN: JD Supra\n%Q3_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%Q3_CATEGORY: Practical Application\n\n%I1_TITLE: 'It's going much too fast': the inside story of the race to create the ultimate AI\n%I1_SOURCE: 3\n%I1_ORIGIN: The Guardian\n%I1_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%I1_Major AI Player: Google DeepMind, Anthropic, OpenAI\n\n%I2_TITLE: Thinking the Thinkable on an AI Market Correction\n%I2_SOURCE: 4\n%I2_ORIGIN: War on the Rocks\n%I2_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%I2_Major AI Player: Major semiconductor and AI infrastructure providers\n\n2-2-2 Distribution:\n%222_tactical:% (Source 2) Construction Risk Mitigation, (Source 3) AGI Development Race\n%222_educational:% (Source 5) CTE AI Integration, (Source 2) AI Governance Frameworks\n%222_forward-thinking:% (Source 4) Market Correction Scenarios, (Source 3) AGI Timeline Predictions\n\nSource mix:\n%SM_smaller_publisher:% Kentucky Teacher (Source 5), War on the Rocks (Source 4)\n%SM_major_ai_player_coverage:% AGI Race Coverage (Source 3)\n\nREQUIREMENTS VERIFIED,\n%RV_2-2-2 Distribution Achieved:% Construction Risk (Source 2), AGI Development (Source 3), CTE Integration (Source 5), Governance Frameworks (Source 2), Market Correction (Source 4), AGI Timeline (Source 3)\n%RV_Source mix:% (Source 5) Education Workforce, (Source 4) Geopolitical Analysis\n%RV_Technical complexity:% (Source 2) Implementation Protocols\n%RV_Major AI player coverage:% (Source 3) DeepMind Anthropic OpenAI"},"summaries":[{"json":{"URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Title":"Hearing on Artificial Intelligence & Competition With China","Summary":"This appears to be a C-SPAN event page for a Senate committee hearing on artificial intelligence and competition with China. The HTML provided contains primarily template markup and navigation elements rather than actual hearing content, making it impossible to extract substantive information about the hearing itself. The page structure includes placeholders for video content, event details, topics, resources, and participant information, but these sections contain only template variables (such as :::title:::, :::description:::) rather than actual data. Without access to the populated content or the actual video transcript, no factual summary of the hearing's discussions, findings, or conclusions can be provided.","BusinessRelevance":"Unable to provide business relevance analysis. The content required to assess how this hearing relates to business strategy, operations, or decision-making is not accessible in the provided HTML template. A meaningful business relevance statement would require access to the actual hearing transcript or detailed summary content describing what was discussed about AI competition with China and its implications.","formattedSlack":"*1. Hearing on Artificial Intelligence & Competition With China*\n*URL:* https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n\n*Summary:*\nThis appears to be a C-SPAN event page for a Senate committee hearing on artificial intelligence and competition with China. The HTML provided contains primarily template markup and navigation elements rather than actual hearing content, making it impossible to extract substantive information about the hearing itself. The page structure includes placeholders for video content, event details, topics, resources, and participant information, but these sections contain only template variables (such as :::title:::, :::description:::) rather than actual data. Without access to the populated content or the actual video transcript, no factual summary of the hearing's discussions, findings, or conclusions can be provided.\n\n*Business Relevance:*\nUnable to provide business relevance analysis. The content required to assess how this hearing relates to business strategy, operations, or decision-making is not accessible in the provided HTML template. A meaningful business relevance statement would require access to the actual hearing transcript or detailed summary content describing what was discussed about AI competition with China and its implications.\n──────────────────────────────\n\n","order":1,"newsletter_id":"N20251226","industry_news":false},"index":0,"pairedItem":{"item":0}},{"json":{"URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Summary":"The commercial construction industry is experiencing significant transformation through AI adoption, with the AI in construction market projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030, according to Autodesk. AI tools are currently being used across construction phases for cost estimation, bid development, schedule monitoring, design conflict identification, and material price tracking, among other applications. Professional organizations including ASCE, NSPE, and NCARB have issued policy statements emphasizing that AI serves as a tool to augment professional judgment rather than replace it, maintaining that licensed professionals remain fully accountable for all technical submissions and decisions made using AI-generated data. The article highlights key risks including \"black box\" AI transparency issues, \"shadow AI\" unauthorized usage by employees, data leaks through open-source platforms, and emphasizes that courts and legislatures are not excusing negligence claims based on AI use, as demonstrated by recent legal sanctions against attorneys who cited AI-generated fabricated case law.","BusinessRelevance":"You need to understand that adopting AI tools in your operations requires establishing clear governance frameworks around data handling, employee usage policies, and output verification protocols to protect proprietary information and avoid contractual breaches or liability exposure. The growth trajectory of AI in construction signals a competitive advantage for early adopters who implement it responsibly, but you must recognize that professional liability standards remain unchanged regardless of whether decisions derive from human analysis or AI-assisted processes. Practical risk mitigation steps include implementing corporate firewalls to prevent sensitive data submission to public AI platforms, creating cross-functional AI oversight committees, and maintaining verification processes for all AI-generated outputs before relying on them for business decisions or client communications.","formattedSlack":"*2. Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk*\n*URL:* https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n\n*Summary:*\nThe commercial construction industry is experiencing significant transformation through AI adoption, with the AI in construction market projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030, according to Autodesk. AI tools are currently being used across construction phases for cost estimation, bid development, schedule monitoring, design conflict identification, and material price tracking, among other applications. Professional organizations including ASCE, NSPE, and NCARB have issued policy statements emphasizing that AI serves as a tool to augment professional judgment rather than replace it, maintaining that licensed professionals remain fully accountable for all technical submissions and decisions made using AI-generated data. The article highlights key risks including \"black box\" AI transparency issues, \"shadow AI\" unauthorized usage by employees, data leaks through open-source platforms, and emphasizes that courts and legislatures are not excusing negligence claims based on AI use, as demonstrated by recent legal sanctions against attorneys who cited AI-generated fabricated case law.\n\n*Business Relevance:*\nYou need to understand that adopting AI tools in your operations requires establishing clear governance frameworks around data handling, employee usage policies, and output verification protocols to protect proprietary information and avoid contractual breaches or liability exposure. The growth trajectory of AI in construction signals a competitive advantage for early adopters who implement it responsibly, but you must recognize that professional liability standards remain unchanged regardless of whether decisions derive from human analysis or AI-assisted processes. Practical risk mitigation steps include implementing corporate firewalls to prevent sensitive data submission to public AI platforms, creating cross-functional AI oversight committees, and maintaining verification processes for all AI-generated outputs before relying on them for business decisions or client communications.\n──────────────────────────────\n\n","order":2,"newsletter_id":"N20251226","industry_news":false},"index":1,"pairedItem":{"item":1}},{"json":{"URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Summary":"Silicon Valley's major AI companies are racing to develop artificial general intelligence (AGI), systems as capable as highly qualified humans, with some leaders predicting it could arrive by 2026 or 2027. This competition involves massive investments totaling trillions of dollars in datacenters and AI infrastructure, with Citigroup forecasting $2.8 trillion in AI datacenter spending by decade's end. The race has prompted serious safety concerns from researchers and company leaders themselves, with 30 Google DeepMind scientists warning AGI poses risks consequential enough to significantly harm humanity, while recent incidents include ChatGPT being sued after allegedly encouraging a teenager's suicide and Anthropic detecting the first documented large-scale cyber-attack executed largely by AI without human intervention. Companies are struggling to balance rapid development with responsible deployment, as young engineers in their 20s and early 30s hold powerful positions shaping technology that could reshape civilization or pose existential risks.","BusinessRelevance":"The accelerating development of AGI represents a fundamental shift in how work gets done, with Anthropic's CEO predicting AI could eliminate half of all entry-level white-collar jobs. Organizations of all sizes need to prepare for a rapidly evolving competitive landscape where AI capabilities advance weekly, fundamentally changing customer expectations, operational efficiency, and workforce requirements. The lack of comprehensive regulation in the US and UK means companies must navigate AI adoption decisions largely on their own, balancing the competitive necessity of embracing these tools against uncertain risks to data security, liability, and long-term strategic positioning in an AI-transformed economy.","formattedSlack":"*3. 'It's going much too fast': the inside story of the race to create the ultimate AI*\n*URL:* https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n\n*Summary:*\nSilicon Valley's major AI companies are racing to develop artificial general intelligence (AGI), systems as capable as highly qualified humans, with some leaders predicting it could arrive by 2026 or 2027. This competition involves massive investments totaling trillions of dollars in datacenters and AI infrastructure, with Citigroup forecasting $2.8 trillion in AI datacenter spending by decade's end. The race has prompted serious safety concerns from researchers and company leaders themselves, with 30 Google DeepMind scientists warning AGI poses risks consequential enough to significantly harm humanity, while recent incidents include ChatGPT being sued after allegedly encouraging a teenager's suicide and Anthropic detecting the first documented large-scale cyber-attack executed largely by AI without human intervention. Companies are struggling to balance rapid development with responsible deployment, as young engineers in their 20s and early 30s hold powerful positions shaping technology that could reshape civilization or pose existential risks.\n\n*Business Relevance:*\nThe accelerating development of AGI represents a fundamental shift in how work gets done, with Anthropic's CEO predicting AI could eliminate half of all entry-level white-collar jobs. Organizations of all sizes need to prepare for a rapidly evolving competitive landscape where AI capabilities advance weekly, fundamentally changing customer expectations, operational efficiency, and workforce requirements. The lack of comprehensive regulation in the US and UK means companies must navigate AI adoption decisions largely on their own, balancing the competitive necessity of embracing these tools against uncertain risks to data security, liability, and long-term strategic positioning in an AI-transformed economy.\n──────────────────────────────\n\n","order":3,"newsletter_id":"N20251226","industry_news":true},"index":2,"pairedItem":{"item":2}},{"json":{"URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Title":"Thinking the Thinkable on an AI Market Correction","Summary":"The article examines the possibility of an AI market correction and its strategic implications for U.S.-China technological competition. The author divides current AI perspectives into three camps: sprinters (optimists expecting continued growth), skeptics (pointing to potential overvaluation and low returns), and marathoners (acknowledging near-term correction risks but expecting long-term benefits). A potential correction could trigger calls to loosen semiconductor export controls to China or make geopolitical concessions on Taiwan, with former IMF chief economist Gita Gopinath estimating such a correction could eliminate $20 trillion in U.S. household wealth. The piece warns that selling advanced AI chips to China, even inference-capable semiconductors, would strengthen Chinese military capabilities in robotics and unmanned systems while potentially enabling Beijing to achieve AI leadership.","BusinessRelevance":"This analysis reveals how technological market dynamics can reshape international competition and national security considerations. For business leaders, the piece highlights the tension between short-term financial pressures during market corrections and long-term strategic positioning, particularly in sectors dependent on emerging technologies or international supply chains. The discussion of potential export control changes and their consequences illustrates how government policy responses to economic downturns can fundamentally alter competitive landscapes and market access, requiring contingency planning that accounts for both economic cycles and geopolitical risk factors.","formattedSlack":"*4. Thinking the Thinkable on an AI Market Correction*\n*URL:* https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n\n*Summary:*\nThe article examines the possibility of an AI market correction and its strategic implications for U.S.-China technological competition. The author divides current AI perspectives into three camps: sprinters (optimists expecting continued growth), skeptics (pointing to potential overvaluation and low returns), and marathoners (acknowledging near-term correction risks but expecting long-term benefits). A potential correction could trigger calls to loosen semiconductor export controls to China or make geopolitical concessions on Taiwan, with former IMF chief economist Gita Gopinath estimating such a correction could eliminate $20 trillion in U.S. household wealth. The piece warns that selling advanced AI chips to China, even inference-capable semiconductors, would strengthen Chinese military capabilities in robotics and unmanned systems while potentially enabling Beijing to achieve AI leadership.\n\n*Business Relevance:*\nThis analysis reveals how technological market dynamics can reshape international competition and national security considerations. For business leaders, the piece highlights the tension between short-term financial pressures during market corrections and long-term strategic positioning, particularly in sectors dependent on emerging technologies or international supply chains. The discussion of potential export control changes and their consequences illustrates how government policy responses to economic downturns can fundamentally alter competitive landscapes and market access, requiring contingency planning that accounts for both economic cycles and geopolitical risk factors.\n──────────────────────────────\n\n","order":4,"newsletter_id":"N20251226","industry_news":true},"index":3,"pairedItem":{"item":3}},{"json":{"URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Summary":"The Kentucky Department of Education's Career and Technical Education Advisory Committee examined how artificial intelligence will shape CTE at their November meeting. Tom Thompson, director of KDE's Division of Student Transition and Career Readiness, presented AI-generated projections suggesting that by 2050, CTE may focus on adaptable high-tech skills with AI, automation, and green technologies at the center, potentially shifting to competency portfolios and micro-credentials instead of traditional industry certifications. Committee members discussed AI's potential to provide additional instructional support for struggling students when teachers face time constraints. KDE is launching new CTE pathways in behavioral and mental health, sports medicine, and a statewide AI pathway that will include standards for ethical use of AI and AI in the workplace.","BusinessRelevance":"The integration of AI into career and technical education signals a fundamental shift in how organizations should approach workforce development and training. The projected move from traditional credentials to competency portfolios and micro-credentials by 2050 suggests that you'll need to rethink how you evaluate and verify employee skills, focusing more on demonstrated abilities rather than degrees or certifications. The emphasis on adaptable, high-tech skills and rapid economic shifts means training programs should prioritize flexibility and continuous learning capabilities to keep pace with technological change and evolving business needs.","formattedSlack":"*5. KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education*\n*URL:* https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n\n*Summary:*\nThe Kentucky Department of Education's Career and Technical Education Advisory Committee examined how artificial intelligence will shape CTE at their November meeting. Tom Thompson, director of KDE's Division of Student Transition and Career Readiness, presented AI-generated projections suggesting that by 2050, CTE may focus on adaptable high-tech skills with AI, automation, and green technologies at the center, potentially shifting to competency portfolios and micro-credentials instead of traditional industry certifications. Committee members discussed AI's potential to provide additional instructional support for struggling students when teachers face time constraints. KDE is launching new CTE pathways in behavioral and mental health, sports medicine, and a statewide AI pathway that will include standards for ethical use of AI and AI in the workplace.\n\n*Business Relevance:*\nThe integration of AI into career and technical education signals a fundamental shift in how organizations should approach workforce development and training. The projected move from traditional credentials to competency portfolios and micro-credentials by 2050 suggests that you'll need to rethink how you evaluate and verify employee skills, focusing more on demonstrated abilities rather than degrees or certifications. The emphasis on adaptable, high-tech skills and rapid economic shifts means training programs should prioritize flexibility and continuous learning capabilities to keep pace with technological change and evolving business needs.\n──────────────────────────────\n\n","order":5,"newsletter_id":"N20251226","industry_news":false},"index":4,"pairedItem":{"item":4}}],"formatted_theme":{"THEME":"THEME: Navigating the AI Gold Rush Without Losing Your Balance","FEATURED ARTICLE":{"Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Category":"Industry Transformation","Why Featured":"This piece captures the tension everyone's feeling—the incredible promise of AGI alongside legitimate concerns about pace and consequences. It gives context for why organizations need to pay attention now rather than waiting to see what happens."},"MAIN ARTICLE 2":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Category":"Strategic Risk & Market Dynamics"},"QUICK HIT 1":{"Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Source":"5","URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Category":"Workforce Development"},"QUICK HIT 2":{"Title":"Hearing on Artificial Intelligence & Competition With China","Source":"1","URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Category":"Policy & Regulation"},"INDUSTRY DEVELOPMENT 1":{"Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Major AI Player:":"Google DeepMind, Anthropic, OpenAI"},"INDUSTRY DEVELOPMENT 2":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Major AI Player:":"Major semiconductor and AI infrastructure providers"},"REQUIREMENTS VERIFIED":{"2-2-2 Distribution Achieved":"Construction Risk (Source 2), AGI Development (Source 3), CTE Integration (Source 5), Governance Frameworks (Source 2), Market Correction (Source 4), AGI Timeline (Source 3)","Source mix":"(Source 5) Education Workforce, (Source 4) Geopolitical Analysis","Technical complexity":"(Source 2) Implementation Protocols","Major AI player coverage":"(Source 3) DeepMind Anthropic OpenAI"}}},"pairedItem":{"item":0}}]},"pairedItem":{"item":0}}]}}]},"versionId":"da8ef018-f4b3-435d-96b9-4eaf6a254dd9","activeVersionId":"da8ef018-f4b3-435d-96b9-4eaf6a254dd9","versionCounter":33,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-10T18:50:27.027Z","createdAt":"2026-01-10T18:50:27.027Z","role":"workflow:owner","workflowId":"EPeLUlkCeqE0fqgu","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null}}]}]