_n8n-project/workflows/SUB/curatedarticles_subworkflow.json
[{"updatedAt":"2025-12-28T15:48:15.477Z","createdAt":"2025-12-03T13:40:03.107Z","id":"BGCgCliQbEcIHT2r","name":"Curated-Articles [sub-workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-672,160],"id":"ad400286-83bd-441f-af0d-c0152bef6698","name":"Workflow Initiated"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-672,352],"id":"37f91f0d-4ae1-42ed-8ee4-ede06b410fe0","name":"Manually Initiated","disabled":true},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8","mode":"list","cachedResultName":"Newsletter Curated Articles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-448,256],"id":"3a156b1f-e230-4929-9432-2c07aa051c6e","name":"Clear sheet","credentials":{"googleSheetsOAuth2Api":{"id":"mdEXXhycQbVgTPQQ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n\tconst data = { ...item.json };\n\n\t// --- Convert date to MM/DD/YYYY ---\n\tif (data.publish_date) {\n\t\tconst d = new Date(data.publish_date);\n\t\tconst mm = String(d.getUTCMonth() + 1).padStart(2, '0');\n\t\tconst dd = String(d.getUTCDate()).padStart(2, '0');\n\t\tconst yyyy = d.getUTCFullYear();\n\t\tdata.publish_date = `${mm}/${dd}/${yyyy}`;\n\t}\n\n\t// --- Make approved empty if not set ---\n    if (data.approved === false) {\n\t\tdata.approved = \"\";\n\t}\n\n\tresults.push({ json: data });\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,256],"id":"a9c640c0-e6f1-4fde-93a5-ea2496c002b8","name":"Process Input","alwaysOutputData":false},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"curated_articles","mode":"name"},"limit":30,"where":{"values":[{"column":"approved","condition":"!=","value":"TRUE"}]},"sort":{"values":[{"column":"publish_date","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-224,256],"id":"1059589d-6f90-4146-96bc-9827511ea2c6","name":"Fetch data","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"={{ $json.message }}","approvalOptions":{"values":{"approveLabel":"Proceed to next steps"}},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[672,256],"id":"8f2f8bac-8f7b-42be-9831-a554bab33e88","name":"User approval","webhookId":"a50b093a-aba3-457a-8933-d76ed21d55d0","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8","mode":"list","cachedResultName":"Newsletter Curated Articles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["url"],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publish_date","displayName":"publish_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origin","displayName":"origin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"approved","displayName":"approved","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"newsletter","displayName":"newsletter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,256],"id":"4c34b1ba-9bfa-4371-8754-fe7bad358c00","name":"Append or update rows","credentials":{"googleSheetsOAuth2Api":{"id":"mdEXXhycQbVgTPQQ","name":"Google Sheets account"}}},{"parameters":{"content":"## Curated Articles for Newsletter\nCreate a google sheet with latest AI related articles to be used in newsletter. Notify user to approve and move to next steps.","height":96,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,0],"id":"5f8df772-c68e-45e1-b116-d0b8d35768a9","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f6e072eb-42ec-4a60-b649-c4b3655c2c82","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,176],"id":"f18ea2d5-2362-49a3-9298-d84e1f2a4619","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8","mode":"list","cachedResultName":"Newsletter Curated Articles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit#gid=0"},"options":{"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,176],"id":"b9c5ae3c-6ef1-48c7-b567-e66c40b0e806","name":"Fetch Data from Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"mdEXXhycQbVgTPQQ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"let overallStatus = false;\n\n// Loop over all input items\nfor (const item of $input.all()) {\n  const approved = item.json['approved'];\n  const newsletterId = item.json['newsletter_id'];\n\n  // Check if approved equals \"yes\" in ANY case and newsletterId has a value\n  if (approved && approved.toString().trim().toLowerCase() === 'yes' && newsletterId) {\n    overallStatus = true;\n    break;\n  }\n}\n\nreturn [{ json: { status: overallStatus } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,176],"id":"939e6aa2-c4fc-4b01-9855-ad8dbcfaae60","name":"Validate data for required fields"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"*The google sheet looks good, moving to next steps...*","otherOptions":{"sendAsUser":"n8n-Is2"}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1568,128],"id":"8240f806-a9a4-4a11-aed4-a0a97057cdaf","name":"Status Message","webhookId":"3f284db6-f884-4b7c-8394-bb1fbe8c47b3","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"// Create message text\nconst text = \"*Approve Curated Articles Here and click to proceed to next steps when done:* \\n\" +\n\"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit?usp=sharing\";\n\n// Return the message so Slack node can use it\nreturn [\n  {\n    json: {\n      message: text\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,256],"id":"4162179b-c205-46cf-a560-52c92adb2611","name":"User message"},{"parameters":{"jsCode":"// Create message text\nconst text = \"* Add yes to approve articles in approved column and add ID in newsletter_id column to proceed. Re-validate Curated Articles Sheet and click to proceed to next steps when done:* \\n\" +\n\"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit?usp=sharing\";\n\n// Return the message so Slack node can use it\nreturn [\n  {\n    json: {\n      message: text\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,352],"id":"beaa85ea-cc63-40a1-96b8-a2bbe92d5a32","name":"User re-validation message"}],"connections":{"Manually Initiated":{"main":[[{"node":"Clear sheet","type":"main","index":0}]]},"Workflow Initiated":{"main":[[{"node":"Clear sheet","type":"main","index":0}]]},"Clear sheet":{"main":[[{"node":"Fetch data","type":"main","index":0}]]},"Process Input":{"main":[[{"node":"Append or update rows","type":"main","index":0}]]},"Fetch data":{"main":[[{"node":"Process Input","type":"main","index":0}]]},"Append or update rows":{"main":[[{"node":"User message","type":"main","index":0}]]},"User approval":{"main":[[{"node":"Fetch Data from Sheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Status Message","type":"main","index":0}],[{"node":"User re-validation message","type":"main","index":0}]]},"Fetch Data from Sheet":{"main":[[{"node":"Validate data for required fields","type":"main","index":0}]]},"Validate data for required fields":{"main":[[{"node":"If","type":"main","index":0}]]},"User message":{"main":[[{"node":"User approval","type":"main","index":0}]]},"User re-validation message":{"main":[[{"node":"User approval","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b825d20f-0dcc-4588-a38b-795471976c79","activeVersionId":"b825d20f-0dcc-4588-a38b-795471976c79","versionCounter":18,"triggerCount":0,"tags":[{"updatedAt":"2025-12-03T13:41:56.912Z","createdAt":"2025-12-03T13:41:56.912Z","id":"lpUrU1DbQa8XLVVO","name":"CuratedArticleURLs"}],"shared":[{"updatedAt":"2025-12-03T13:40:03.107Z","createdAt":"2025-12-03T13:40:03.107Z","role":"workflow:owner","workflowId":"BGCgCliQbEcIHT2r","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null}}]}]