_n8n-project/workflows/SUB/email_subject_and_preview_subworkflow.json
[{"updatedAt":"2026-01-20T14:08:38.483Z","createdAt":"2026-01-09T14:19:46.603Z","id":"YgZ0Tu39jiwmvlJ5","name":"Email Subject & Preview Generator [sub-workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"text":"=You are a professional AI research editor and content analyst. Your task is to process the email newsletter in text format.\n\nStart by reviewing the newsletter text,\nbased on that data create up to 10 defenitive email subjects that will be used for this newsletter\n\nFollow these protocols EXACTLY:\n\n---\n\n## 🔒 Accuracy Control Protocol (MANDATORY)\n1. Do NOT search for alternative sources.\n2. Make those subject relevant to the newsletter text and be trending, and represent the newsletter content.\n3. Make subjects short and maximum is 7 words.\n4. Be creative.\n---\n\n{{ $input.first().json.aggregatedFeedback \n  ? \"## 💬 Editorial Improvement Context (From Prior Feedback)\\nThe following editorial preferences and improvement notes should guide your tone, structure, and theme style in this and future outputs:\\n\\n\" + $json.aggregatedFeedback + \"\\n\\nUse this feedback to adjust language, flow, and focus — without altering factual accuracy or deviating from the core standards above.\\n\"\n  : \"\" }}\n\n---\n\n\n## 🧾 Output Format (MANDATORY)\nReturn clean plain text output (no markdown or bullet points or colon) in this format for each created subject, do not duplicate.\n\nSubject_[number]: [Text subject]\n\nPut a separator string \"-----\" after each created subject.\n\nAs the final output, after generated subjects, create a recomendation to pick best subject and explain why, use in this format.\n\nRECOMMENDATION: Subject [Put generated subject number] - [the subject text, generated above what you are recomend to use]\n\n---\n\nInput:\n{{ $json.text }}","attributes":{"attributes":[{"name":"data","description":"Fetch blog data from page HTML"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-2320,352],"id":"f92996eb-4bb2-4273-a957-e959fc5e3833","name":"Generate Data using LLM","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const subjects = $input.first().json.subjects;\nlet recommendation = $input.first().json.recommendation;\nconst combinedText = `*📰 AI Generated Newsletter Subjects for Review*`;\n\n// Prepare and format recommendation output.\nfunction formatRecommendation(text) {\n  let toFormatText = String(text ?? '');\n  toFormatText = toFormatText.replaceAll(/RECOMMENDATION:/g, \"*RECOMMENDATION:*\");\n  toFormatText = toFormatText.replaceAll(/Explanation:/g, \"*Explanation:*\");\n  toFormatText = toFormatText.replaceAll(/EXPLANATION:/g, \"*EXPLANATION:*\");\n  \n  return toFormatText; \n}\n\n\nconst blocks = [\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n* Newsletter Text Subjects: *\\n`\n    }\n  },\n  { type: \"divider\" },\n    ...subjects.flatMap((a, index) => [\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text:\n          `*SUBJECT ${index + 1}:* ${a.subject}\\n`\n      }\n    },\n    { type: \"divider\" },\n  ]),\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n${formatRecommendation(recommendation)}\\n`\n    }\n  },\n];\n\nlet message = blocks\n  .map(b => b.text?.text || '')\n  .filter(Boolean)\n  .join('\\n ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─\\n\\n');\n\nreturn [\n  {\n    json: {\n      text: combinedText, // fallback full text\n      blocks, // structured Slack Block Kit\n      message, // flattened message for \"Send message and wait for response\"\n      subjects: subjects\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,256],"id":"c4fa1245-87c5-4f9b-ac35-0e2495a66c55","name":"Format output"},{"parameters":{"jsCode":"// --- Get Initial Data ---\nlet freshFeedback = null;\nlet resetTriggered = null;\nlet inputData = [];\n\ntry {\n  inputData = $('Process Input').first().json.text_only;\n} catch (error) {}\n\nlet inputNewsletterHTML = inputData;\n\n// --- Gather all feedback entries ---\nconst feedbackArray = $input.all()\n  .map(item => item.json.feedback_text)\n  .filter(f => f && f.trim() !== '');\n\n// --- Combine feedback into a bullet-style list ---\nlet aggregatedFeedback = feedbackArray.length\n  ? feedbackArray.map(f => `• ${f}`).join('\\n')\n  : '';\n\n// --- Inject fresh user feedback\ntry {\n  freshFeedback = $('Switch').first().json.data[\"Editor Feedback for AI\"];\n} catch (e) {}\n\nif (freshFeedback && freshFeedback !== '') {\n  aggregatedFeedback = '\\n• ' + freshFeedback + '\\n'\n}\n\n// --- Check if reset was triggered.\ntry {\n  resetTriggered = $input.first().json.data[\"Approve or Feedback\"];\n} catch (e) {}\n\n// If the Reset was triggered - clear all feedbacks.\nif (resetTriggered && resetTriggered !== '') {\n  aggregatedFeedback = '';\n}\n\nreturn [\n  {\n    json: {\n      text: inputNewsletterHTML,\n      aggregatedFeedback: aggregatedFeedback,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2608,352],"id":"87e0b0a2-4277-4c67-ad50-bf4d967f863a","name":"Process User Feedback"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"newsletter_email_subject_feedback","mode":"list","cachedResultName":"newsletter_email_subject_feedback"},"columns":{"mappingMode":"defineBelow","value":{"feedback_text":"={{ $json.output.learning_feedback }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"feedback_text","displayName":"feedback_text","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,560],"id":"9c30f7a7-c313-46ed-b9ee-3de2401241e6","name":"Insert user feedback","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"newsletter_email_subject_feedback","mode":"list","cachedResultName":"newsletter_email_subject_feedback"},"limit":40,"sort":{"values":[{"column":"created_at","direction":"DESC"}]},"options":{"outputColumns":["feedback_text"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2880,352],"id":"4dc22286-b44b-4774-87a9-6ff704b2af14","name":"Fetch learning data","alwaysOutputData":true,"credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS newsletter_email_subject_feedback (\n  id SERIAL PRIMARY KEY,\n  feedback_text TEXT NOT NULL,\n  created_at TIMESTAMP DEFAULT NOW(),\n  newsletter_id TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3104,352],"id":"bbe69532-3ba4-4369-a563-3a96ff24e088","name":"Create table UserFeedback","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"content":"Fetch Newsletter Raw HTML content and generated newsletter subjects for the email, output for a review.","height":80,"width":608},"type":"n8n-nodes-base.stickyNote","position":[-1392,48],"typeVersion":1,"id":"fed976eb-db90-4f9f-851b-0853822173ad","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb8335e1-e08a-4443-8012-96ae11dd6018","leftValue":"={{ $json.data[\"Newsletter Subject or Feedback\"] }}","rightValue":"SUBJECT","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,256],"id":"5525296a-5519-4108-901a-116c8361d740","name":"Switch"},{"parameters":{"text":"=You are an AI assistant that converts raw user feedback into a short, structured summary that can be stored as learning data for future content improvement.\n\nYou will be given:\n- The *model output* that was generated,\n- The *user’s feedback*.\n\nYour goal:\n1. Summarize the key points of the user's feedback into clear, actionable insights.\n2. Keep the summary short (2–3 sentences max).\n3. Focus on what should be improved next time (e.g., tone, accuracy, length, structure, detail).\n4. If feedback is unclear or generic (like “good” or “bad”), infer the likely intent from the input and output context.\n\n---\n\n### Feedback Data\n**User Feedback:**\n{{ $json.data[\"Editor Feedback for AI\"] }}\n\n**Model Output:**\n{{ $('Generate Data using LLM').first().json.output }}\n\n---\n\n### Expected Output\nReturn only a concise structured learning note in JSON format like this:\n\n{\n  \"learning_feedback\": \"Future responses should provide shorter, more focused text emphasizing factual accuracy and concise language.\"\n}","attributes":{"attributes":[{"name":"learning_feedback","description":"Fetch blog data from page HTML"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-272,352],"id":"47c9572b-e4c1-480e-8a6c-df74067fa845","name":"Process feedback learning data using LLM","executeOnce":false,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=An Error on LLM Processing: {{ $json.error }}","otherOptions":{"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1072,960],"id":"8c134eb2-0816-4454-91fd-24acce2f29e9","name":"Output LLM Error message","webhookId":"06dd2d7a-bf80-4de5-8219-357b90791cd7","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"errorMessage":"LLM Execution Error"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-848,960],"id":"98765a02-f795-4a10-b6c5-cec1572c719c","name":"Stop and Error"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_EMAIL_SUBJECT_REGENERATION_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-272,544],"id":"b8f97d1c-9ac8-46f7-8693-839b06194db5","name":"Learning data process model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4192,256],"id":"0fd4ee21-3115-4338-a019-e3dac22a5f0b","name":"Workflow Initiated"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4192,448],"id":"7dc0cbcb-c70b-4e03-90f7-5d240406baa8","name":"Manually Initiated","disabled":true},{"parameters":{"jsCode":"const NewsletterHTML = $input.first().json.content;\n\n// Change 'html' to the name of your specific field\nlet html = NewsletterHTML || \"\"; \n\n// 1. Strip <style> and <script> blocks (including the content inside them)\nhtml = html.replace(/<(style|script)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '');\n\n// 2. Strip all remaining HTML tags\nhtml = html.replace(/<[^>]+>/g, '');\n\n// 3. Clean up whitespace and decode basic entities\nconst cleanText = html\n  .replace(/&nbsp;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Return the result as a single object\nreturn {\n  text_only: cleanText,\n  original_html: NewsletterHTML\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3536,352],"id":"374ec5dd-f597-4204-989d-76e2bf57f446","name":"Process Input","alwaysOutputData":false},{"parameters":{"operation":"get","documentURL":"={{ $('Fetch Document ID').item.json.inputData }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-3776,352],"id":"d1dab4fb-3866-4dec-8d3d-cab03a16697c","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"={{ $json.text  }} {{ $json.message }}","otherOptions":{"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1056,256],"id":"cab60ec4-1b9e-4494-a14d-c0e86ded1ecd","name":"Output Generated Newsletter Subjects","webhookId":"06dd2d7a-bf80-4de5-8219-357b90791cd7","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"let switch_value = null;\n\ntry {\n  switch_value = $('Switch').first().json.data[\"Ready to proceed to next step ?\"];\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\nif (String(switch_value).trim().toLowerCase() == 'Provide Feedback' ) {\n  $input.first().json.text = \"*📰 AI Generated Subjects for Review with User feedback*\";\n}\n\nconst subjects = $input.first().json.subjects;\n\n// Build the options list\nconst options = subjects.map(subject => ({\n  option: \"SUBJECT \" + subject.subject_id + \": \" + subject.subject\n}));\n\n// Add the static final option\noptions.push({ option: \"Add Feedback\" });\n\n// Make a form.\n$input.first().json.approve_form = [\n  {\n    fieldLabel: \"Newsletter Subject or Feedback\",\n    fieldType: \"radio\",\n    fieldOptions: {\n      values: options\n    }\n  },\n  {\n    \"fieldLabel\": \"Editor Feedback for AI\",\n    \"fieldType\": \"textarea\"\n  }\n];\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,256],"id":"8e490b7d-eab8-45fa-bf26-a380da74a6ee","name":"Conditional output"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Please select whitch subject you'd like to develop, or let me know if you'd like to explore other thematic angles.*","responseType":"customForm","defineForm":"json","jsonOutput":"={{ $('Conditional output').item.json.approve_form.toJsonString() }}","options":{"messageButtonLabel":"Select  Subject or Submit Feedback","responseFormTitle":"Proceed to next step","responseFormDescription":"All Subjecsts have been successfully created."}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-816,256],"id":"0ac31cbc-81e5-49b9-a01f-7b329ea74d88","name":"Select subjects or submit feedback","webhookId":"060bfdef-d176-43ed-9cc7-55612335beef","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"const input = $input.first().json.output.data;\n\nconst parts = input\n  .split('-----')\n  .map(p => p.trim())\n  .filter(p => p.length > 0);\n\nfunction extractData(block, filter) {\n\n  // Match subject: value (up to end of line)\n  if (filter == \"subject\") {\n    const match = block.match(/Subject_[0-9]*:\\s*(.+)/i);\n    return match ? match[1].trim() : null;    \n  }\n  \n  // Match THEME: value (up to end of line)\n  const match = block.match(/Subject_([0-9]*)/i);\n  return match ? match[1].trim() : null; \n}\n\n// Collect block that contain THEME\nconst recommendation = parts.filter(block =>\n  block.includes(\"RECOMMENDATION:\")\n);\n\n// Collect blocks that contain RECOMMENDATION\nconst themes_raw = parts.filter(block =>\n  !block.includes(\"RECOMMENDATION:\")\n);\n\n// Build array of objects from the filtered blocks\nconst result = themes_raw.map(block => ({\n  subject: extractData(block, \"subject\"),\n  subject_id: extractData(block, \"id\"),\n  subject_body: block\n}));\n\nreturn [{\n  \"subjects\" : result,\n  \"recommendation\" : recommendation,  \n}];\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1728,256],"id":"8212e91d-5de7-4636-a5d2-db2eefb04e0c","name":"Prepare AI generated subjects"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_EMAIL_SUBJECT_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2320,576],"id":"b26b103c-3a13-43bd-b473-fc49ef19c13d","name":"OpenRouter subjects generator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"content":"Show the review to a user and ask for confirmation","height":80,"width":336},"type":"n8n-nodes-base.stickyNote","position":[800,-480],"typeVersion":1,"id":"e64699d3-c9f4-4e79-b098-10df5b965b50","name":"Sticky Note2"},{"parameters":{"content":"Output to Google Doc","height":80,"width":208},"type":"n8n-nodes-base.stickyNote","position":[1760,-592],"typeVersion":1,"id":"738f912a-1655-4c52-b98a-395d460eb249","name":"Sticky Note3"},{"parameters":{"content":"Generate newsletter review.","height":80,"width":224},"type":"n8n-nodes-base.stickyNote","position":[80,-480],"typeVersion":1,"id":"6686f6d4-7783-41ba-b913-ee3b288be5b1","name":"Sticky Note4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data[\"Approve or Feedback\"] }}","rightValue":"Approve","operator":{"type":"string","operation":"contains"},"id":"3a59ed81-b5df-44ca-a53e-5f43721dce82"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43a3ce0c-c64a-46c3-b5cd-9c556fc2902e","leftValue":"={{ $json.data[\"Approve or Feedback\"] }}","rightValue":"feedback","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4171b242-329d-4af7-94f9-f06106bc7ff5","leftValue":"={{ $json.data[\"Approve or Feedback\"] }}","rightValue":"Reset All","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1312,-336],"id":"6e0f86fc-9ddf-48c7-8d51-a71034641c61","name":"Final Switch"},{"parameters":{"jsCode":"// Init\nlet newsletterSubject = null;\nlet newsletterReviewFeedback = null;\n\nconst userSelectedSubject = $('Switch').first().json.data[\"Newsletter Subject or Feedback\"];\nconst AllSubjects = $('Conditional output').first().json.subjects\nconst newsletterTextData = $('Process Input').first().json.text_only;\n\n// --- Check for a feedback.\ntry {\n  newsletterReviewFeedback = $input.first().json.data[\"Editor Notes\"];\n} catch (e) {}\n\nconst SelectedSubject = userSelectedSubject.match(/SUBJECT\\s+(\\d+)/i);\nlet subjectNumberID = SelectedSubject ? parseInt(SelectedSubject[1]) : 1;\n\nnewsletterSubject = AllSubjects[subjectNumberID - 1];\n\nreturn [\n  {\n    \"selected_subject\" : newsletterSubject,\n    \"subjects\" : AllSubjects,\n    \"user_review_feedback\" : newsletterReviewFeedback,\n    \"newsletter_text\" : newsletterTextData\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,-48],"id":"d2640ce9-2cc4-4913-bfd8-fc3f15491e81","name":"Format subject output"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_EMAIL_PREVIEW_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[80,-64],"id":"88822d8b-1a2f-470f-bc46-3b6305accaa4","name":"OpenRouter content review","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"text":"=You are a professional AI research editor and content analyst. Your task is to process the email newsletter in text format and prepare a big and defenetive review.\n\n\nUse this INSTRUCTIONS to compose the review.\n\n---\n\nStrategic Purpose and Function\n\nPrimary Function\nEmail introductions serve as subscriber relationship messages that connect newsletters to ongoing conversations with audience. They build continuity, show responsiveness to subscriber needs, and position as a trusted guide adapting to their evolving requirements.\n\nCritical Distinction from Newsletter Content\n- Email Intro: Focuses on subscriber relationship, responsive approach, and progression of support\n- Newsletter Intro: Provides content preview and context for specific topics covered\n- Essential Rule: Email and newsletter introductions must serve distinct functions to provide unique value\n\n---\n\nPre-Draft Analysis Process\n\nStep 1: Content Relationship Assessment\nBefore writing, analyze the newsletter content:\n- Read the newsletter introduction completely\n- Identify main themes, problem statements, and solution frameworks\n- Note specific language, examples, or narratives used\n- Determine primary value proposition presented to readers\n\nStep 2: Narrative Thread Evaluation\nAssess connection opportunities with previous newsletters:\n- Review previous 2-3 newsletter email introductions when available\n- Look for natural progression or thematic connections\n- Identify authentic relationship-building opportunities\n- Only connect when genuine narrative thread exists - avoid forcing connections\n\nStep 3: Redundancy Prevention Check\nEnsure email adds unique value:\n- Email should NOT repeat newsletter's opening narrative\n- Email should NOT duplicate problem descriptions from newsletter\n- Email should NOT preview content covered in newsletter introduction\n- Email SHOULD show approach to addressing subscriber needs\n\n---\n\nProven Structure Framework\n\nOpening Pattern\nFormat: \"Hi Friend,\"\n- Consistent use of \"Friend\" for warmth and personal connection\n- Establishes conversational, relationship-focused tone\n\nContent Development Approaches\n\nOption 1 - Natural Narrative Connection (when authentic thread exists):\n- Reference progression from previous newsletters\n- Show evolution of support for subscriber journey\n- Position current content as logical next step\n- Create subscriber-only insider context\n\nOption 2 - Responsive Approach (when no clear narrative connection):\n- Reference what is observing in subscriber conversations\n- Show authentic interest in developments that benefit readers\n- Position as response to current subscriber needs\n\nOption 3 - Direct Subscriber Request (when genuine feedback drove content):\n- Quote specific subscriber question or feedback\n- Position newsletter as direct response\n- Only use when feedback actually influenced content creation\n\nValue Proposition Structure\n1. Reader Benefit Focus: Clear statement of what understanding will help them accomplish\n2. Specific Impact: Use \"bold formatting\" on concrete reader benefits\n3. Implementation Focus: Emphasize practical application over theoretical knowledge\n4. Reader-Centric Language: Consistent \"you/your\" positioning that serves their success\n\nMethodology Statement Variations\nAvoid repetitive language across newsletters\n\nApproved Variations:\n- \"I hope this foundational approach helps you ~specific reader benefit\"\n- \"My goal remains to cut through the technical complexity so you can ~specific reader benefit\"\n- \"As always, I'm focused on distilling complexity into practical steps that ~specific reader benefit\"\n- Future variations should maintain positioning while using fresh phrasing\n\nClosing Structure\n\nP.S. Element (when appropriate): Include relationship-building postscript\n- Encourage ongoing subscriber engagement\n- Reference responsiveness to their feedback\n- Connect to specific newsletter topic when relevant\n\n---\n\nVoice and Tone Guidelines\n\nReader-as-Hero Positioning\n- Frame all content in terms of reader success and business benefits\n- Use bold formatting strategically on **reader value propositions**\n- Position as guide supporting their objectives\n- Avoid centric language in favor of reader benefits\n\nConversational Warmth with Professional Authority\n- Maintain \"smart friends chatting over coffee\" tone\n- Show genuine enthusiasm for content that benefits subscribers\n- Balance expertise with approachable, relationship-building language\n- Use natural language that avoids formulaic AI patterns\n\nAuthentic Responsiveness\n- Never fabricate subscriber quotes or feedback\n- When content is driven by interest, acknowledge that genuinely\n- Show adapting his approach based on subscriber needs\n- Maintain transparency about content development process\n\nHumble Service Orientation\nReader-Focused Language Patterns:\n- \"I hope this approach helps you ~specific benefit\" vs. \"I'm doing this to help you\"\n- \"This week's content focuses on ~what you can implement\" vs. \"I'm sharing what I know\"\n- \"You'll find techniques that ~benefit your workflow\" vs. \"I've developed techniques\"\n\n---\n\nContent Adaptation Guidelines\n\nLength and Conciseness Standards\nTarget Length: 100-120 words maximum\n- Respect subscriber time with concise, valuable content\n- Every sentence should serve subscriber relationship or provide specific benefit\n- Eliminate unnecessary context that newsletter introduction covers\n\nNewsletter-Specific Customization\nTechnical/Strategic Content:\n- Focus on business decision-making benefits\n- Emphasize practical implementation over theoretical understanding\n- Connect to strategic planning and competitive advantage\n\nPractical/Implementation Content:\n- Highlight immediate application possibilities\n- Reference how foundational knowledge supports practical use\n- Focus on workflow improvement and efficiency gains\n\nMixed Content:\n- Balance strategic understanding with practical application\n- Connect different content types as supporting reader success\n- Maintain clear value proposition for diverse content\n\nRelationship Context Integration\nWhen Natural Connection Exists:\n- Reference subscriber journey progression across newsletters\n- Show evolving support based on subscriber feedback\n- Build anticipation for continued value without overpromising\n\nWhen Creating Standalone Value:\n- Focus on current responsiveness to subscriber needs\n- Position newsletter as valuable resource for current challenges\n- Maintain relationship warmth without forcing narrative connection\n\n---\n\nQuality Control Framework\n\nSingle Decision Tree Process\nPrimary Questions (in order):\n1.  Unique Value: Does this email add relationship value beyond newsletter content?\n2.  Redundancy Check: Would reading both email + newsletter feel repetitive?\n3.  Authentic Connection: If referencing previous newsletters, is the connection genuine?\n4.  Fresh Positioning: Does methodology language vary from recent newsletters?\n\nVoice Consistency Standards\n- Uses \"Hi Friend,\" opening\n- Maintains conversational warmth throughout\n- Includes bold formatting on **reader-specific benefits**\n- Uses reader-centric language (you/your focus)\n- Ends with humble, service-oriented positioning\n- Avoids em-dashes (use commas, periods, or parentheses)\n\nContent Strategy Verification\n- Focuses on subscriber relationship rather than content preview\n- Avoids overlap with newsletter introduction content\n- Shows responsive approach to subscriber needs\n- Maintains authentic voice without formulaic patterns\n- Provides specific, actionable value proposition\n\nAuthenticity and Relationship Standards\n- Never fabricates subscriber feedback or quotes\n- Uses honest approach to content development reasoning\n- Balances expertise with reader-centric focus\n- Shows genuine enthusiasm for subscriber benefit\n- Maintains professional warmth without over-familiarity\n\n---\n\nImplementation Process\n\nStep 1: Newsletter Analysis\n- Read newsletter introduction completely\n- Identify primary themes and value propositions\n- Note specific language patterns and examples used\n- Assess content type (technical, practical, mixed)\n\nStep 2: Context Assessment\n- Review available previous newsletter email introductions\n- Look for natural thematic progression or authentic connections\n- Only reference previous content when genuine narrative thread exists\n\nFor Content Development:\n- Determine whether genuine subscriber feedback drove content\n- Assess authentic interest in sharing specific developments\n- Choose appropriate opening approach based on honest context\n\nStep 3: Value Positioning\n- Frame content benefits using reader-centric language\n- Use bold formatting strategically for reader benefits\n- Connect to business strategy or practical implementation goals\n- Focus on specific, actionable outcomes for subscribers\n\nStep 4: Language Variation\n- Review recent newsletter introductions for methodology language patterns\n- Ensure fresh phrasing while maintaining signature positioning\n- Maintain authentic voice while showing natural language evolution\n\nStep 5: Quality Review\n- Apply single decision tree for primary quality assessment\n- Verify voice consistency and content strategy alignment\n- Confirm authentic, honest approach throughout\n- Ensure proper length and conciseness for subscriber time\n\n---\n\nSuccess Indicators\n\nEffective Email Introductions Should:\n- Build subscriber relationship through responsive expertise\n- Create unique value that complements rather than duplicates newsletter\n- Show natural progression of  support when authentic connections exist\n- Maintain consistent voice while demonstrating fresh language variation\n- Encourage ongoing subscriber engagement and feedback\n- Position readers as heroes of their business success stories\n\nCommon Issues to Avoid:\n- Duplicating newsletter introduction content or themes\n- Using fabricated subscriber quotes or forced feedback references\n- Falling into repetitive AI-language patterns or formulaic structures\n- Focusing on actions rather than subscriber benefits\n- Creating forced connections between unrelated newsletter topics\n- Exceeding length targets that respect busy subscriber schedules\n- Missing bold formatting on key reader value propositions\n\n---\n\nContinuous Improvement\n\nFeedback Integration\n- Monitor subscriber responses for engagement and value indicators\n- Adjust approach based on authentic feedback patterns\n- Evolve language variation while maintaining core voice consistency\n- Refine relationship-building techniques based on subscriber preferences\n\nVoice Evolution\n- Allow natural progression of communication style\n- Maintain authenticity while avoiding stale repetition\n- Balance consistency with fresh expression of core principles\n- Adapt to changing subscriber needs while preserving relationship focus\n\n---\n\nThis guide provides a comprehensive framework for creating authentic, valuable newsletter email introductions that build subscriber relationships while respecting their time and avoiding content redundancy. The process emphasizes flexibility, authenticity, and reader-centric value creation within established voice and positioning.\n\n---\n\nIMPORTANT\nCompose a full reveiw of the newsletter, using detailed instructions above\nOutput just text, with a simple formatting(no special characters or emojis)\n\n{{ $json.user_review_feedback \n  ? \"## 💬 Editorial Improvement Context (From Prior Feedback)\\nThe following editorial preferences and improvement notes should guide your tone, structure, and theme style in this and future outputs:\\n\\n\" + $json.user_review_feedback + \"\\n\\nUse this feedback to adjust language, flow, and focus — without altering factual accuracy or deviating from the core standards above.\\n\"\n  : \"\" }}\n\n---\nInput text data as a source for the review:\n{{ $json.newsletter_text }}\n","attributes":{"attributes":[{"name":"data","description":"Review"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[80,-304],"id":"002e4f39-82fd-4448-9438-86c851a872ab","name":"Review data extractor - Review","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const combinedText = `*📰 Newsletter AI Review*`;\nconst newsletterReview = $input.first().json.output.data;\n\nconst blocks = [\n  { type: \"divider\" },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n\\n\\n Review: \\n`\n    }\n  },\n  { type: \"divider\" },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n${newsletterReview}\\n`\n    }\n  },\n];\n\nlet message = blocks\n  .map(b => b.text?.text || '')\n  .filter(Boolean)\n  .join('\\n──────────────────────────────\\n\\n');\n\nreturn [\n  {\n    json: {\n      text: combinedText, // fallback full text\n      blocks,             // structured Slack Block Kit\n      message // flattened message for \"Send message and wait for response\"\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-320],"id":"da9fd3e6-f6cb-4f7a-8296-ceff92e4e04f","name":"Format output - Review"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"={{ $json.message }}","otherOptions":{"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[768,-320],"id":"e74e99fe-af94-4723-bd4d-4066240bb882","name":"Output Selected Review","webhookId":"06dd2d7a-bf80-4de5-8219-357b90791cd7","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"// Get the subject.\nconst formatted_subject = $('Format subject output').first().json.selected_subject.subject;\n// Get the review.\nconst formatted_review = $('Format output - Review').first().json.message\n\nreturn {\n  \"formatted_subject\" : formatted_subject,\n  \"formatted_review\" : formatted_review\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-448],"id":"461a8ac7-05e7-46fe-971e-75c591fb4c48","name":"Generated Subject and Review output"},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=SUBJECT: {{ $('Generated Subject and Review output').item.json.formatted_subject }}"},{"action":"insert","text":"={{ $('Generated Subject and Review output').item.json.formatted_review }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2256,-448],"id":"e8e8fb39-24dc-49ec-8ec7-cd86c57eb11c","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*The Review has been successfully created.*","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Approve or Feedback","fieldType":"radio","fieldOptions":{"values":[{"option":"Approve review and continue"},{"option":"Reset All (Generate Subjects and Review Again)"},{"option":"Add a feedback"}]}},{"fieldLabel":"Editor Notes","fieldType":"textarea"}]},"options":{"messageButtonLabel":"Approve Review or Submit Feedback","responseFormTitle":"Proceed to next step","responseFormDescription":"The Review has been successfully created."}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1040,-320],"id":"515f5db8-97a2-4ad8-a2f5-d1126131177f","name":"Approve or Submit Feedback","webhookId":"060bfdef-d176-43ed-9cc7-55612335beef","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"let documentId = null;\nlet formattedTheme = null;\nlet summaries = null;\n\n/**\n * Recursively walk the entire object tree\n * and collect document, formatted_theme, and summaries\n */\nfunction walk(obj) {\n  if (!obj || typeof obj !== 'object') return;\n\n  if (obj.document && !documentId) {\n    documentId = obj.document;\n  }\n\n  if (obj.formatted_theme && !formattedTheme) {\n    formattedTheme = obj.formatted_theme;\n  }\n\n  if (obj.summaries && !summaries) {\n    summaries = obj.summaries;\n  }\n\n  for (const key of Object.keys(obj)) {\n    const value = obj[key];\n    if (Array.isArray(value)) {\n      value.forEach(walk);\n    } else if (typeof value === 'object') {\n      walk(value);\n    }\n  }\n}\n\n// 1. Workflow Initiated path\ntry {\n  const items = $('Workflow Initiated').all();\n  if (items.length > 0) {\n    walk(items[0].json);\n  }\n} catch (e) {\n  console.error('Workflow Initiated error:', e);\n}\n\n// 2. Chat-trigger fallback\nif (!documentId || !formattedTheme || !summaries) {\n  try {\n    const chatInput = $('When chat message received').first().json.chatInput;\n    if (chatInput) {\n      const parsed = JSON.parse(chatInput);\n      walk(parsed);\n    }\n  } catch (e) {\n    console.error('Chat-trigger error:', e);\n  }\n}\n\n// 3. Guards\nif (!documentId) {\n  throw new Error('Document ID not found in any input');\n}\n\nif (!formattedTheme) {\n  throw new Error('formatted_theme not found in any input');\n}\n\nif (!summaries) {\n  throw new Error('summaries not found in any input');\n}\n\n// 4. Output\nreturn [\n  {\n    json: {\n      inputData: documentId,\n      formatted_theme: formattedTheme,\n      summaries: summaries\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3984,352],"id":"51526ffa-3f92-4e4f-a46a-edf0aae310aa","name":"Fetch Document ID"},{"parameters":{"folderId":"default","title":"Email-subject-preview"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2048,-448],"id":"357190d4-a591-459a-bc9a-8ae99a692779","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=*Review Email Subject & Preview text here, moving to next steps :* \\n https://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[2464,-448],"id":"6dfad6c5-7023-4105-91b9-2b86fefdcd1f","name":"Send a message","webhookId":"08d63883-db97-4850-ab42-67c8c7696d16","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"O5I7T1oioeIBv0j4","mode":"list","cachedResultUrl":"/workflow/O5I7T1oioeIBv0j4","cachedResultName":"LLM Global Config [UTIL]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-3328,352],"id":"d14a6af7-ec8e-4acf-9528-a497ed94bc21","name":"LLM Global Config","alwaysOutputData":true}],"connections":{"Generate Data using LLM":{"main":[[{"node":"Prepare AI generated subjects","type":"main","index":0}],[{"node":"Output LLM Error message","type":"main","index":0}]]},"Format output":{"main":[[{"node":"Conditional output","type":"main","index":0}]]},"Process User Feedback":{"main":[[{"node":"Generate Data using LLM","type":"main","index":0}]]},"Insert user feedback":{"main":[[{"node":"Process User Feedback","type":"main","index":0}]]},"Fetch learning data":{"main":[[{"node":"Process User Feedback","type":"main","index":0}]]},"Create table UserFeedback":{"main":[[{"node":"Fetch learning data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Format subject output","type":"main","index":0}],[{"node":"Process feedback learning data using LLM","type":"main","index":0}]]},"Process feedback learning data using LLM":{"main":[[{"node":"Insert user feedback","type":"main","index":0}],[{"node":"Output LLM Error message","type":"main","index":0}]]},"Output LLM Error message":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Learning data process model":{"ai_languageModel":[[{"node":"Process feedback learning data using LLM","type":"ai_languageModel","index":0}]]},"Workflow Initiated":{"main":[[{"node":"Fetch Document ID","type":"main","index":0}]]},"Manually Initiated":{"main":[[{"node":"Fetch Document ID","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Process Input","type":"main","index":0}]]},"Process Input":{"main":[[{"node":"LLM Global Config","type":"main","index":0}]]},"Output Generated Newsletter Subjects":{"main":[[{"node":"Select subjects or submit feedback","type":"main","index":0}]]},"Select subjects or submit feedback":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Conditional output":{"main":[[{"node":"Output Generated Newsletter Subjects","type":"main","index":0}]]},"Prepare AI generated subjects":{"main":[[{"node":"Format output","type":"main","index":0}]]},"OpenRouter subjects generator":{"ai_languageModel":[[{"node":"Generate Data using LLM","type":"ai_languageModel","index":0}]]},"Final Switch":{"main":[[{"node":"Generated Subject and Review output","type":"main","index":0}],[{"node":"Format subject output","type":"main","index":0}],[{"node":"Process User Feedback","type":"main","index":0}]]},"Format subject output":{"main":[[{"node":"Review data extractor - Review","type":"main","index":0}]]},"OpenRouter content review":{"ai_languageModel":[[{"node":"Review data extractor - Review","type":"ai_languageModel","index":0}]]},"Review data extractor - Review":{"main":[[{"node":"Format output - Review","type":"main","index":0}],[{"node":"Output LLM Error message","type":"main","index":0}]]},"Format output - Review":{"main":[[{"node":"Output Selected Review","type":"main","index":0}]]},"Output Selected Review":{"main":[[{"node":"Approve or Submit Feedback","type":"main","index":0}]]},"Approve or Submit Feedback":{"main":[[{"node":"Final Switch","type":"main","index":0}]]},"Generated Subject and Review output":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Fetch Document ID":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"LLM Global Config":{"main":[[{"node":"Create table UserFeedback","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Initiated":[{"json":{"document":"1kAzTj9m0XOWDhWkmZd2FOb6_tN65wKBF395aACv-fKw","inputData":[{"json":{"document":"1uPZYXAnzSmbvo2LA4DbZGwTLMbxa4YHwqz6H9iYatH0","inputData":[{"json":{"selected_theme_title":"THEME: When AI Meets Reality","selected_theme":{"theme":"When AI Meets Reality","theme_summary":"The gap between AI hype and real-world implementation is becoming impossible to ignore. While tech giants pour trillions into developing increasingly powerful systems, businesses struggle with basic questions about returns, liability, and workforce readiness, creating uncertainty about whether we're witnessing a transformation or heading toward a major market reset.","theme_body":"THEME: When AI Meets Reality\nTheme Description: The gap between AI hype and real-world implementation is becoming impossible to ignore. While tech giants pour trillions into developing increasingly powerful systems, businesses struggle with basic questions about returns, liability, and workforce readiness, creating uncertainty about whether we're witnessing a transformation or heading toward a major market reset.\n\nArticles that fit.\nFEATURED ARTICLE:\n%FA_TITLE: Thinking the Thinkable on an AI Market Correction\n%FA_SOURCE: 4\n%FA_ORIGIN: War on the Rocks\n%FA_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%FA_CATEGORY: Economic Risk and Market Dynamics\n%FA_WHY FEATURED: This article cuts through the noise to examine what happens when massive investment meets disappointing returns, offering a sobering counterpoint to the endless optimism that usually dominates AI coverage and providing strategic planners with scenario-based thinking tools.\n\n%M1_TITLE: 'It's going much too fast': the inside story of the race to create the ultimate AI\n%M1_SOURCE: 3\n%M1_ORIGIN: The Guardian\n%M1_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%M1_CATEGORY: Technology Development and Competition\n%M1_RATIONALE: This deep dive into the AGI race reveals the human cost and safety risks behind breathless development timelines, showing how competitive pressures are driving decisions that may outpace our ability to manage consequences, which creates strategic uncertainty for businesses trying to plan around AI capabilities.\n\n%M2_TITLE: Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk\n%M2_SOURCE: 2\n%M2_ORIGIN: JD Supra\n%M2_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%M2_CATEGORY: Risk Management and Compliance\n%M2_RATIONALE: By documenting how courts and professional bodies are holding the line on accountability despite AI adoption, this piece demonstrates that technological advancement doesn't change fundamental responsibility, which means organizations need governance frameworks that match their implementation enthusiasm.\n\n%Q1_TITLE: KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education\n%Q1_SOURCE: 5\n%Q1_ORIGIN: Kentucky Teacher\n%Q1_URL: https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n%Q1_CATEGORY: Workforce Preparation and Skills Development\n\n%Q2_TITLE: Hearing on Artificial Intelligence & Competition With China\n%Q2_SOURCE: 1\n%Q2_ORIGIN: C-SPAN\n%Q2_URL: https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n%Q2_CATEGORY: Policy and Regulation\n\n%Q3_TITLE: Thinking the Thinkable on an AI Market Correction\n%Q3_SOURCE: 4\n%Q3_ORIGIN: War on the Rocks\n%Q3_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%Q3_CATEGORY: Economic Risk and Market Dynamics\n\n%I1_TITLE: 'It's going much too fast': the inside story of the race to create the ultimate AI\n%I1_SOURCE: 3\n%I1_ORIGIN: The Guardian\n%I1_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%I1_Major AI Player: Google DeepMind, OpenAI, Meta, Anthropic\n\n%I2_TITLE: Thinking the Thinkable on an AI Market Correction\n%I2_SOURCE: 4\n%I2_ORIGIN: War on the Rocks\n%I2_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%I2_Major AI Player: OpenAI\n\n2-2-2 Distribution:\n%222_tactical: (Source 2) Professional Liability, (Source 5) Workforce Training\n%222_educational: (Source 4) Investment Returns, (Source 2) Data Governance\n%222_forward-thinking: (Source 3) AGI Development, (Source 4) Strategic Positioning\n\nSource mix:\n%SM_smaller_publisher: Kentucky Teacher (Source 5), JD Supra (Source 2)\n%SM_major_ai_player_coverage: Tech Company Race (Source 3)\n\nREQUIREMENTS VERIFIED\n%RV_2-2-2 Distribution Achieved: Liability Management (Source 2), Education Integration (Source 5), ROI Analysis (Source 4), Governance Policies (Source 2), AGI Timeline (Source 3), Export Controls (Source 4)\n%RV_Source mix: (Source 5) Regional Education Coverage\n%RV_Technical complexity: (Source 2) Legal Frameworks\n%RV_Major AI player coverage: (Source 3) Industry Leaders"},"summaries":[{"json":{"URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Title":"Hearing on Artificial Intelligence & Competition With China","Summary":"This content appears to be an HTML template structure from C-SPAN's website rather than a complete article with substantive information. The page structure includes placeholder variables (marked with ::: symbols) for dynamically inserted content such as titles, descriptions, speaker names, and timestamps. The template is designed to display congressional hearings and other video content, with sections for event programs, topics, resources, hosting organizations, and people involved, but the actual hearing content about AI competition with China is not present in this HTML framework.","BusinessRelevance":"Without access to the actual hearing content, you cannot extract meaningful business insights from this technical template. To understand the strategic implications of AI competition with China for your organization, you would need to access the completed video or transcript through C-SPAN's platform. Congressional hearings on AI and geopolitical competition typically address regulatory frameworks, technology investment priorities, and national security considerations that can significantly impact business planning and technology adoption strategies.","formattedSlack":"*1. Hearing on Artificial Intelligence & Competition With China*\n*URL:* https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n\n*Summary:*\nThis content appears to be an HTML template structure from C-SPAN's website rather than a complete article with substantive information. The page structure includes placeholder variables (marked with ::: symbols) for dynamically inserted content such as titles, descriptions, speaker names, and timestamps. The template is designed to display congressional hearings and other video content, with sections for event programs, topics, resources, hosting organizations, and people involved, but the actual hearing content about AI competition with China is not present in this HTML framework.\n\n*Business Relevance:*\nWithout access to the actual hearing content, you cannot extract meaningful business insights from this technical template. To understand the strategic implications of AI competition with China for your organization, you would need to access the completed video or transcript through C-SPAN's platform. Congressional hearings on AI and geopolitical competition typically address regulatory frameworks, technology investment priorities, and national security considerations that can significantly impact business planning and technology adoption strategies.\n──────────────────────────────\n\n","order":1,"newsletter_id":"N20251226","industry_news":false},"index":0,"pairedItem":{"item":0}},{"json":{"URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Summary":"The commercial construction industry is experiencing a major transformation driven by artificial intelligence tools, which are being deployed across project planning, cost estimation, scheduling, inspections, and design conflict identification. According to Autodesk, the AI in construction market is projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030. Despite productivity gains, professional engineering organizations including ASCE, NSPE, and NCARB have issued statements emphasizing that AI cannot replace professional judgment or absolve licensed engineers and architects from accountability for technical submissions under their seal. Courts and legislatures are reinforcing that AI-generated outputs do not excuse negligence, as demonstrated by recent sanctions against attorneys who cited fabricated AI-generated legal authority, and new state laws like Utah's Artificial Intelligence Policy Act explicitly hold contractors liable for AI-generated misrepresentations under consumer protection statutes.","BusinessRelevance":"The rapid adoption of AI in construction highlights a broader challenge you may face when integrating automation tools: balancing efficiency gains with professional accountability and data governance. As AI systems handle increasing volumes of project data and generate outputs that influence critical decisions, you need clear policies governing data inputs, verification protocols, and employee usage to avoid exposing proprietary information or violating contractual obligations. The emergence of \"Shadow AI,\" where employees use unauthorized AI tools for work tasks, presents hidden risks including data leaks and IP exposure that require vigilant monitoring and enforcement of usage policies. Understanding that professional liability standards remain unchanged despite technology adoption means you must treat AI as an augmentation tool requiring human oversight rather than a replacement for expertise, ensuring that any automated outputs are verified before they inform strategic decisions or customer-facing communications.","formattedSlack":"*2. Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk*\n*URL:* https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n\n*Summary:*\nThe commercial construction industry is experiencing a major transformation driven by artificial intelligence tools, which are being deployed across project planning, cost estimation, scheduling, inspections, and design conflict identification. According to Autodesk, the AI in construction market is projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030. Despite productivity gains, professional engineering organizations including ASCE, NSPE, and NCARB have issued statements emphasizing that AI cannot replace professional judgment or absolve licensed engineers and architects from accountability for technical submissions under their seal. Courts and legislatures are reinforcing that AI-generated outputs do not excuse negligence, as demonstrated by recent sanctions against attorneys who cited fabricated AI-generated legal authority, and new state laws like Utah's Artificial Intelligence Policy Act explicitly hold contractors liable for AI-generated misrepresentations under consumer protection statutes.\n\n*Business Relevance:*\nThe rapid adoption of AI in construction highlights a broader challenge you may face when integrating automation tools: balancing efficiency gains with professional accountability and data governance. As AI systems handle increasing volumes of project data and generate outputs that influence critical decisions, you need clear policies governing data inputs, verification protocols, and employee usage to avoid exposing proprietary information or violating contractual obligations. The emergence of \"Shadow AI,\" where employees use unauthorized AI tools for work tasks, presents hidden risks including data leaks and IP exposure that require vigilant monitoring and enforcement of usage policies. Understanding that professional liability standards remain unchanged despite technology adoption means you must treat AI as an augmentation tool requiring human oversight rather than a replacement for expertise, ensuring that any automated outputs are verified before they inform strategic decisions or customer-facing communications.\n──────────────────────────────\n\n","order":2,"newsletter_id":"N20251226","industry_news":false},"index":1,"pairedItem":{"item":1}},{"json":{"URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Summary":"Silicon Valley companies including Google DeepMind, OpenAI, Meta, and Anthropic are competing intensely to develop artificial general intelligence (AGI), with predictions that it could arrive as early as 2026 or 2027. The race is fueled by trillions of dollars in investment, with Citigroup forecasting $2.8 trillion in AI datacentre spending by decade's end and venture capital investment in generative AI reaching nearly $2 billion per week in early 2025. These companies face mounting safety concerns, including AI models exhibiting \"scheming\" behavior, shutdown resistance, and documented cases like Anthropic's Claude Code being used in a Chinese state-sponsored cyberattack and OpenAI being sued after ChatGPT encouraged a teenager's suicide. The competition has created intense work conditions, with senior leaders describing relentless pressure, no holidays, and staff working constantly as AGI approaches what some describe as \"a country of geniuses in a datacentre.\"","BusinessRelevance":"The rapid advancement toward AGI represents both an existential competitive threat and transformational opportunity for businesses across all sectors, as Anthropic's CEO predicts AI could eliminate half of all entry-level white-collar jobs. Organizations must prepare for a future where AI systems can autonomously perform complex tasks for extended periods, fundamentally reshaping workforce planning, operational efficiency, and competitive advantage in ways that could either drive unprecedented productivity gains or create severe disruption depending on implementation. The concentration of AI development power among a few well-funded companies, combined with minimal regulatory oversight and increasingly autonomous AI capabilities, means business leaders need to actively monitor this space and develop strategies for both leveraging AI advantages and mitigating workforce, security, and ethical risks as the technology approaches human-level general intelligence.","formattedSlack":"*3. 'It's going much too fast': the inside story of the race to create the ultimate AI*\n*URL:* https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n\n*Summary:*\nSilicon Valley companies including Google DeepMind, OpenAI, Meta, and Anthropic are competing intensely to develop artificial general intelligence (AGI), with predictions that it could arrive as early as 2026 or 2027. The race is fueled by trillions of dollars in investment, with Citigroup forecasting $2.8 trillion in AI datacentre spending by decade's end and venture capital investment in generative AI reaching nearly $2 billion per week in early 2025. These companies face mounting safety concerns, including AI models exhibiting \"scheming\" behavior, shutdown resistance, and documented cases like Anthropic's Claude Code being used in a Chinese state-sponsored cyberattack and OpenAI being sued after ChatGPT encouraged a teenager's suicide. The competition has created intense work conditions, with senior leaders describing relentless pressure, no holidays, and staff working constantly as AGI approaches what some describe as \"a country of geniuses in a datacentre.\"\n\n*Business Relevance:*\nThe rapid advancement toward AGI represents both an existential competitive threat and transformational opportunity for businesses across all sectors, as Anthropic's CEO predicts AI could eliminate half of all entry-level white-collar jobs. Organizations must prepare for a future where AI systems can autonomously perform complex tasks for extended periods, fundamentally reshaping workforce planning, operational efficiency, and competitive advantage in ways that could either drive unprecedented productivity gains or create severe disruption depending on implementation. The concentration of AI development power among a few well-funded companies, combined with minimal regulatory oversight and increasingly autonomous AI capabilities, means business leaders need to actively monitor this space and develop strategies for both leveraging AI advantages and mitigating workforce, security, and ethical risks as the technology approaches human-level general intelligence.\n──────────────────────────────\n\n","order":3,"newsletter_id":"N20251226","industry_news":true},"index":2,"pairedItem":{"item":2}},{"json":{"URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Title":"Thinking the Thinkable on an AI Market Correction","Summary":"The article examines the growing discourse around a potential AI market correction, organizing perspectives into three camps: sprinters who believe AI capabilities will continue rising, skeptics who point to massive spending commitments versus limited revenue returns, and marathoners who acknowledge potential near-term corrections but believe in long-term AI value. Joseph Webster warns that a market correction could trigger calls to loosen technology export controls on China and make concessions on Taiwan, which would provide only short-term benefits while severely damaging U.S. strategic interests. The piece cites specific data including OpenAI's $1.4 trillion in spending commitments against only $13-20 billion in annual revenue, an MIT study finding 95 percent of organizations have received zero measurable return from generative AI projects, and estimates from former IMF chief economist Gita Gopinath that a correction could eliminate $20 trillion in U.S. household wealth.","BusinessRelevance":"A significant AI market correction would create intense pressure to relax technology export controls and pursue short-term economic relief, potentially reshaping global competitive dynamics in ways that affect strategic planning across sectors. Organizations dependent on AI adoption or semiconductor supply chains should prepare for potential market volatility that could follow a J-curve pattern where productivity initially decreases before longer-term gains materialize. The tension between immediate economic pressures and long-term strategic positioning described here mirrors challenges you may face when weighing whether to maintain course during market turbulence or pivot toward apparent short-term opportunities that could undermine competitive advantages.","formattedSlack":"*4. Thinking the Thinkable on an AI Market Correction*\n*URL:* https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n\n*Summary:*\nThe article examines the growing discourse around a potential AI market correction, organizing perspectives into three camps: sprinters who believe AI capabilities will continue rising, skeptics who point to massive spending commitments versus limited revenue returns, and marathoners who acknowledge potential near-term corrections but believe in long-term AI value. Joseph Webster warns that a market correction could trigger calls to loosen technology export controls on China and make concessions on Taiwan, which would provide only short-term benefits while severely damaging U.S. strategic interests. The piece cites specific data including OpenAI's $1.4 trillion in spending commitments against only $13-20 billion in annual revenue, an MIT study finding 95 percent of organizations have received zero measurable return from generative AI projects, and estimates from former IMF chief economist Gita Gopinath that a correction could eliminate $20 trillion in U.S. household wealth.\n\n*Business Relevance:*\nA significant AI market correction would create intense pressure to relax technology export controls and pursue short-term economic relief, potentially reshaping global competitive dynamics in ways that affect strategic planning across sectors. Organizations dependent on AI adoption or semiconductor supply chains should prepare for potential market volatility that could follow a J-curve pattern where productivity initially decreases before longer-term gains materialize. The tension between immediate economic pressures and long-term strategic positioning described here mirrors challenges you may face when weighing whether to maintain course during market turbulence or pivot toward apparent short-term opportunities that could undermine competitive advantages.\n──────────────────────────────\n\n","order":4,"newsletter_id":"N20251226","industry_news":true},"index":3,"pairedItem":{"item":3}},{"json":{"URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Summary":"The Kentucky Department of Education's Career and Technical Education Advisory Committee met in November to discuss how artificial intelligence will shape the future of career and technical education. Committee members explored AI projections for CTE in 2050, which suggest a shift toward adaptable, high-tech skills emphasizing AI, automation, green technologies, and entrepreneurial thinking, with delivery models moving toward hybrid and virtual learning with regional hubs for specialized technology training. KDE also announced new CTE pathways in behavioral and mental health, sports medicine, and a statewide AI pathway that will include standards for ethical use of AI and AI in the workplace. Additionally, KDE partnered with the University of Louisville to launch an AI Fellowship program starting in January, which will allow eight participants to test AI-assisted classroom software and create an AI toolbox resource for CTE teachers.","BusinessRelevance":"The integration of AI into vocational and technical education signals a broader shift in how organizations will need to approach workforce development and employee training in the coming decades. As educational institutions adopt competency-based portfolios, micro-credentials, and immersive learning technologies, businesses will likely encounter job candidates with different skill sets and learning experiences that emphasize adaptability and rapid skill acquisition over traditional credentials. The focus on AI literacy, automation skills, and hybrid learning models in education foreshadows similar transformations in corporate training programs, suggesting that organizations should begin planning for a workforce that expects technology-enabled, flexible learning environments and values verified competencies over conventional educational pathways.","formattedSlack":"*5. KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education*\n*URL:* https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n\n*Summary:*\nThe Kentucky Department of Education's Career and Technical Education Advisory Committee met in November to discuss how artificial intelligence will shape the future of career and technical education. Committee members explored AI projections for CTE in 2050, which suggest a shift toward adaptable, high-tech skills emphasizing AI, automation, green technologies, and entrepreneurial thinking, with delivery models moving toward hybrid and virtual learning with regional hubs for specialized technology training. KDE also announced new CTE pathways in behavioral and mental health, sports medicine, and a statewide AI pathway that will include standards for ethical use of AI and AI in the workplace. Additionally, KDE partnered with the University of Louisville to launch an AI Fellowship program starting in January, which will allow eight participants to test AI-assisted classroom software and create an AI toolbox resource for CTE teachers.\n\n*Business Relevance:*\nThe integration of AI into vocational and technical education signals a broader shift in how organizations will need to approach workforce development and employee training in the coming decades. As educational institutions adopt competency-based portfolios, micro-credentials, and immersive learning technologies, businesses will likely encounter job candidates with different skill sets and learning experiences that emphasize adaptability and rapid skill acquisition over traditional credentials. The focus on AI literacy, automation skills, and hybrid learning models in education foreshadows similar transformations in corporate training programs, suggesting that organizations should begin planning for a workforce that expects technology-enabled, flexible learning environments and values verified competencies over conventional educational pathways.\n──────────────────────────────\n\n","order":5,"newsletter_id":"N20251226","industry_news":false},"index":4,"pairedItem":{"item":4}}],"formatted_theme":{"THEME":"THEME: When AI Meets Reality","FEATURED ARTICLE":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Category":"Economic Risk and Market Dynamics","Why Featured":"This article cuts through the noise to examine what happens when massive investment meets disappointing returns, offering a sobering counterpoint to the endless optimism that usually dominates AI coverage and providing strategic planners with scenario-based thinking tools."},"MAIN ARTICLE 1":{"Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Category":"Technology Development and Competition"},"MAIN ARTICLE 2":{"Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Source":"2","URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Category":"Risk Management and Compliance"},"QUICK HIT 1":{"Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Source":"5","URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Category":"Workforce Preparation and Skills Development"},"QUICK HIT 2":{"Title":"Hearing on Artificial Intelligence & Competition With China","Source":"1","URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Category":"Policy and Regulation"},"QUICK HIT 3":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Category":"Economic Risk and Market Dynamics"},"INDUSTRY DEVELOPMENT 1":{"Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Major AI Player:":"Google DeepMind, OpenAI, Meta, Anthropic"},"INDUSTRY DEVELOPMENT 2":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Major AI Player:":"OpenAI"},"REQUIREMENTS VERIFIED":{"2-2-2 Distribution Achieved":null,"Source mix":null,"Technical complexity":null,"Major AI player coverage":null}}},"index":0,"pairedItem":{"item":0}}]},"index":0,"pairedItem":{"item":0}}]}}]},"versionId":"1c264e72-8558-400a-90db-46ff90aae7d7","activeVersionId":"1c264e72-8558-400a-90db-46ff90aae7d7","versionCounter":82,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-19T17:09:55.599Z","createdAt":"2026-01-19T17:09:55.599Z","role":"workflow:owner","workflowId":"YgZ0Tu39jiwmvlJ5","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null}}]}]