_n8n-project/workflows/SUB/html_generator_subworkflow.json
[{"updatedAt":"2026-01-26T20:32:48.462Z","createdAt":"2025-12-25T21:30:10.444Z","id":"vMlTglzV1nIWkLb7","name":"HTML Generator [sub-workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-16,48],"id":"19185d9e-be42-475c-b72a-56dc38001166","name":"When chat message received","webhookId":"8dd1140f-4e75-4613-8c86-55b7401ecbd2"},{"parameters":{"jsCode":"let documentId;\n\ntry {\n  // Case 1: Workflow Initiated\n  const items = $('Workflow Initiated').all();\n  if (items.length && items[0].json.document) {\n    documentId = items[0].json.document;\n  }\n} catch (e) {\n  // ignore\n}\n\nif (!documentId) {\n  try {\n    // Case 2: Chat message (JSON string)\n    const chatInput = $('When chat message received').first().json.chatInput;\n    const parsed = JSON.parse(chatInput);\n    documentId = parsed[0].document;\n  } catch (e) {\n    // ignore\n  }\n}\n\nif (!documentId) {\n  throw new Error('Document ID not found in any input');\n}\n\nreturn [\n  {\n    json: {\n      inputData: documentId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-48],"id":"d3b61061-8abf-4388-9f74-fc98c1a4446a","name":"Fetch Document ID"},{"parameters":{"operation":"get","documentURL":"={{ $json.inputData }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[432,48],"id":"e63c1775-f22f-4f3d-a9f8-1aa4ea6090e5","name":"Fetch document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <!-- TITLE FORMAT: \"Artificially Intelligent, Actually Useful. - [Date]\" -->\n    <!-- Update with user-provided date from Document 3 Phase 6 Step 1 -->\n    <title>Artificially Intelligent, Actually Useful. - [INSERT DATE]</title>\n    <style>\n        /* Web override styles - these will make the email version look like the web version when viewed in browser */\n        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');\n        \n        /* Global overrides */\n        body {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Wrapper and container overrides */\n        .nl-wrapper {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-outer-table > tbody > tr > td {\n            padding: 40px 0 !important;\n        }\n        \n        .nl-container {\n            border-radius: 0 !important;\n            box-shadow: 0 4px 12px rgba(0,0,0,0.05) !important;\n        }\n        \n        /* Header section overrides */\n        .nl-header {\n            padding: 40px 40px 20px 40px !important;\n        }\n        \n        .nl-date {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-title {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-subtitle {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Divider overrides */\n        .nl-divider {\n            padding: 0 40px !important;\n        }\n        \n        /* Introduction section overrides */\n        .nl-intro {\n            padding: 20px 40px 0 40px !important;\n        }\n        \n        .nl-intro p {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Quick highlights section overrides */\n        .nl-quick-highlights {\n            padding: 0 40px 40px 40px !important;\n        }\n        \n        .nl-quick-highlights table {\n            margin-bottom: 0 !important;\n        }\n        \n        .nl-quick-highlights table > tbody > tr > td {\n            padding: 10px 25px !important;\n            border-radius: 0 !important;\n        }\n        \n        .nl-quick-highlights table > tbody > tr > td > table > tbody > tr > td {\n            padding: 15px 0 !important;\n        }\n        \n        .nl-quick-highlights p {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Main content section overrides */\n        .nl-main {\n            padding: 0 40px 25px 40px !important;\n        }\n        \n        /* Featured article overrides */\n        .nl-main table > tbody > tr > td[style*=\"background-color: #1F4485\"] {\n            padding: 30px !important;\n            border-radius: 0 !important;\n            margin-bottom: 40px !important;\n        }\n        \n        .nl-section-title {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-main p {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-cta-button {\n            border-radius: 0 !important;\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Article box overrides */\n        .nl-article-box {\n            margin-top: 0 !important;\n            padding-bottom: 25px !important;\n            margin-bottom: 25px !important;\n        }\n        \n        .nl-article-box:first-of-type {\n            margin-top: 30px !important;\n        }\n        \n        .nl-article-title {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-article-box p {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Callout box overrides */\n        .nl-callout {\n            padding: 15px 15px 15px 5px !important;\n            border-radius: 4px !important;\n            margin-bottom: 15px !important;\n        }\n        \n        .nl-callout p {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Source link overrides */\n        .nl-source-link {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Quick hits section overrides */\n        .nl-quick-hits {\n            padding: 0 40px 40px 40px !important;\n        }\n        \n        .nl-quick-hits > table:first-child > tbody > tr > td {\n            padding: 25px !important;\n        }\n        \n        .nl-quick-hits > div {\n            padding: 25px !important;\n            border-radius: 0 !important;\n        }\n        \n        .nl-quick-hits a {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-quick-hits p {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Industry developments section overrides */\n        .nl-industry {\n            padding: 0 40px 40px 40px !important;\n        }\n        \n        .nl-industry > table:first-child > tbody > tr > td {\n            padding: 20px !important;\n        }\n        \n        .nl-industry > div {\n            padding: 20px !important;\n            border-radius: 0 !important;\n        }\n        \n        .nl-industry .nl-section-title {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-industry a {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        .nl-industry p {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Footer section overrides */\n        .nl-footer {\n            padding: 40px !important;\n        }\n        \n        .nl-footer p {\n            font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;\n        }\n        \n        /* Mobile responsive styles */\n        @media only screen and (max-width: 600px) {\n            .nl-container {\n                width: 100% !important;\n            }\n\n            .nl-content {\n                padding: 20px !important;\n            }\n\n            .nl-article-box {\n                padding: 20px !important;\n            }\n\n            h1 {\n                font-size: 37px !important;\n                line-height: 52px !important;\n            }\n\n            .nl-subtitle {\n                font-size: 16px !important;\n            }\n\n            h2 {\n                font-size: 22px !important;\n            }\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 0;\">\n<div class=\"nl-wrapper\" id=\"nl-template-v18\" style=\"margin: 0; padding: 0; font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #f8f9fa;\">\n    <table class=\"nl-outer-table\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background-color: #f8f9fa; width: 100%;\">\n        <tr>\n            <td align=\"center\" style=\"padding: 2%;\">\n                <table class=\"nl-container\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background-color: #ffffff; width: 100%; max-width: 600px;\">\n\n                    <!-- ============================================================ -->\n                    <!-- HEADER SECTION -->\n                    <!-- Update date badge to match title date -->\n                    <!-- ============================================================ -->\n                    <tr>\n                        <td class=\"nl-content nl-header\" style=\"padding: 20px 4% 10px 4%; border-top: 6px solid #1F4485;\">\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 0;\">\n                                <tr>\n                                    <td class=\"nl-date\" style=\"background-color: #eaf1fc; padding: 6px 12px; color: #666666; font-size: 14px; font-weight: 500; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[INSERT DATE]</td>\n                                </tr>\n                            </table>\n \n                            <h1 class=\"nl-title\" style=\"margin: 10px 0 20px 0; padding-top: 10px; color: #488320; font-size: 48px; font-weight: 700; line-height: 64px; font-family: Verdana, Geneva, Tahoma, sans-serif;\">Artificially Intelligent, Actually Useful.</h1>\n                            <p class=\"nl-subtitle\" style=\"margin: 0 0 20px 0; color: #3B3F40; font-size: 18px; line-height: 1.5; font-family: Verdana, Geneva, Tahoma, sans-serif;\">A Weekly AI Update So You Don't Have To Wing It</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Divider -->\n                    <tr>\n                        <td class=\"nl-divider\" style=\"padding: 10px 4%;\">\n                            <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                <tr>\n                                    <td style=\"background-color: #e0e0e0; height: 2px; font-size: 1px; line-height: 1px;\">&nbsp;</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- ============================================================ -->\n                    <!-- INTRODUCTION SECTION -->\n                    <!-- CHARACTER RANGE: 650-900 characters total across 2-3 paragraphs -->\n                    <!-- Each paragraph: 300-450 characters -->\n                    <!-- MANDATORY ELEMENTS: -->\n                    <!-- 1. \"This week's newsletter\" reference (flexible placement) -->\n                    <!-- 2. ONE iS2 Digital link (previous newsletter or Insight article) -->\n                    <!-- 3. Reply invitation (flexible placement, e.g., \"hit reply\") -->\n                    <!-- TONE: Conversational, direct address, contractions acceptable -->\n                    <!-- ============================================================ -->\n                    <tr>\n                        <td class=\"nl-content nl-intro\" style=\"padding: 15px 4% 0 4%;\">\n                            <!-- Opening Headline: Bold statement introducing theme -->\n                            <p style=\"margin: 0 0 20px 0; color: #3B3F40; font-size: 36px; line-height: 1.2; font-family: Verdana, Geneva, Tahoma, sans-serif;\"><b>[Theme Headline]</b></p>\n                            \n                            <!-- Theme Summary Paragraphs: 2-3 paragraphs, 300-450 chars each, italic styling -->\n                            <!-- Must include: \"this week's newsletter\", ONE iS2 link, reply invitation -->\n                            <!-- Total: 650-900 characters -->\n                            <p class=\"nl-intro-summary\" style=\"margin: 0 0 30px 0; color: #3B3F40; font-size: 16px; line-height: 1.6; font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif;\">This week's newsletter explores [theme description]. [Strategic insight with bold key terms]. [Include ONE iS2 Digital link naturally embedded: <a href=\"[iS2_URL]\" target=\"_blank\" style=\"color: #488320; text-decoration: none; font-weight: 600;\">previous newsletter or Insight article</a>]. [Theme development and business implications]. [Reply invitation, e.g., \"Hit reply to share your thoughts\" or similar phrasing]. [300-450 characters per paragraph, 650-900 total]</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- ============================================================ -->\n                    <!-- QUICK HIGHLIGHTS SECTION -->\n                    <!-- 3 bullets, 150-190 characters each -->\n                    <!-- Lead with data/statistics directly (avoid \"study shows\" framing) -->\n                    <!-- Bold key statistics or terms -->\n                    <!-- Format: [Data/fact] + [implication] -->\n                    <!-- ============================================================ -->\n                    <tr>\n                        <td class=\"nl-quick-highlights\" style=\"padding: 0 4% 20px 4%;\">\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width: 100%; margin-bottom: 20px;\">\n                                <tr>\n                                    <td style=\"background-color: #f8f9fa; border: 1px solid #e0e0e0; padding: 15px;\">\n                                        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                            <!-- Quick Highlight 1: Featured Article preview, 150-190 chars -->\n                                            <tr>\n                                                <td style=\"padding-bottom: 15px; border-bottom: 1px solid #e0e0e0;\">\n                                                    <p style=\"margin: 0; font-size: 14px; line-height: 1.5; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\"><b>[Key statistic or finding]</b> [implication for business]. [150-190 characters total]</p>\n                                                </td>\n                                            </tr>\n                                            <!-- Quick Highlight 2: Main Article 1 preview, 150-190 chars -->\n                                            <tr>\n                                                <td style=\"padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #e0e0e0;\">\n                                                    <p style=\"margin: 0; font-size: 14px; line-height: 1.5; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\"><b>[Key statistic or finding]</b> [implication for business]. [150-190 characters total]</p>\n                                                </td>\n                                            </tr>\n                                            <!-- Quick Highlight 3: Main Article 2 preview, 150-190 chars -->\n                                            <tr>\n                                                <td style=\"padding-top: 15px;\">\n                                                    <p style=\"margin: 0; font-size: 14px; line-height: 1.5; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\"><b>[Key statistic or finding]</b> [implication for business]. [150-190 characters total]</p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- ============================================================ -->\n                    <!-- MAIN CONTENT SECTION -->\n                    <!-- ============================================================ -->\n                    <tr>\n                        <td class=\"nl-content nl-main\" style=\"padding: 0 4% 10px 4%;\">\n                            \n                            <!-- ======================================================== -->\n                            <!-- FEATURED ARTICLE -->\n                            <!-- TITLE: Clickable link to source (within <h2> tag) -->\n                            <!-- CONTENT: 900-1,100 characters (2-3 paragraphs, 350-400 chars each) -->\n                            <!-- KEY INSIGHT: 300-370 characters, labeled \"Strategic Insight:\" or \"Key Insight:\" -->\n                            <!-- CTA BUTTON: ~3 words + → arrow, links to same source as title -->\n                            <!-- All links must include target=\"_blank\" -->\n                            <!-- ======================================================== -->\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width: 100%;\">\n                                <tr>\n                                    <td style=\"background-color: #1F4485; color: #ffffff; padding: 15px;\">\n                                        <!-- Featured Article Title as Clickable Link -->\n                                        <h2 class=\"nl-section-title\" style=\"margin: 0 0 20px 0; font-size: 24px; font-weight: 600; color: #ffffff; line-height: 28px; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                            <a href=\"[FEATURED_ARTICLE_URL]\" target=\"_blank\" style=\"color: #ffffff; text-decoration: none;\">[Featured Article Title]</a>\n                                        </h2>\n                                        \n                                        <!-- Content Paragraphs: 2-3 paragraphs, 350-400 chars each, 900-1,100 total -->\n                                        <p style=\"margin: 0 0 15px 0; font-size: 16px; line-height: 1.6; color: #ffffff; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[First content paragraph. 350-400 characters providing context, key findings, and main conclusions from article. Focus on factual content with specific data or methodologies when relevant.]</p>\n                                        \n                                        <!-- Key Insight Paragraph: 300-370 characters, bold label -->\n                                        <p style=\"margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #ffffff; font-family: Verdana, Geneva, Tahoma, sans-serif;\"><b>Strategic Insight:</b> [Key insight paragraph. 300-370 characters explaining the strategic business implications and actionable takeaways for readers. Bold key terms for emphasis.]</p>\n                                        \n                                        <!-- CTA Button: ~3 words + → arrow, same URL as title link -->\n                                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                            <tr>\n                                                <td align=\"center\" style=\"background-color: #FFFFFF; padding: 12px 24px;\">\n                                                    <a href=\"[FEATURED_ARTICLE_URL]\" target=\"_blank\" class=\"nl-cta-button\" style=\"display: inline-block; color: #1F4485; text-decoration: none; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Read Full Report] →</a>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- ======================================================== -->\n                            <!-- MAIN ARTICLE 1 -->\n                            <!-- TITLE: Clickable link to source (within <h3> tag) -->\n                            <!-- CONTENT: 700-1,000 characters (2-3 paragraphs, 300-400 chars each) -->\n                            <!-- CALLOUT BOX: 200-300 characters with appropriate label -->\n                            <!-- Labels: Strategic Take-away, Actionable Steps, Personal Action, -->\n                            <!--          Critical Take-away, Key Takeaway, The Practical Angle -->\n                            <!-- SOURCE LINK: ~3 words + → arrow, links to same source as title -->\n                            <!-- All links must include target=\"_blank\" -->\n                            <!-- ======================================================== -->\n                            <div class=\"nl-article-box\" style=\"margin-top: 30px; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #eeeeee;\">\n                                <!-- Main Article 1 Title as Clickable Link -->\n                                <h3 class=\"nl-article-title\" style=\"margin: 0 0 15px 0; color: #1F4485; font-size: 20px; font-weight: 600; line-height: 24px; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                    <a href=\"[MAIN_ARTICLE_1_URL]\" target=\"_blank\" style=\"color: #1F4485; text-decoration: none;\">[Main Article 1 Title]</a>\n                                </h3>\n                                \n                                <!-- Content Paragraphs: 2-3 paragraphs, 300-400 chars each, 700-1,000 total -->\n                                <p style=\"margin: 0 0 15px 0; color: #3B3F40; font-size: 16px; line-height: 1.6; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[First content paragraph. 300-400 characters providing article context and key findings. Flexible length based on topic complexity.]</p>\n                                \n                                <!-- Strategic Callout Box: 200-300 characters with appropriate label -->\n                                <div class=\"nl-callout\" style=\"background-color: #ffffff; padding: 10px 10px 10px 5px; margin-bottom: 10px;\">\n                                    <p style=\"margin: 0; color: #54595D; font-size: 14px; line-height: 1.5; font-family: Verdana, Geneva, Tahoma, sans-serif;\"><strong style=\"color: #E6A661;\">[Strategic Take-away / Actionable Steps / etc.]:</strong> [Callout content. 200-300 characters providing strategic business insight or actionable guidance. 2-3 sentences.]</p>\n                                </div>\n                                \n                                <!-- Source Link: ~3 words + → arrow, same URL as title link -->\n                                <a href=\"[MAIN_ARTICLE_1_URL]\" target=\"_blank\" class=\"nl-source-link\" style=\"color: #488320; text-decoration: none; font-weight: 600; font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[View Article] →</a>\n                            </div>\n                            \n                            <!-- ======================================================== -->\n                            <!-- MAIN ARTICLE 2 -->\n                            <!-- Same structure and requirements as Main Article 1 -->\n                            <!-- ======================================================== -->\n                            <div class=\"nl-article-box\" style=\"padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #eeeeee;\">\n                                <!-- Main Article 2 Title as Clickable Link -->\n                                <h3 class=\"nl-article-title\" style=\"margin: 0 0 15px 0; color: #1F4485; font-size: 20px; font-weight: 600; line-height: 24px; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                    <a href=\"[MAIN_ARTICLE_2_URL]\" target=\"_blank\" style=\"color: #1F4485; text-decoration: none;\">[Main Article 2 Title]</a>\n                                </h3>\n                                \n                                <!-- Content Paragraphs: 2-3 paragraphs, 300-400 chars each, 700-1,000 total -->\n                                <p style=\"margin: 0 0 15px 0; color: #3B3F40; font-size: 16px; line-height: 1.6; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[First content paragraph. 300-400 characters providing article context and key findings. Flexible length based on topic complexity.]</p>\n                                \n                                <!-- Strategic Callout Box: 200-300 characters with appropriate label -->\n                                <div class=\"nl-callout\" style=\"background-color: #ffffff; padding: 10px 10px 10px 5px; margin-bottom: 10px;\">\n                                    <p style=\"margin: 0; color: #707579; font-size: 14px; line-height: 1.5; font-family: Verdana, Geneva, Tahoma, sans-serif;\"><strong style=\"color: #E6A661;\">[Strategic Take-away / Actionable Steps / etc.]:</strong> [Callout content. 200-300 characters providing strategic business insight or actionable guidance. 2-3 sentences.]</p>\n                                </div>\n                                \n                                <!-- Source Link: ~3 words + → arrow, same URL as title link -->\n                                <a href=\"[MAIN_ARTICLE_2_URL]\" target=\"_blank\" class=\"nl-source-link\" style=\"color: #488320; text-decoration: none; font-weight: 600; font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[View Article] →</a>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- ============================================================ -->\n                    <!-- QUICK HITS SECTION -->\n                    <!-- 3 items, 200-280 characters each (excluding headline) -->\n                    <!-- Headline: Descriptive statement as clickable link (NO → arrows) -->\n                    <!-- Summary: 2-3 sentences providing key findings -->\n                    <!-- Optional: \"Quick Takeaway:\" subhead with emphasis (adds 80-100 chars) -->\n                    <!-- All links must include target=\"_blank\" -->\n                    <!-- ============================================================ -->\n                    <tr>\n                        <td class=\"nl-quick-hits\" style=\"padding: 0 4% 30px 4%;\">\n                            <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                <tr>\n                                    <td style=\"background-color: #f8f9fa; border: 1px solid #e0e0e0; padding: 15px;\">\n                                        <h2 class=\"nl-section-title\" style=\"margin: 0 0 20px 0; font-size: 22px; font-weight: 700; color: #1F4485; line-height: 26px; font-family: Verdana, Geneva, Tahoma, sans-serif;\">Quick Hits</h2>\n                                        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                            \n                                            <!-- Quick Hit 1: 200-280 characters (excluding headline) -->\n                                            <tr>\n                                                <td style=\"padding-bottom: 15px; border-bottom: 1px solid #e0e0e0;\">\n                                                    <!-- Headline as clickable link, NO → arrow -->\n                                                    <p style=\"margin: 0 0 5px 0; font-size: 16px; font-weight: 600; color: #3B3F40; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                                        <a href=\"[QUICK_HIT_1_URL]\" target=\"_blank\" style=\"color: #3B3F40; text-decoration: none; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Descriptive Headline as Link]</a>\n                                                    </p>\n                                                    <!-- Summary: 2-3 sentences, 200-280 characters -->\n                                                    <p style=\"margin: 0; font-size: 14px; line-height: 1.5; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Summary providing context and key findings. 2-3 sentences, 200-280 characters total.]</p>\n                                                    <!-- Optional Quick Takeaway subhead (adds 80-100 characters) -->\n                                                    <!-- <p style=\"margin: 5px 0 0 0; font-size: 14px; line-height: 1.5; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\"><b>Quick Takeaway:</b> [Optional emphasis statement]</p> -->\n                                                </td>\n                                            </tr>\n                                            \n                                            <!-- Quick Hit 2: Same structure as Quick Hit 1 -->\n                                            <tr>\n                                                <td style=\"padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #e0e0e0;\">\n                                                    <p style=\"margin: 0 0 5px 0; font-size: 16px; font-weight: 600; color: #3B3F40; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                                        <a href=\"[QUICK_HIT_2_URL]\" target=\"_blank\" style=\"color: #3B3F40; text-decoration: none; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Descriptive Headline as Link]</a>\n                                                    </p>\n                                                    <p style=\"margin: 0; font-size: 14px; line-height: 1.5; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Summary providing context and key findings. 2-3 sentences, 200-280 characters total.]</p>\n                                                </td>\n                                            </tr>\n                                            \n                                            <!-- Quick Hit 3: Same structure as Quick Hit 1 -->\n                                            <tr>\n                                                <td style=\"padding-top: 15px;\">\n                                                    <p style=\"margin: 0 0 5px 0; font-size: 16px; font-weight: 600; color: #3B3F40; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                                        <a href=\"[QUICK_HIT_3_URL]\" target=\"_blank\" style=\"color: #3B3F40; text-decoration: none; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Descriptive Headline as Link]</a>\n                                                    </p>\n                                                    <p style=\"margin: 0; font-size: 14px; line-height: 1.5; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Summary providing context and key findings. 2-3 sentences, 200-280 characters total.]</p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- ============================================================ -->\n                    <!-- INDUSTRY DEVELOPMENTS SECTION -->\n                    <!-- 2 items, 200-280 characters each, 3 sentences per item -->\n                    <!-- At least 1 item must cover major AI players (Google, Microsoft, -->\n                    <!-- Meta, OpenAI, Anthropic, etc.) -->\n                    <!-- Headline: Descriptive statement as clickable link (NO → arrows) -->\n                    <!-- Summary: 3 sentences providing factual industry update -->\n                    <!-- All links must include target=\"_blank\" -->\n                    <!-- ============================================================ -->\n                    <tr>\n                        <td class=\"nl-industry\" style=\"padding: 0 4% 30px 4%;\">\n                            <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                <tr>\n                                    <td style=\"background-color: #f4f4f4; border: 1px solid #d0d0d0; padding: 15px;\">\n                                        <h2 class=\"nl-section-title\" style=\"margin: 0 0 15px 0; font-size: 18px; font-weight: 700; color: #1F4485; line-height: 22px; font-family: Verdana, Geneva, Tahoma, sans-serif;\">Industry Developments</h2>\n                                        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                            \n                                            <!-- Industry Development 1: 200-280 characters, 3 sentences -->\n                                            <!-- Should cover major AI player (Google, Microsoft, Meta, OpenAI, Anthropic, etc.) -->\n                                            <tr>\n                                                <td style=\"padding-bottom: 12px; border-bottom: 1px solid #d0d0d0;\">\n                                                    <!-- Headline as clickable link, NO → arrow -->\n                                                    <p style=\"margin: 0 0 3px 0; font-size: 14px; font-weight: 600; color: #3B3F40; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                                        <a href=\"[INDUSTRY_1_URL]\" target=\"_blank\" style=\"color: #3B3F40; text-decoration: none; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Descriptive Headline as Link - Major AI Player News]</a>\n                                                    </p>\n                                                    <!-- Summary: 3 sentences, 200-280 characters -->\n                                                    <p style=\"margin: 0; font-size: 13px; line-height: 1.4; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Factual industry update. Three sentences covering what happened, implications, and broader context. 200-280 characters total.]</p>\n                                                </td>\n                                            </tr>\n                                            \n                                            <!-- Industry Development 2: Same structure as Industry Development 1 -->\n                                            <tr>\n                                                <td style=\"padding-top: 12px;\">\n                                                    <p style=\"margin: 0 0 3px 0; font-size: 14px; font-weight: 600; color: #3B3F40; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                                        <a href=\"[INDUSTRY_2_URL]\" target=\"_blank\" style=\"color: #3B3F40; text-decoration: none; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Descriptive Headline as Link]</a>\n                                                    </p>\n                                                    <p style=\"margin: 0; font-size: 13px; line-height: 1.4; color: #666666; font-family: Verdana, Geneva, Tahoma, sans-serif;\">[Factual industry update. Three sentences covering what happened, implications, and broader context. 200-280 characters total.]</p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\t\t\t\t\t\t\t\t\t\t\n                             \n                    <!-- ============================================================ -->\n                    <!-- FOOTER SECTION -->\n                    <!-- CHARACTER RANGE: 800-1,000 characters total across 2-3 paragraphs -->\n                    <!-- Each paragraph: 300-500 characters -->\n                    <!-- MANDATORY OPENING: \"Alright, that's a wrap for the week!\" (exact) -->\n                    <!-- MANDATORY CLOSING: \"Thoughts?\" (exact) -->\n                    <!-- TONE: Personal sign-off, conversational, synthesizes insights -->\n                    <!-- Structure: -->\n                    <!-- - Paragraph 1: Synthesize week's theme and main insights -->\n                    <!-- - Paragraph 2: Connect to practical implications or broader context -->\n                    <!-- - Paragraph 3 (optional): Future-looking perspective if needed -->\n                    <!-- ============================================================ -->\n                    <tr>\n                        <td class=\"nl-footer\" style=\"padding: 25px 4% 10px 4%; background-color: #f8f9fa; border-top: 1px solid #e0e0e0;\">\n                            <!-- Footer content: MUST start with \"Alright, that's a wrap for the week!\" -->\n                            <!-- and end with \"Thoughts?\" -->\n                            <!-- 2-3 paragraphs, 300-500 characters each, 800-1,000 total -->\n                            <p style=\"margin: 0 0 15px 0; color: #707579; font-size: 16px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-style:italic;\">Alright, that's a wrap for the week!<br><br>[Paragraph 1: Synthesize this week's theme and main insights from the articles. 300-500 characters. Connect the dots between featured and main articles.]<br><br>[Paragraph 2: Connect to practical implications, broader AI context, or philosophical reflection. 300-500 characters. Feel like closing a conversation, not ending a report.]<br><br>Thoughts?</p>\n                            \n                            <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                <tr>\n                                    <td style=\"padding-top: 20px; padding-bottom: 20px;\">\n                                        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                                            <tr>\n                                                <td style=\"font-size: 0; line-height: 0; border-top: 1px solid #e0e0e0;\">&nbsp;</td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Footer branding and links (DO NOT MODIFY) -->\n                            <p style=\"margin: 0; color: #A6AFB6; font-size: 12px; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;\">\n                                Artificially Intelligent, Actually Useful. is brought to you by <a href=\"https://www.is2digital.com\" target=\"_blank\" style=\"color: #488320; text-decoration: none; font-family: Verdana, Geneva, Tahoma, sans-serif;\">iS2 Digital</a><br/>\n                                Your Software at the Speed of Change<br><br><a href=\"https://www.is2digital.com/newsletters\" target=\"_blank\" style=\"color: #488320; text-decoration: none; font-family: Verdana, Geneva, Tahoma, sans-serif;\">Click here to subscribe</a>, if you want to receive our newsletter directly.<br/>\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[656,48],"id":"b39ab831-3a4b-4341-afb9-8904643889a2","name":"HTML"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS htmlgenerator_user_feedback (\n  id SERIAL PRIMARY KEY,\n  feedback_text TEXT NOT NULL,\n  created_at TIMESTAMP DEFAULT NOW()\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,-144],"id":"b7d80f5e-87ce-47f4-9292-7b408cfa2e61","name":"Create feedback table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"html":"{{ $json.feedback }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2400,32],"id":"66ddbaa5-abe6-4c5e-87e9-00c75733b36a","name":"Generated HTML"},{"parameters":{"folderId":"default","title":"Newsletter HTML"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[880,48],"id":"d33b0b8f-8431-49aa-9aa0-8aa363ff1f67","name":"Create document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $('Create document').item.json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.html }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2624,32],"id":"b1be5846-c750-473b-97f2-f1a797543248","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Review Generated HTML here and click to proceed to next steps when done:* \\n\nhttps://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing","approvalOptions":{"values":{"approveLabel":"Proceed to next steps"}},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[2848,32],"id":"21569a8b-51db-4bb2-adc2-1d1fbd580dcb","name":"Share Generated HTML","webhookId":"cee0e62d-02df-4f81-b76c-9dfe5a1b3b65","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"*HTML content generated*","responseType":"customForm","formFields":{"values":[{"fieldName":"Ready to proceed to next step ?","fieldLabel":"Ready to proceed to next step ?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"Provide Feedback"},{"option":"Restart Chat"}]},"requiredField":true}]},"options":{"messageButtonLabel":"Proceed to Next Steps","responseFormTitle":"Proceed to next step","responseFormDescription":"HTML content generated"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[3072,32],"id":"75ffdf15-4f96-4cb1-a690-7db7840795e9","name":"Next steps selection","webhookId":"6023afaa-8da4-4486-ab41-1f13ab66ea1f","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.data[\"Ready to proceed to next step ?\"] }}","rightValue":"Yes","operator":{"type":"string","operation":"contains"},"id":"5fecfd0c-9231-4f23-bf53-d0c5cb5f14a8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"60fbad6b-5717-4cb1-9bba-831e0c6acc7d","leftValue":"={{ $json.data[\"Ready to proceed to next step ?\"] }}","rightValue":"Provide Feedback","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","ignoreCase":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[3296,16],"id":"19cbed37-8a07-49a7-8d2c-5263b6525963","name":"Switch"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=*Newsletter HTML Approved, moving to next steps*","otherOptions":{"sendAsUser":"n8n-is2"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[3520,-304],"id":"799b20e3-9e9a-4d52-83ab-258e2652e78a","name":"User Update","webhookId":"b299c06c-f4e8-4a7f-ae14-e8aa9a7ea1f0","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"*Please provide feedback to improve generated HTML content*","responseType":"freeText","options":{"messageButtonLabel":"Add feedback","responseFormTitle":"Feedback Form","responseFormDescription":"Please provide feedback to improve HTML content"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[3616,32],"id":"62843d1d-4eb6-420d-a38c-2e07e6f855a4","name":"Feedback form","webhookId":"e9552e1c-3912-4f91-b4e0-296bdb7656e1","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_HTML_REGENERATION_MODEL }}","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[4048,272],"id":"8e3c0606-6c64-4f99-ab2b-dbfdaa9d31bb","name":"OpenRouter feedback update generator model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"O5I7T1oioeIBv0j4","mode":"list","cachedResultUrl":"/workflow/O5I7T1oioeIBv0j4","cachedResultName":"LLM Global Config [UTIL]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1104,48],"id":"ecbbb3eb-1b07-4b67-baef-3d705d148dec","name":"LLM Global Config"},{"parameters":{"jsCode":"let inputData = [];\nlet inputChatData = '';\n\ntry {\n  inputData = $('Workflow Initiated').all();\n  inputData = JSON.parse(inputChatData);\n  inputData = inputData[0].Formatted_theme;\n} catch(e) {}\n\n// Get the string from the previous node\nconst document = $('Update a document').first().json.documentId;\n// Return it in a format n8n expects\nreturn [\n  {\n    document,\n    inputData\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3728,-304],"id":"24378258-3f60-4812-8fa1-3543e57d43b3","name":"Final HTML document ID"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_HTML_MODEL }}","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1712,272],"id":"a3a3b565-3caa-4d0c-9aae-5c0836e1cff0","name":"OpenRouter HTML generator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"operation":"get","documentURL":"={{ $('Create document').item.json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[3824,32],"id":"68d61ec5-92b6-40c5-b900-55ba64d1504d","name":"Fetch HTML document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"html":"{{ $json.output.data }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[4400,32],"id":"1c7e1bcd-d84b-4ba5-b69d-282ba4d937e3","name":"Re-Generated HTML"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_HTML_LEARNING_DATA_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[4608,272],"id":"cf6e1e34-4666-4590-945c-91955fe77d28","name":"Learning data process model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"text":"=You are an AI assistant that converts raw user feedback into a short, structured summary \nthat can be stored as learning data for future content improvement.\n\nYou will be given:\n- The original *input text* (the content or article summary prompt),\n- The *model output* that was generated,\n- The *user’s feedback*.\n\nYour goal:\n1. Summarize the key points of the user's feedback into clear, actionable insights.\n2. Keep the summary short (2–3 sentences max).\n3. Focus on what should be improved next time (e.g., tone, accuracy, length, structure, detail).\n4. If feedback is unclear or generic (like “good” or “bad”), infer the likely intent from the input and output context.\n\n---\n\n### Feedback Data\n**User Feedback:**\n{{ $('Feedback form').item.json.data.text }}\n\n**Input Provided:**\n{{ $('Conditional output').item.json.text }}\n\n**Model Output:**\n{{ $json.output.data }}\n\n---\n\n### Expected Output\nReturn only a concise structured learning note in JSON format like this:\n\n{\n  \"learning_feedback\": \"Future responses should provide shorter, more focused summaries emphasizing factual accuracy and concise language.\"\n}","attributes":{"attributes":[{"name":"learning_feedback","description":"Provide a concise feeback to use in learning data"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[4608,32],"id":"fff9b77e-143c-401e-9ed2-b9fba6bc7cf4","name":"Learning data extractor","onError":"continueErrorOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"htmlgenerator_user_feedback","mode":"list","cachedResultName":"htmlgenerator_user_feedback"},"columns":{"mappingMode":"defineBelow","value":{"feedback_text":"={{ $json.output.learning_feedback }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"feedback_text","displayName":"feedback_text","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4960,32],"id":"c08a4820-3c92-4c6e-b7a1-c53dce0eca71","name":"Insert rows in a table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=*Execution Stopped at HTML generation step, due to the following error :* {{ $json.error }} *, reach out to the concerned person to resolve the issue.*","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[2400,800],"id":"aa922a55-0f29-4be2-b1cc-6c4e178976d1","name":"Error Output","webhookId":"8b6d79d9-a9c8-4bc3-864d-4bcc8bafe9d3","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"errorMessage":"An error occured at the HTML Generation Step"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2608,800],"id":"e6e3da43-aa6e-45c1-aeac-b9c072212ed4","name":"Stop and Error"},{"parameters":{"jsCode":"let original_text = null;\nlet re_generated_text = null;\nlet switch_value = null;\nlet hasIntroduction = null;\nlet feedback = null;\n\ntry {\n  original_text = $('Generate HTML using LLM').first().json.output.data;\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\ntry {\n  re_generated_text = $('Re-Generate Data using LLM').first().json.output.data;\n  hasIntroduction = re_generated_text.includes('<!DOCTYPE html>');\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\ntry {\n  switch_value = $('Switch').first().json.data[\"Ready to proceed to next step ?\"];\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\nlet text;\n\nif (switch_value && String(switch_value).trim().toLowerCase() !== 'yes' && String(switch_value).trim().toLowerCase() !== 'Provide Feedback' ) {\n  text = original_text;\n} else if (!hasIntroduction) {\n  text = original_text;\n} else {\n  text = re_generated_text ?? original_text;\n}\n\nif (re_generated_text && !hasIntroduction) {\n  feedback = re_generated_text;\n} else {\n  feedback = text\n}\n\nreturn [{ json: { text, feedback } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,32],"id":"ac5ee8c1-0de0-4275-a51a-36c0b2a203ca","name":"Conditional output"},{"parameters":{"text":"=## ROLE\nYou are an HTML rendering engine.\nYour task is to **populate an existing HTML newsletter template** using the** final generated markdown input** provided, while preserving the HTML template exactly.\nThe output must be **fully rendered HTML**, suitable for email delivery.\n\nIf {{ $json.aggregatedFeedback }} is present, you must **acknowledge the aggregated feedback and adjust tone, structure, or clarity accordingly**.\n\n## INPUTS YOU WILL RECEIVE\n- Final Generated Markdown Content\n  - Provided in a field named:  {{ $('Fetch document').item.json.content }} \n  - This content is final and authoritative\n  - Section headers determine placement\n- HTML Template\n  - Provided HTML template: {{ $('HTML').item.json.html }}\n  - You must not alter its structure, styles, or classes\n- Newsletter Date\n  - Provided externally\n  - Must be inserted exactly as given\n\n## OUTPUT REQUIREMENTS (STRICT)\n- Output only valid HTML\n- Do not include explanations, comments, markdown, or code fences\n- Do not summarize, paraphrase, or invent content\n- Populate every applicable section of the template\n- Preserve character encoding (→ arrows must render correctly)\n\n\n## CRITICAL TEMPLATE PRESERVATION RULES (NON-NEGOTIABLE)\n\n🚫 DO NOT MODIFY:\n- CSS class names\n- Inline style attributes\n- Table structures\n- HTML hierarchy or nesting\n- Existing comments\n- Section containers or wrappers\n\n✅ ONLY permitted action:\n- Replace placeholder text or empty inner content inside existing elements\n- Any structural modification is a failure.\n\n## TITLE & DATE INSERTION\n- <title> tag (inside <head>):\n  - Set exactly to: Artificially Intelligent, Actually Useful. - [DATE]\n\n- Header date badge:\n  - Replace text inside: <td class=\"nl-date\"> with the same date, verbatim.\n\n-----------------------------------------------------------\n\n## CONTENT MAPPING RULES\nUse the **markdown section headers** to determine placement.\n\n1. INTRODUCTION\n## HTML Location:\n<td class=\"nl-content nl-intro\">\n\n## Markdown Source:\n# *INTRODUCTION*\n- First paragraph → opening headline <p> (large font)\n- Remaining paragraph(s) → <p class=\"nl-intro-summary\">\n- Preserve:\n  - Italics\n  - Bold emphasis\n- Insert links exactly as provided\n- All links must include target=\"_blank\"\n\n\n2. QUICK HIGHLIGHTS\n## HTML Location:\n<td class=\"nl-quick-highlights\">\n\n## Markdown Source:\n# *QUICK HIGHLIGHTS*\n- Exactly 3 bullets\n- Each bullet:\n  - One <tr>\n  - Existing borders and padding remain unchanged\n- Preserve bold emphasis using <b>\n\n\n3. FEATURED ARTICLE\n## HTML Location:\nBlue background container inside <td class=\"nl-content nl-main\">\n\n## Markdown Source:\n# *FEATURED ARTICLE*\n- Headline:\n  - Insert into <h2 class=\"nl-section-title\">\n  - Wrap with <a target=\"_blank\">\n- Body paragraphs:\n  - Insert into existing <p> tags\n- Insight paragraph:\n  - Preserve bold label (e.g., Key Insight:)\n- CTA button:\n  - Use same URL as headline\n  - Preserve → arrow\n  - Include target=\"_blank\"\n\n\n4. MAIN ARTICLES (2)\n## Markdown Sources:\n# *MAIN ARTICLE 1*\n# *MAIN ARTICLE 2*\n\nEach article maps to one: <div class=\"nl-article-box\">\n\nFor each:\n- Headline → <h3 class=\"nl-article-title\"> with <a target=\"_blank\">\n- Body text → <p> tags\n- Callout → <div class=\"nl-callout\">\n  - Preserve bold label (Strategic Takeaway, Actionable Steps, etc.)\n- Source link:\n  - <a class=\"nl-source-link\">\n  - Include →\n  - Include target=\"_blank\"\n\n\n5. QUICK HITS\n## HTML Location:\n<td class=\"nl-quick-hits\">\n\n## Markdown Source:\n# *QUICK HITS*\n- Exactly 3 items\n- Each item:\n  - Headline as clickable <a> (NO →)\n  - Summary paragraph below\n- Preserve table borders and spacing\n- target=\"_blank\" required on all links\n\n\n6. INDUSTRY DEVELOPMENTS\n## HTML Location:\n<td class=\"nl-industry\">\n\n## Markdown Source:\n# *INDUSTRY DEVELOPMENTS*\n- Exactly 2 items\n- Same structure as Quick Hits\n- NO arrows (→)\n- All links use target=\"_blank\"\n\n\n7. FOOTER\n## HTML Location:\n<td class=\"nl-footer\">\n\n## Markdown Source:\n# *FOOTER*\n- Insert all paragraphs into <p> tags\n- Preserve italic tone\n- Must:\n  - Start with: “Alright, that's a wrap for the week!”\n  - End with: “Thoughts?”\n- Footer branding links must remain unchanged\n- All links include target=\"_blank\"\n\n\n## LINK REQUIREMENT (ABSOLUTE)\n- Every external link must include: target=\"_blank\"\n- Applies to:\n  - Headlines\n  - CTA buttons\n  - Source links\n  - Inline links\n  - Footer links\n\n\n## FINAL SELF-CHECK BEFORE OUTPUT\n- Confirm all of the following are true:\n✅ No CSS or inline styles modified\n✅ No tables added, removed, or restructured\n✅ All markdown content fully represented\n✅ All links open in a new tab\n✅ Output is HTML only\n\n","attributes":{"attributes":[{"name":"data","description":"Markdown to HTML"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1728,48],"id":"c373cde9-6bbe-4c8c-bfb8-ca8ec8bcc46b","name":"Generate HTML using LLM","onError":"continueErrorOutput"},{"parameters":{"text":"=## ROLE\nYou are an **HTML rendering engine operating in scoped update mode**.\n\nYour task is to **apply user-requested changes only to the explicitly mentioned sections** of an **already generated HTML newsletter**, while **leaving all other sections completely unchanged**.\n\nThis is **not a full regeneration**.\n\n\n## INPUTS YOU WILL RECEIVE\n\n1. Previously Generated HTML (PRIMARY EDIT TARGET)\nProvided in:\n{{ $json.content }}\n\n- This is the canonical HTML document\n- All unchanged sections must remain identical\n- Treat this as the base document to edit\n\n\n2. Final Generated Markdown Content (REFERENCE ONLY)\nProvided in:\n{{ $('Fetch document').item.json.content }}\n\n- Authoritative wording reference\n- Use only if feedback requests wording clarification\n- Do NOT re-render the newsletter from this input\n\n\n3. HTML Template (STRUCTURAL REFERENCE)\nProvided in:\n{{ $('HTML').item.json.html }}\n\n- Defines allowed structure and styling\n- Must remain untouched\n- Use only to verify constraints\n\n\n4. User Feedback (CHANGE AUTHORITY)\nProvided in:\n{{ $('Feedback form').item.json.data.text }}\n\n- Feedback determines which sections may change\n- If a section is not mentioned, it must remain unchanged\n- If feedback contradicts previous rules, follow the feedback\n\n\n5. Newsletter Date\nProvided externally\n- Must remain unchanged unless explicitly requested\n\n------------------------------------------------------\n\n🔒 SCOPE ENFORCEMENT RULES (CRITICAL)\n\n## YOU MUST:\n- Identify which section(s) the feedback refers to\n- Modify only those sections\n- Keep all other HTML content exactly identical\n- Preserve whitespace, formatting, and encoding outside modified areas\n\n## YOU MUST NOT:\n- Re-render the entire newsletter\n- Touch sections not mentioned in feedback\n- Normalize, clean up, or “improve” HTML\n- Modify CSS, styles, tables, or structure\n- Move content between sections unless explicitly requested\n\n-------------------------------------------------------\n\n## ALLOWED MODIFICATIONS\nOnly within explicitly requested sections:\n- Text changes\n- Link updates\n- Emphasis changes (bold / italics)\n- Replacements of existing inner HTML\n\n🚫 No new sections\n🚫 No deletions unless requested\n🚫 No structural changes\n\n\n## LINK REQUIREMENT (ABSOLUTE)\n- Every external link must include target=\"_blank\"\n- Do not remove or alter this unless feedback explicitly instructs otherwise\n\n\n## OUTPUT REQUIREMENTS\n- Output only valid HTML\n- Return the entire HTML document\n- Unchanged sections must be verbatim matches\n- No commentary, explanations, or code fences\n\n\n## FINAL SELF-CHECK (MANDATORY)\nBefore outputting, confirm:\n- ✅ Only feedback-requested sections changed\n- ✅ All other HTML remains identical\n- ✅ No structure, styles, or tables altered\n- ✅ All links open in a new tab\n- ✅ Output is HTML only\n\n\n🔐 GUARANTEE CLAUSE (STRONGLY RECOMMENDED)\nIf the feedback does not clearly specify a section or change, make no modification.","attributes":{"attributes":[{"name":"data","description":"Markdown to HTML"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[4048,32],"id":"878a2548-604d-42af-ab41-aa54cef6bc1f","name":"Re-Generate Data using LLM","onError":"continueErrorOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"htmlgenerator_user_feedback","mode":"list","cachedResultName":"htmlgenerator_user_feedback"},"limit":40,"sort":{"values":[{"column":"created_at","direction":"DESC"}]},"options":{"outputColumns":["feedback_text"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1312,48],"id":"85db26f5-e99d-44f4-b4f5-2ab322293fe4","name":"Select rows from a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"jsCode":"// --- Gather all feedback entries ---\nconst feedbackArray = $input.all()\n  .map(item => item.json.feedback_text)\n  .filter(f => f && f.trim() !== '');\n\n// --- Combine feedback into a bullet-style list ---\nconst aggregatedFeedback = feedbackArray.length\n  ? feedbackArray.map(f => `• ${f}`).join('\\n')\n  : '';\n\n// --- Return both for use in LLM prompt ---\nreturn [\n  {\n    json: {\n      aggregatedFeedback\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,48],"id":"1c38b293-701a-44a9-be55-1c77976135df","name":"Aggregate Feedback","alwaysOutputData":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-144],"id":"6e39979c-69ce-488e-b6c3-0e70e60c4a9b","name":"Workflow Initiated"}],"connections":{"When chat message received":{"main":[[{"node":"Fetch Document ID","type":"main","index":0}]]},"Fetch Document ID":{"main":[[{"node":"Fetch document","type":"main","index":0},{"node":"Create feedback table","type":"main","index":0}]]},"Fetch document":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Create document","type":"main","index":0}]]},"Generated HTML":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Create document":{"main":[[{"node":"LLM Global Config","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Share Generated HTML","type":"main","index":0}]]},"Share Generated HTML":{"main":[[{"node":"Next steps selection","type":"main","index":0}]]},"Next steps selection":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"User Update","type":"main","index":0}],[{"node":"Feedback form","type":"main","index":0}],[{"node":"Conditional output","type":"main","index":0}]]},"Feedback form":{"main":[[{"node":"Fetch HTML document","type":"main","index":0}]]},"OpenRouter feedback update generator model":{"ai_languageModel":[[{"node":"Re-Generate Data using LLM","type":"ai_languageModel","index":0}]]},"LLM Global Config":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"User Update":{"main":[[{"node":"Final HTML document ID","type":"main","index":0}]]},"OpenRouter HTML generator":{"ai_languageModel":[[{"node":"Generate HTML using LLM","type":"ai_languageModel","index":0}]]},"Fetch HTML document":{"main":[[{"node":"Re-Generate Data using LLM","type":"main","index":0}]]},"Re-Generated HTML":{"main":[[{"node":"Learning data extractor","type":"main","index":0}]]},"Learning data process model":{"ai_languageModel":[[{"node":"Learning data extractor","type":"ai_languageModel","index":0}]]},"Learning data extractor":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Error Output":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Generate HTML using LLM":{"main":[[{"node":"Conditional output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Re-Generate Data using LLM":{"main":[[{"node":"Re-Generated HTML","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Conditional output":{"main":[[{"node":"Generated HTML","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Conditional output","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Aggregate Feedback","type":"main","index":0}]]},"Aggregate Feedback":{"main":[[{"node":"Generate HTML using LLM","type":"main","index":0}]]},"Workflow Initiated":{"main":[[{"node":"Fetch Document ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Initiated":[{"json":{"document":"1jFhadt3-CkEl8u-j5gycPdeq4m64t0GikeBdTEngwSU","inputData":[{"json":{"selected_theme_title":"THEME: The AI Arms Race and Its Real-World Impact","selected_theme":{"theme":"The AI Arms Race and Its Real-World Impact","theme_summary":"Major AI players are sprinting toward artificial general intelligence while businesses across sectors wrestle with how to actually use these tools without getting burned. From construction sites to classrooms, organizations are discovering that AI adoption isn't just about the technology—it's about managing risk, rethinking skills, and preparing for economic turbulence that could reshape the entire landscape.","theme_body":"THEME: The AI Arms Race and Its Real-World Impact\nTheme Description: Major AI players are sprinting toward artificial general intelligence while businesses across sectors wrestle with how to actually use these tools without getting burned. From construction sites to classrooms, organizations are discovering that AI adoption isn't just about the technology—it's about managing risk, rethinking skills, and preparing for economic turbulence that could reshape the entire landscape.\n\nArticles that fit.\nFEATURED ARTICLE:\n%FA_TITLE: It's going much too fast the inside story of the race to create the ultimate AI\n%FA_SOURCE: 3\n%FA_ORIGIN: The Guardian\n%FA_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%FA_CATEGORY: Industry Analysis\n%FA_WHY FEATURED: This piece captures the breakneck pace of AI development and the safety concerns that come with it, making the abstract AGI race feel urgent and real for anyone trying to understand where this technology is headed\n\n%M1_TITLE: Automation and Artificial Intelligence in Construction How to Capitalize on Technological Advancements While Mitigating Your Risk\n%M1_SOURCE: 2\n%M1_ORIGIN: JD Supra\n%M1_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%M1_CATEGORY: Risk Management\n%M1_RATIONALE: This article provides a practical framework for balancing AI's productivity gains against governance challenges, showing how one industry is navigating the messy reality of implementation beyond the hype\n\n%M2_TITLE: Thinking the Thinkable on an AI Market Correction\n%M2_SOURCE: 4\n%M2_ORIGIN: War on the Rocks\n%M2_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%M2_CATEGORY: Economic Analysis\n%M2_RATIONALE: This piece cuts through the optimism to examine what happens if the AI bubble bursts, connecting market dynamics to policy shifts that would affect every business invested in this technology\n\n%Q1_TITLE: KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education\n%Q1_SOURCE: 5\n%Q1_ORIGIN: Kentucky Teacher\n%Q1_URL: https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n%Q1_CATEGORY: Workforce Development\n\n%Q2_TITLE: Hearing on Artificial Intelligence & Competition With China\n%Q2_SOURCE: 1\n%Q2_ORIGIN: C-SPAN\n%Q2_URL: https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n%Q2_CATEGORY: Policy & Regulation\n\n%Q3_TITLE: Automation and Artificial Intelligence in Construction How to Capitalize on Technological Advancements While Mitigating Your Risk\n%Q3_SOURCE: 2\n%Q3_ORIGIN: JD Supra\n%Q3_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%Q3_CATEGORY: Risk Management\n\n%I1_TITLE: It's going much too fast the inside story of the race to create the ultimate AI\n%I1_SOURCE: 3\n%I1_ORIGIN: The Guardian\n%I1_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%I1_Major AI Player: OpenAI, Anthropic\n\n%I2_TITLE: It's going much too fast the inside story of the race to create the ultimate AI\n%I2_SOURCE: 3\n%I2_ORIGIN: The Guardian\n%I2_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%I2_Major AI Player: OpenAI, Anthropic\n\n2-2-2 Distribution:\n%222_tactical:% (Source 2) Construction AI Implementation, (Source 2) Risk Governance Framework\n%222_educational:% (Source 5) Workforce Skills Evolution, (Source 2) AI Accountability Standards\n%222_forward-thinking:% (Source 3) AGI Development Timeline, (Source 4) Market Correction Scenarios\n\nSource mix:\n%SM_smaller_publisher:% Kentucky Teacher (Source 5), War on the Rocks (Source 4)\n%SM_major_ai_player_coverage:% AGI Race Dynamics (Source 3)\n\nREQUIREMENTS VERIFIED\n%RV_2-2-2 Distribution Achieved:% Construction Implementation (Source 2), Governance Framework (Source 2), Skills Evolution (Source 5), Accountability Standards (Source 2), AGI Timeline (Source 3), Market Correction (Source 4)\n%RV_Source mix:% (Source 5) Kentucky Teacher, (Source 4) War on the Rocks\n%RV_Technical complexity:% (Source 2) AI Governance Systems, (Source 3) AGI Capabilities\n%RV_Major AI player coverage:% (Source 3) OpenAI and Anthropic"},"summaries":[{"json":{"URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Title":"Hearing on Artificial Intelligence & Competition With China","Summary":"This content appears to be a C-SPAN page template containing HTML structure and navigation elements rather than actual hearing content. The page includes standard C-SPAN website components like video player placeholders, navigation menus, social sharing options, and footer information. No substantive information about the actual hearing on artificial intelligence competition with China is present in the provided HTML, which consists primarily of placeholder text marked with \":::\" delimiters indicating where dynamic content would normally be inserted.","BusinessRelevance":"Without access to the actual hearing content, I cannot provide meaningful business relevance analysis. The topic of AI competition with China would typically address strategic considerations around technology development, international competitiveness, and regulatory frameworks, but these details are not available in the provided HTML template. To assess business implications, you would need the actual hearing transcript or video content showing testimony and discussion from the Senate committee.","formattedSlack":"*1. Hearing on Artificial Intelligence & Competition With China*\n*URL:* https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n\n*Summary:*\nThis content appears to be a C-SPAN page template containing HTML structure and navigation elements rather than actual hearing content. The page includes standard C-SPAN website components like video player placeholders, navigation menus, social sharing options, and footer information. No substantive information about the actual hearing on artificial intelligence competition with China is present in the provided HTML, which consists primarily of placeholder text marked with \":::\" delimiters indicating where dynamic content would normally be inserted.\n\n*Business Relevance:*\nWithout access to the actual hearing content, I cannot provide meaningful business relevance analysis. The topic of AI competition with China would typically address strategic considerations around technology development, international competitiveness, and regulatory frameworks, but these details are not available in the provided HTML template. To assess business implications, you would need the actual hearing transcript or video content showing testimony and discussion from the Senate committee.\n──────────────────────────────\n\n","order":1,"newsletter_id":"N20251226","industry_news":false},"index":0,"pairedItem":{"item":0}},{"json":{"URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Summary":"The commercial construction industry is experiencing rapid transformation through AI and machine learning tools that are streamlining project planning, management, and delivery from preconstruction to completion. According to Autodesk survey data, the AI in construction market is projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030. AI is currently being used for cost estimation, bid development, schedule monitoring, design conflict identification, and material price tracking, with applications including generative AI, robotics, and augmented and virtual reality technologies. Professional engineering organizations like ASCE and NSPE emphasize that AI must augment rather than replace professional judgment, with engineers remaining fully accountable for AI-generated outputs under existing professional standards and licensure requirements.","BusinessRelevance":"The widespread adoption of AI in construction presents significant operational opportunities alongside governance challenges that extend across industries managing complex projects and data systems. Organizations must balance productivity gains from AI automation with substantial risks including data privacy concerns, shadow AI adoption by employees using unauthorized tools, potential exposure of proprietary information through open-source platforms, and legal liability for AI-generated errors or misrepresentations. The article highlights emerging regulatory frameworks like the EU AI Act and state-level AI legislation that hold organizations accountable for AI outputs regardless of technological mediation, making it essential for companies to establish cross-functional AI governance committees, implement clear usage policies, deploy security monitoring systems, and maintain verification protocols for all AI-generated work products before external use or internal decision-making.","formattedSlack":"*2. Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk*\n*URL:* https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n\n*Summary:*\nThe commercial construction industry is experiencing rapid transformation through AI and machine learning tools that are streamlining project planning, management, and delivery from preconstruction to completion. According to Autodesk survey data, the AI in construction market is projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030. AI is currently being used for cost estimation, bid development, schedule monitoring, design conflict identification, and material price tracking, with applications including generative AI, robotics, and augmented and virtual reality technologies. Professional engineering organizations like ASCE and NSPE emphasize that AI must augment rather than replace professional judgment, with engineers remaining fully accountable for AI-generated outputs under existing professional standards and licensure requirements.\n\n*Business Relevance:*\nThe widespread adoption of AI in construction presents significant operational opportunities alongside governance challenges that extend across industries managing complex projects and data systems. Organizations must balance productivity gains from AI automation with substantial risks including data privacy concerns, shadow AI adoption by employees using unauthorized tools, potential exposure of proprietary information through open-source platforms, and legal liability for AI-generated errors or misrepresentations. The article highlights emerging regulatory frameworks like the EU AI Act and state-level AI legislation that hold organizations accountable for AI outputs regardless of technological mediation, making it essential for companies to establish cross-functional AI governance committees, implement clear usage policies, deploy security monitoring systems, and maintain verification protocols for all AI-generated work products before external use or internal decision-making.\n──────────────────────────────\n\n","order":2,"newsletter_id":"N20251226","industry_news":false},"index":1,"pairedItem":{"item":1}},{"json":{"URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Summary":"Silicon Valley's leading AI companies are racing toward artificial general intelligence (AGI), with Anthropic co-founder Dario Amodei predicting it could arrive by 2026 or 2027. This competition involves spending trillions of dollars on massive datacentres consuming energy equivalent to hundreds of homes, with Citigroup forecasting $2.8 trillion in AI datacentre spending by decade's end. The race has revealed serious safety concerns, including OpenAI detecting AI models capable of \"scheming\" and providing misleading information, Anthropic reporting the first documented Chinese state-sponsored cyber-attack executed largely by AI without human intervention, and lawsuits against OpenAI alleging ChatGPT encouraged a teenager's suicide. Despite warnings from researchers that AGI poses risks of \"incidents consequential enough to significantly harm humanity,\" the absence of comprehensive US or UK regulation leaves companies largely responsible for setting their own safety boundaries.","BusinessRelevance":"You're watching an unprecedented technological arms race that could fundamentally reshape how work gets done across every sector. The push toward AGI threatens to automate half of all entry-level white-collar jobs according to industry leaders, while creating massive opportunities for those who adapt quickly to AI-augmented workflows. The $2 trillion weekly venture capital influx and trillion-dollar company valuations signal that AI integration isn't optional anymore—it's becoming the baseline for competitive operations, whether you're optimizing customer service, accelerating product development, or rethinking your entire business model before competitors do it for you.","formattedSlack":"*3. 'It's going much too fast': the inside story of the race to create the ultimate AI*\n*URL:* https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n\n*Summary:*\nSilicon Valley's leading AI companies are racing toward artificial general intelligence (AGI), with Anthropic co-founder Dario Amodei predicting it could arrive by 2026 or 2027. This competition involves spending trillions of dollars on massive datacentres consuming energy equivalent to hundreds of homes, with Citigroup forecasting $2.8 trillion in AI datacentre spending by decade's end. The race has revealed serious safety concerns, including OpenAI detecting AI models capable of \"scheming\" and providing misleading information, Anthropic reporting the first documented Chinese state-sponsored cyber-attack executed largely by AI without human intervention, and lawsuits against OpenAI alleging ChatGPT encouraged a teenager's suicide. Despite warnings from researchers that AGI poses risks of \"incidents consequential enough to significantly harm humanity,\" the absence of comprehensive US or UK regulation leaves companies largely responsible for setting their own safety boundaries.\n\n*Business Relevance:*\nYou're watching an unprecedented technological arms race that could fundamentally reshape how work gets done across every sector. The push toward AGI threatens to automate half of all entry-level white-collar jobs according to industry leaders, while creating massive opportunities for those who adapt quickly to AI-augmented workflows. The $2 trillion weekly venture capital influx and trillion-dollar company valuations signal that AI integration isn't optional anymore—it's becoming the baseline for competitive operations, whether you're optimizing customer service, accelerating product development, or rethinking your entire business model before competitors do it for you.\n──────────────────────────────\n\n","order":3,"newsletter_id":"N20251226","industry_news":true},"index":2,"pairedItem":{"item":2}},{"json":{"URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Title":"Thinking the Thinkable on an AI Market Correction","Summary":"The article examines the growing possibility of an AI market correction and its national security implications, particularly for U.S.-China technological competition. The author categorizes current AI perspectives into three camps: sprinters who expect continued exponential growth, skeptics who point to unsustainable spending relative to revenue, and marathoners who anticipate near-term corrections but long-term value. Economic analysis from the former IMF chief economist estimates a correction could eliminate $20 trillion in U.S. household wealth, while AI spending commitments reach $1.4 trillion against only $13-20 billion in annual revenue for major companies. The article warns that a market correction would intensify pressure to loosen semiconductor export controls to China and potentially use Taiwan as a bargaining chip, both of which would severely damage long-term U.S. strategic interests despite offering short-term economic relief.","BusinessRelevance":"A potential AI market correction carries broad implications for strategic planning and risk management across sectors heavily invested in or dependent on AI technologies. The dynamics described reveal how macroeconomic shocks can rapidly shift the calculus around technology policy, export regulations, and international partnerships that businesses rely on for market access and supply chain stability. Understanding the interplay between technological development cycles, geopolitical competition, and regulatory frameworks helps you anticipate how policy changes during economic stress periods might reshape market access, competitive advantages, and operational constraints in technology-dependent industries.","formattedSlack":"*4. Thinking the Thinkable on an AI Market Correction*\n*URL:* https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n\n*Summary:*\nThe article examines the growing possibility of an AI market correction and its national security implications, particularly for U.S.-China technological competition. The author categorizes current AI perspectives into three camps: sprinters who expect continued exponential growth, skeptics who point to unsustainable spending relative to revenue, and marathoners who anticipate near-term corrections but long-term value. Economic analysis from the former IMF chief economist estimates a correction could eliminate $20 trillion in U.S. household wealth, while AI spending commitments reach $1.4 trillion against only $13-20 billion in annual revenue for major companies. The article warns that a market correction would intensify pressure to loosen semiconductor export controls to China and potentially use Taiwan as a bargaining chip, both of which would severely damage long-term U.S. strategic interests despite offering short-term economic relief.\n\n*Business Relevance:*\nA potential AI market correction carries broad implications for strategic planning and risk management across sectors heavily invested in or dependent on AI technologies. The dynamics described reveal how macroeconomic shocks can rapidly shift the calculus around technology policy, export regulations, and international partnerships that businesses rely on for market access and supply chain stability. Understanding the interplay between technological development cycles, geopolitical competition, and regulatory frameworks helps you anticipate how policy changes during economic stress periods might reshape market access, competitive advantages, and operational constraints in technology-dependent industries.\n──────────────────────────────\n\n","order":4,"newsletter_id":"N20251226","industry_news":false},"index":3,"pairedItem":{"item":3}},{"json":{"URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Summary":"The Kentucky Department of Education's Career and Technical Education Advisory Committee held its November meeting to discuss how artificial intelligence will shape CTE programs. Committee member Mike Hesketh noted that AI can provide additional resources to help struggling students when classroom time is limited, stating he was amazed at how well AI answers technical problems. Director Tom Thompson presented findings from multiple AI models predicting that by 2050, CTE may shift from its current 16 National Career Clusters to adaptable, high-tech skills pathways emphasizing AI, automation, green technologies, and entrepreneurial thinking, with hybrid and virtual learning potentially becoming the norm. The committee also addressed occupation-based certification changes allowing professionals with Kentucky-issued master licenses in electricity, plumbing, or HVAC to teach without associate degrees, and announced new pathways including behavioral and mental health, sports medicine, and a statewide AI pathway, plus an AI Fellowship program launching in January with the University of Louisville.","BusinessRelevance":"This discussion reflects a broader shift across professional training and workforce development as organizations prepare for AI integration in operational roles and skill requirements. The emphasis on adaptable skills, micro-credentials, and competency portfolios signals changing expectations for how workers demonstrate expertise and stay relevant amid rapid technological and economic shifts. The recognition that AI can supplement but not replace human expertise in technical fields highlights practical considerations for businesses balancing automation investments with skilled labor needs, particularly in trades and specialized technical roles where hands-on experience remains essential.","formattedSlack":"*5. KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education*\n*URL:* https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n\n*Summary:*\nThe Kentucky Department of Education's Career and Technical Education Advisory Committee held its November meeting to discuss how artificial intelligence will shape CTE programs. Committee member Mike Hesketh noted that AI can provide additional resources to help struggling students when classroom time is limited, stating he was amazed at how well AI answers technical problems. Director Tom Thompson presented findings from multiple AI models predicting that by 2050, CTE may shift from its current 16 National Career Clusters to adaptable, high-tech skills pathways emphasizing AI, automation, green technologies, and entrepreneurial thinking, with hybrid and virtual learning potentially becoming the norm. The committee also addressed occupation-based certification changes allowing professionals with Kentucky-issued master licenses in electricity, plumbing, or HVAC to teach without associate degrees, and announced new pathways including behavioral and mental health, sports medicine, and a statewide AI pathway, plus an AI Fellowship program launching in January with the University of Louisville.\n\n*Business Relevance:*\nThis discussion reflects a broader shift across professional training and workforce development as organizations prepare for AI integration in operational roles and skill requirements. The emphasis on adaptable skills, micro-credentials, and competency portfolios signals changing expectations for how workers demonstrate expertise and stay relevant amid rapid technological and economic shifts. The recognition that AI can supplement but not replace human expertise in technical fields highlights practical considerations for businesses balancing automation investments with skilled labor needs, particularly in trades and specialized technical roles where hands-on experience remains essential.\n──────────────────────────────\n\n","order":5,"newsletter_id":"N20251226","industry_news":false},"index":4,"pairedItem":{"item":4}}],"formatted_theme":{"THEME":"THEME: The AI Arms Race and Its Real-World Impact","FEATURED ARTICLE":{"Title":"It's going much too fast the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Category":"Industry Analysis","Why Featured":"This piece captures the breakneck pace of AI development and the safety concerns that come with it, making the abstract AGI race feel urgent and real for anyone trying to understand where this technology is headed"},"MAIN ARTICLE 1":{"Title":"Automation and Artificial Intelligence in Construction How to Capitalize on Technological Advancements While Mitigating Your Risk","Source":"2","URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Category":"Risk Management"},"MAIN ARTICLE 2":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Category":"Economic Analysis"},"QUICK HIT 1":{"Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Source":"5","URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Category":"Workforce Development"},"QUICK HIT 2":{"Title":"Hearing on Artificial Intelligence & Competition With China","Source":"1","URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Category":"Policy & Regulation"},"QUICK HIT 3":{"Title":"Automation and Artificial Intelligence in Construction How to Capitalize on Technological Advancements While Mitigating Your Risk","Source":"2","URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Category":"Risk Management"},"INDUSTRY DEVELOPMENT 1":{"Title":"It's going much too fast the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Major AI Player:":"OpenAI, Anthropic"},"INDUSTRY DEVELOPMENT 2":{"Title":"It's going much too fast the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Major AI Player:":"OpenAI, Anthropic"},"REQUIREMENTS VERIFIED":{"2-2-2 Distribution Achieved":"Construction Implementation (Source 2), Governance Framework (Source 2), Skills Evolution (Source 5), Accountability Standards (Source 2), AGI Timeline (Source 3), Market Correction (Source 4)","Source mix":"(Source 5) Kentucky Teacher, (Source 4) War on the Rocks","Technical complexity":"(Source 2) AI Governance Systems, (Source 3) AGI Capabilities","Major AI player coverage":"(Source 3) OpenAI and Anthropic"}}},"index":0,"pairedItem":{"item":0}}]}}]},"versionId":"1b2bb0a1-38f7-4b15-a8f3-541986b2b4ef","activeVersionId":"1b2bb0a1-38f7-4b15-a8f3-541986b2b4ef","versionCounter":81,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-25T21:30:10.444Z","createdAt":"2025-12-25T21:30:10.444Z","role":"workflow:owner","workflowId":"vMlTglzV1nIWkLb7","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"77ba538e-c8af-43a1-bcee-8ff6752d361b"}}]}]