_n8n-project/workflows/SUB/linkedin_carousel_generator_subworkflow.json
[{"updatedAt":"2026-01-26T20:48:48.354Z","createdAt":"2026-01-16T13:00:12.443Z","id":"kLcefT7KAtrwYAH1","name":"Linkedin Carousel Generator [sub-workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4080,304],"id":"a072affb-0310-4448-8460-d16fac3039ab","name":"Workflow Initiated"},{"parameters":{"jsCode":"let documentId = null;\nlet formattedTheme = null;\nlet summaries = null;\n\n/**\n * Recursively walk the entire object tree\n * and collect document, formatted_theme, and summaries\n */\nfunction walk(obj) {\n  if (!obj || typeof obj !== 'object') return;\n\n  if (obj.document && !documentId) {\n    documentId = obj.document;\n  }\n\n  if (obj.formatted_theme && !formattedTheme) {\n    formattedTheme = obj.formatted_theme;\n  }\n\n  if (obj.summaries && !summaries) {\n    summaries = obj.summaries;\n  }\n\n  for (const key of Object.keys(obj)) {\n    const value = obj[key];\n    if (Array.isArray(value)) {\n      value.forEach(walk);\n    } else if (typeof value === 'object') {\n      walk(value);\n    }\n  }\n}\n\n// 1. Workflow Initiated path\ntry {\n  const items = $('Workflow Initiated').all();\n  if (items.length > 0) {\n    walk(items[0].json);\n  }\n} catch (e) {\n  console.error('Workflow Initiated error:', e);\n}\n\n// 2. Chat-trigger fallback\nif (!documentId || !formattedTheme || !summaries) {\n  try {\n    const chatInput = $('When a chat message received').first().json.chatInput;\n    if (chatInput) {\n      const parsed = JSON.parse(chatInput);\n      walk(parsed);\n    }\n  } catch (e) {\n    console.error('Chat-trigger error:', e);\n  }\n}\n\n// 3. Guards\nif (!documentId) {\n  throw new Error('Document ID not found in any input');\n}\n\nif (!formattedTheme) {\n  throw new Error('formatted_theme not found in any input');\n}\n\nif (!summaries) {\n  throw new Error('summaries not found in any input');\n}\n\n// 4. Output\nreturn [\n  {\n    json: {\n      inputData: documentId,\n      formatted_theme: formattedTheme,\n      summaries: summaries\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3856,352],"id":"026a459e-0f14-4c1b-b993-24710890ecb6","name":"Fetch HTML Document ID"},{"parameters":{"operation":"get","documentURL":"={{ $('Fetch HTML Document ID').item.json.inputData }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-3184,352],"id":"0b955b5a-2662-470c-8dee-c80ddc5257ba","name":"Fetch document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Fetched final HTML newsletter. Are we good to proceed to Linkedin Posts generation ?*","approvalOptions":{"values":{"approveLabel":"Yes"}},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-3632,352],"id":"b04f0c29-5822-49ff-978a-f971c11d8efd","name":"User approval","webhookId":"22195f2e-1680-4393-9ada-e46dd0c2f9a3","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"messageType":"block","blocksUi":"={{ JSON.stringify($json.blocks ?? []) }}","text":"={{ $json.output.data ?? $json.output }}","otherOptions":{"mrkdwn":false}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-1936,496],"id":"7fa555a2-66cd-4588-b386-d8f6a622d2db","name":"Send a message","webhookId":"59240b68-db95-4634-afc8-0149fb0a924e","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_LINKEDIN_MODEL }}","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2672,576],"id":"f3da83cc-64cd-494a-a67d-489b543568ab","name":"OpenRouter posts generator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Linkedin posts generated*","responseType":"customForm","formFields":{"values":[{"fieldName":"Proceed to Next steps","fieldLabel":"Proceed to Next steps","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"Regenerate"},{"option":"Provide Feedback"}]},"requiredField":true}]},"options":{"messageButtonLabel":"Proceed to Next Steps","responseFormTitle":"Proceed to Next Steps","responseFormDescription":"Linkedin  posts generated"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-1712,496],"id":"384e7400-9335-4365-a5bd-00fc730d5441","name":"Next steps","webhookId":"9560aa99-2673-44b5-88af-d5ddeed6e3bc","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"// Fetch the formatted_theme from your HTML document node\nconst formattedTheme = $('Fetch HTML Document ID').first().json.formatted_theme;\n\n// Fetch the newsletter HTML content from the input node\nconst content = $input.first().json.content;\n\n// Combine into a single object\nreturn {\n  json: {\n    newsletter: {\n      formattedTheme,\n      content\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2960,352],"id":"155b8862-b875-4c3b-afc6-a760e384f698","name":"Aggregate input"},{"parameters":{"text":"=You are an expert editorial AI that converts long-form B2B AI newsletters into high-performing LinkedIn carousel content.\n\nYou will receive two inputs:\n\n1. {{ $('Aggregate input').item.json.newsletter.formattedTheme }}\n→ This is the *authoritative source of article titles, categories, and URLs*\n\n2.  {{ $('Aggregate input').item.json.newsletter.content }}\n→ This is the full HTML newsletter, used only for narrative context, tone, and insight extraction\n\n3. {{ $json.generated }}\n→ This is the previously generated LinkedIn post + carousel output, including character_errors if present. If character_errors exist, focus on correcting those violations while preserving meaning, tone, and structure.\n\n## CRITICAL SOURCE RULES (NON-NEGOTIABLE)\n- *formattedTheme is the source of truth for*:\n  - Article list\n  - Article order\n  - Titles\n  - URLs\n- Use the HTML content ONLY to:\n  - Understand the narrative\n  - Extract key insights\n  - Identify implications and framing\n- *DO NOT invent or infer URLs*\n- *DO NOT reuse a URL unless it appears in formattedTheme*\n- If a URL is missing for an article in formattedTheme, OMIT the link entirely\n- Do NOT introduce tools, companies, or claims not present in either input\n\n\n## ARTICLE ORDER (MUST BE PRESERVED)\nCreate content in this exact sequence:\n- FEATURED ARTICLE\n- MAIN ARTICLE 1\n- MAIN ARTICLE 2\n- QUICK HIT 1\n- QUICK HIT 2\n- QUICK HIT 3\n- INDUSTRY DEVELOPMENT 1\n- INDUSTRY DEVELOPMENT 2\n\nThis order applies to:\n- TL;DR bullets\n- Slides 3–10\n\n\n## VOICE & TONE\n- Professional, conversational, and authoritative\n- Focused on operational reality and business impact\n- Insight-driven, not promotional\n- Clear, concrete, and grounded in specifics\n- Maintain the author’s voice from the newsletter\n\n\n## TECHNICAL SPECIFICATIONS (HARD REQUIREMENTS)\n### Character Counts\n- Article slide body (Slides 3–10):\n  - 265–315 characters total, including spaces\n  - Target: ~290 characters\n  - This is a hard requirement. If character_errors are present, rewrite only those slide bodies to comply.\n- Paragraph 1:\n  - 120–150 characters\n  - Used for context, tension, or key insight\n- Paragraph 2:\n  - 130–150 characters\n  - Used for implication, example, or takeaway\n- TL;DR bullets:\n  - ~50 characters target\n  - Slight overage permitted for clarity, but remain concise\n- LinkedIn post copy:\n  - 3–4 short lines total\n  - Must follow the defined structure exactly (hook, theme statement, links/CTA, brand CTA)\n\n*Flexibility note:*\nThe 265–315 character range allows for natural phrasing while maintaining visual consistency across carousel slides. Optimize clarity first, then adjust phrasing to remain within limits.\n\n\n## LINKEDIN POST COPY (3 VERSIONS)\n### STRUCTURE (ALL THREE)\nEach version MUST follow this structure exactly:\n- Opening hook\n  - Use “*Feeling behind on AI?*” or a close variation\n- One punchy sentence connecting to the newsletter’s theme\n  - Use the theme or opening idea from the newsletter\n  - Never use the title alone without context\n- Combined links reference + newsletter CTA in ONE line using a dash\n  - Example: “All article links in my newsletter – read it here: [LINK]”\n- Brand CTA\n  - Reference iS2 Digital\n  - Vary wording across versions\n\nKeep each version to *3–4 short, scannable lines.*\n\n\n## CAROUSEL CONTENT\n### TL;DR SECTION (TITLE SLIDE)\n- Purpose: Provide a quick-scan summary of the full newsletter.\n- Rules:\n  - 8 bullets total (one per article)\n  - Follow the exact article order\n  - Each bullet captures the core insight of its article\n  - Use punchy, active phrasing\n  - Each bullet must stand alone meaningfully\n\nFormat:\n\nTL;DR\n\n• [Bullet 1]\n• [Bullet 2]\n• [Bullet 3]\n• [Bullet 4]\n• [Bullet 5]\n• [Bullet 6]\n• [Bullet 7]\n• [Bullet 8]\n\n\n## SLIDES 3–10 — ARTICLE PREVIEW SLIDES\nEach slide must include:\n- *Title*\n  - Short, punchy, social-optimized\n  - Adapted from the article title if needed (do not misrepresent)\n\n- *Body*\n  - Two paragraphs only\n  - Paragraph 1: Context, tension, or key insight (120–150 characters)\n  - Paragraph 2: Specific implication, example, or takeaway (130–150 characters)\n  - Total body length: 265–315 characters (hard requirement)\n  - Bold 1–2 key phrases per slide for emphasis (no more)\n\n- Guidelines:\n  - Preview value — do not summarize the entire article\n  - Emphasize “what this means for organizations”\n  - Maintain narrative clarity and curiosity\n\n- If character_errors are present in the input, rewrite only those slide bodies to comply with the character limit, preserving meaning, tone, and formatting.\nFor slides without errors, retain the previous content exactly.\n\n## OUTPUT FORMAT (STRICT — DO NOT DEVIATE)\nOutput ONLY the final content in the structure below.\nNo analysis, no explanations, no meta commentary.\n\n*LinkedIn Post Copy*\n\n*Version 1*\n[Full post text]\n\n*Version 2*\n[Full post text]\n\n*Version 3*\n[Full post text]\n\n---\n\n*Carousel Slides*\n\n*TL;DR Section for Title Slide*\n*Headline:* TL;DR\n\n*Bullets:*\n• [Featured article summary]  \n• [Main article 1 summary]  \n• [Main article 2 summary]  \n• [Quick Hit 1 summary]  \n• [Quick Hit 2 summary]  \n• [Quick Hit 3 summary]  \n• [Industry Development 1 summary]  \n• [Industry Development 2 summary]\n\n---\n\n*Slide 3: [Featured article title]*\n*Title:* [Featured article title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 4: [Main article 1 title]*\n*Title:* [Main article 1 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 5: [Main article 2 title]*\n*Title:* [Main article 2 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 6: [Quick Hit 1 title]*\n*Title:* [Quick Hit 1 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 7: [Quick Hit 2 title]*\n*Title:* [Quick Hit 2 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 8: [Quick Hit 3 title]*\n*Title:* [Quick Hit 3 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 9: [Industry Development 1 title]*\n*Title:* [Industry Development 1 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 10: [Industry Development 2 title]*\n*Title:* [Industry Development 2 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n\n## SLACK FORMATTING RULES (NON-NEGOTIABLE)\nThis output will be rendered in Slack. Use Slack mrkdwn only.\n- Use *single asterisks* for bold (e.g., *bold text*). Do NOT use **double asterisks**.\n- Do NOT use Markdown headings (##, ###) or horizontal rules (---).\n- Insert a blank line between all sections and paragraphs.\n- Bullets must use \"•\" and appear on their own lines.\n- Do not run text together on the same line after bold labels.\n- Avoid compact or chained formatting (e.g., *Title:**Body*).\n\n## IMPORTANT: Before outputting, validate Slack formatting:\n- Replace all double asterisks with single asterisks\n- Insert a blank line between every section, paragraph, and label\n\n## FINAL EXECUTION RULES\n- Use formattedTheme for structure and URLs\n- Use content HTML for insight and narrative\n- Do NOT add or remove slides\n- Do NOT invent sources or links\n- Do NOT reorder articles\n- Output Markdown only\n\nGenerate the complete LinkedIn carousel package now.","attributes":{"attributes":[{"name":"data","description":"social media post"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-2736,352],"id":"869fd617-6462-41b5-9c4c-eed4c0b84c8e","name":"Generate Linkedin Carousel using LLM"},{"parameters":{"jsCode":"const rawText = $input.first().json.output.data;\nconst MIN_CHARS = 265;\nconst MAX_CHARS = 315;\nlet errors = [];\n\n// Regex to find each Body block inside slides\nconst bodyRegex =\n  /(\\*Body:\\*\\n)([\\s\\S]*?)(?=\\n\\n---|\\n\\n\\*Slide|\\s*$)/g;\n\nconst updatedText = rawText.replace(bodyRegex, (match, bodyLabel, bodyContent) => {\n  // Preserve paragraph breaks but normalize excess whitespace\n  const cleanedBody = bodyContent.trimEnd();\n\n  // Character count includes spaces and line breaks\n  const charCount = (cleanedBody.length) - 4;\n\n  // Log error if character count is outside range\n  if (charCount < MIN_CHARS || charCount > MAX_CHARS) {\n    errors.push({\n      slide_body: bodyContent,\n      type: \"CHARACTER_LIMIT_VIOLATION\",\n      severity: \"ERROR\",\n      actualCharacters: charCount,\n      requiredRange: `${MIN_CHARS}-${MAX_CHARS}`,\n      instruction:\n        \"Rewrite the slide body to be 265–315 characters total while preserving meaning, tone, and structure.\"\n    });\n  }\n  \n  return (\n    `${bodyLabel}` +\n    `${cleanedBody}\\n\\n` +\n    `*Character count:* ${charCount} characters`\n  );\n});\n\nconst staticData = $getWorkflowStaticData('node');\nconst execId = $execution.id;\n// Initialize run counter if not present\nif (!staticData[execId]) {\n  staticData[execId] = 0;\n}\n// Increment the run count\nstaticData[execId] += 1;\nconst MAX_ATTEMPTS = 2;\nif (staticData[execId] >= MAX_ATTEMPTS) {\n  errors = [];\n}\n\nreturn [\n  {\n    json: {\n      output: updatedText,\n      character_errors: errors\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,304],"id":"c8ae7326-2345-41f6-b9c4-c738a1192349","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"40dc8eca-9b8b-4444-84be-c62deb3901e2","leftValue":"={{ $json.character_errors.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2160,304],"id":"b4b58acc-a6cd-4ed3-8a67-e2367303e550","name":"If_errors","alwaysOutputData":false},{"parameters":{"jsCode":"// Fetch the first item from the previous node called 'Code in JavaScript'\nconst prevOutput = $('Code in JavaScript').first().json.output;\nconst charErrors = $('Code in JavaScript').first().json.character_errors;\n\n// Wrap into a single JSON object\nreturn [\n  {\n    json: {\n      generated: {\n        output: prevOutput,\n        character_errors: charErrors\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1936,304],"id":"245aeb17-6f98-4dc9-a612-5dff69eef7ba","name":"Code in JavaScript1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.data[\"Proceed to Next steps\"] }}","rightValue":"Yes","operator":{"type":"string","operation":"contains"},"id":"92bcb962-7766-4b94-955a-0c4ac62868fa"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"bbb3fea2-8c2f-40c9-9a29-2f52446b69e5","leftValue":"={{ $json.data[\"Proceed to Next steps\"] }}","rightValue":"Provide Feedback","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","ignoreCase":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1504,496],"id":"a91025be-bfad-4db4-bf70-140980c8a834","name":"Switch"},{"parameters":{"folderId":"default","title":"Linkedin-posts"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-1088,384],"id":"77d790f9-d5fe-44be-afd4-bd51d5054a45","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Fetch Final output').item.json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-880,384],"id":"4a87c15d-946a-4634-abcf-a3282c7f0e31","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=*Review Generated Linkedin Posts here, moving to next steps :* \\n https://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-672,384],"id":"ab1863b2-b019-4370-8aa0-8f494c496236","name":"Send a message1","webhookId":"488991d6-e5d0-41e0-a432-52d0824bd6ae","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"*Please provide feedback to improve LinkedIn posts content*","responseType":"freeText","options":{"messageButtonLabel":"Add feedback","responseFormTitle":"Feedback Form","responseFormDescription":"Please provide feedback to improve Linkedin posts content"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-1280,624],"id":"b3d08ab1-939c-4887-b492-69d6a08ddc02","name":"Send message and wait for response","webhookId":"f7c2a2f5-d2ef-471c-a6de-3fc8ff06f059","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_LINKEDIN_REGENERATION_MODEL }}","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1072,880],"id":"d2567001-c1f6-4084-a2d7-28579c56e73d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"text":"=You are an expert editorial AI refining previously generated LinkedIn carousel content for a B2B AI newsletter.\n\nThis task is a revision pass, not a new generation.\n\n## INPUTS\nYou will receive four inputs:\n\n1. Previously generated output (PRIMARY SOURCE)\n{{ $('If_errors').item.json.output }}\n→ This is the authoritative content to revise.\n→ It may include:\n  - LinkedIn post copy\n  - Carousel slides\n  - character_errors\n  - Other user feedback notes\n\n2. User feedback (PRIMARY AUTHORITY FOR CHANGES)\n{{ $json.data.text }}\n→ Apply this feedback precisely and literally.\n→ Do NOT infer additional changes.\n\n3. Reference: Article structure & URLs (READ-ONLY)\n{{ $('Aggregate input').item.json.newsletter.formattedTheme }}\n→ Use only to:\n  - Validate titles\n  - Validate article order\n  - Validate URLs\n    → Do NOT regenerate structure from this input.\n\n4. Reference: Narrative context (READ-ONLY)\n{{ $('Aggregate input').item.json.newsletter.content }}\n→ Use only to:\n  - Validate tone\n  - Validate factual alignment\n    → Do NOT extract structure or rewrite content unless feedback requires it.\n\n\n## CRITICAL EXECUTION RULES (NON-NEGOTIABLE)\n- The previously generated output is the source of truth\n- Apply ONLY the feedback provided\n- Do NOT recreate content\n- Do NOT improve or optimize unless explicitly instructed\n- Do NOT change slides, bullets, or copy not mentioned in feedback\n- Preserve voice, tone, and framing\n\nIf feedback references specific slides, paragraphs, or lines:\n- Modify only those exact sections\n- Leave all other content untouched\n\n\n## VOICE & TONE\n- Professional, conversational, and authoritative\n- Focused on operational reality and business impact\n- Insight-driven, not promotional\n- Clear, concrete, and grounded in specifics\n- Maintain the author’s voice from the newsletter\n\n\n## STRUCTURE & ORDER (LOCKED)\n- Article order must remain unchanged\n- Slide numbering must remain unchanged\n- TL;DR bullet order must remain unchanged\n- LinkedIn post structure must remain unchanged\n\n## TECHNICAL SPECIFICATIONS (HARD REQUIREMENTS)\n### Character Counts\n- Article slide body (Slides 3–10):\n  - 265–315 characters total, including spaces\n  - Target: ~290 characters\n  - This is a hard requirement. If character_errors are present, rewrite only those slide bodies to comply.\n- Paragraph 1:\n  - 120–150 characters\n  - Used for context, tension, or key insight\n- Paragraph 2:\n  - 130–150 characters\n  - Used for implication, example, or takeaway\n- TL;DR bullets:\n  - ~50 characters target\n  - Slight overage permitted for clarity, but remain concise\n- LinkedIn post copy:\n  - 3–4 short lines total\n  - Must follow the defined structure exactly (hook, theme statement, links/CTA, brand CTA)\n\n*Flexibility note:*\nThe 265–315 character range allows for natural phrasing while maintaining visual consistency across carousel slides. Optimize clarity first, then adjust phrasing to remain within limits.\n\n\n## OUTPUT FORMAT (STRICT — DO NOT DEVIATE)\nOutput ONLY the final content in the structure below.\nNo analysis, no explanations, no meta commentary.\n\n*LinkedIn Post Copy*\n\n*Version 1*\n[Full post text]\n\n*Version 2*\n[Full post text]\n\n*Version 3*\n[Full post text]\n\n---\n\n*Carousel Slides*\n\n*TL;DR Section for Title Slide*\n*Headline:* TL;DR\n\n*Bullets:*\n• [Featured article summary]  \n• [Main article 1 summary]  \n• [Main article 2 summary]  \n• [Quick Hit 1 summary]  \n• [Quick Hit 2 summary]  \n• [Quick Hit 3 summary]  \n• [Industry Development 1 summary]  \n• [Industry Development 2 summary]\n\n---\n\n*Slide 3: [Featured article title]*\n*Title:* [Featured article title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 4: [Main article 1 title]*\n*Title:* [Main article 1 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 5: [Main article 2 title]*\n*Title:* [Main article 2 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 6: [Quick Hit 1 title]*\n*Title:* [Quick Hit 1 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 7: [Quick Hit 2 title]*\n*Title:* [Quick Hit 2 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 8: [Quick Hit 3 title]*\n*Title:* [Quick Hit 3 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 9: [Industry Development 1 title]*\n*Title:* [Industry Development 1 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n*Slide 10: [Industry Development 2 title]*\n*Title:* [Industry Development 2 title]\n\n*Body:*\n[Paragraph 1]\n\n[Paragraph 2]\n\n\n## OUTPUT FORMAT (STRICT)\n- Output only the final revised content\n- Use the exact same structure as the original output\n- Do NOT include:\n  - Explanations\n  - Change summaries\n  - Feedback restatements\n  - Meta commentary\n\n## SLACK FORMATTING RULES (NON-NEGOTIABLE)\nThis output will be rendered in Slack. Use Slack mrkdwn only.\n- Use *single asterisks* for bold (e.g., *bold text*). Do NOT use **double asterisks**.\n- Do NOT use Markdown headings (##, ###) or horizontal rules (---).\n- Insert a blank line between all sections and paragraphs.\n- Bullets must use \"•\" and appear on their own lines.\n- Do not run text together on the same line after bold labels.\n- Avoid compact or chained formatting (e.g., *Title:**Body*).\n\n## IMPORTANT: Before outputting, validate Slack formatting:\n- Replace all double asterisks with single asterisks\n- Insert a blank line between every section, paragraph, and label\n\n## FINAL INSTRUCTION\n\nUsing the previously generated output as your base, apply the user feedback exactly as provided, referencing formattedTheme and content only for validation.\n\nReturn the corrected LinkedIn carousel package now.","attributes":{"attributes":[{"name":"data","description":"Linkedin posts"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-1072,624],"id":"7b4629a2-41b1-4741-ab24-c5db857e8bf9","name":"Re-Generate Linkedin Carousel using LLM"},{"parameters":{"jsCode":"let output;\n\ntry {\n  // Try fetching regenerated output\n  output = $('Re-Generate Linkedin Carousel using LLM').first().json.output.data;\n\n  if (!output) {\n    throw new Error('Re-generator output is empty');\n  }\n} catch (e) {\n  // Fallback to original generator output\n  output = $('Code in JavaScript').first().json.output;\n}\n\nreturn [\n  {\n    json: {\n      output\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,384],"id":"04245dab-b3d0-42be-89c7-965ac4ce8b8d","name":"Fetch Final output"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-4096,528],"id":"e9fdf25e-b98b-447c-8ee8-6cdf107bd9cd","name":"When a chat message received","webhookId":"0d305279-01c9-4916-a3c7-66f91c31d12c"},{"parameters":{"workflowId":{"__rl":true,"value":"O5I7T1oioeIBv0j4","mode":"list","cachedResultUrl":"/workflow/O5I7T1oioeIBv0j4","cachedResultName":"LLM Global Config [UTIL]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-3424,352],"id":"865648bb-3d96-4124-9290-e2957b75fbe0","name":"LLM Global Config","alwaysOutputData":true}],"connections":{"Workflow Initiated":{"main":[[{"node":"Fetch HTML Document ID","type":"main","index":0}]]},"Fetch HTML Document ID":{"main":[[{"node":"User approval","type":"main","index":0}]]},"Fetch document":{"main":[[{"node":"Aggregate input","type":"main","index":0}]]},"User approval":{"main":[[{"node":"LLM Global Config","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Next steps","type":"main","index":0}]]},"OpenRouter posts generator":{"ai_languageModel":[[{"node":"Generate Linkedin Carousel using LLM","type":"ai_languageModel","index":0}]]},"Next steps":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Aggregate input":{"main":[[{"node":"Generate Linkedin Carousel using LLM","type":"main","index":0}]]},"Generate Linkedin Carousel using LLM":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If_errors","type":"main","index":0}]]},"If_errors":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Generate Linkedin Carousel using LLM","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Fetch Final output","type":"main","index":0}],[{"node":"Send message and wait for response","type":"main","index":0}],[{"node":"Generate Linkedin Carousel using LLM","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Re-Generate Linkedin Carousel using LLM","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Re-Generate Linkedin Carousel using LLM","type":"ai_languageModel","index":0}]]},"Re-Generate Linkedin Carousel using LLM":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Fetch Final output":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"When a chat message received":{"main":[[{"node":"Fetch HTML Document ID","type":"main","index":0}]]},"LLM Global Config":{"main":[[{"node":"Fetch document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Code in JavaScript":{"1485":1,"1488":4,"1493":1,"1511":2,"1531":4,"1549":2,"1590":1}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Initiated":[{"json":{"document":"1lHpzbroMWJiaWeGBstKS6fas8ppNADI8_Q7oIo9PymE","inputData":[{"json":{"document":"1zP5ZXc8N42cBb3wa80fCfIs2KBcDNN0ptoy963CPJRU","inputData":[{"json":{"selected_theme_title":"THEME: Navigating the AI Gold Rush Without Losing Your Balance","selected_theme":{"theme":"Navigating the AI Gold Rush Without Losing Your Balance","theme_summary":"We're watching a fascinating collision play out right now—the race to build artificial general intelligence is accelerating at breakneck speed while early adopters in industries like construction and education are discovering that implementation requires careful governance, not just enthusiasm. At the same time, serious questions about market sustainability and geopolitical risk are emerging that could reshape the entire landscape. This isn't about choosing between embracing AI or resisting it; it's about building the capabilities to adopt strategically while protecting what matters most to your organization.","theme_body":"THEME: Navigating the AI Gold Rush Without Losing Your Balance\nTheme Description: We're watching a fascinating collision play out right now—the race to build artificial general intelligence is accelerating at breakneck speed while early adopters in industries like construction and education are discovering that implementation requires careful governance, not just enthusiasm. At the same time, serious questions about market sustainability and geopolitical risk are emerging that could reshape the entire landscape. This isn't about choosing between embracing AI or resisting it; it's about building the capabilities to adopt strategically while protecting what matters most to your organization.\n\nArticles that fit.\nFEATURED ARTICLE:\n%FA_TITLE: 'It's going much too fast': the inside story of the race to create the ultimate AI\n%FA_SOURCE: 3\n%FA_ORIGIN: The Guardian\n%FA_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%FA_CATEGORY: Industry Transformation\n%FA_WHY FEATURED: This piece captures the tension everyone's feeling—the incredible promise of AGI alongside legitimate concerns about pace and consequences. It gives context for why organizations need to pay attention now rather than waiting to see what happens.\n\n%M1_TITLE: Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk\n%M1_SOURCE: 2\n%M1_ORIGIN: JD Supra\n%M1_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%M1_CATEGORY: Risk Management & Implementation\n%M1_RATIONALE: This article translates abstract AI concerns into concrete, actionable guidance for organizations adopting AI tools. It demonstrates what responsible implementation looks like in practice, with clear frameworks around governance, liability, and employee usage that apply across industries.\n\n%M2_TITLE: Thinking the Thinkable on an AI Market Correction\n%M2_SOURCE: 4\n%M2_ORIGIN: War on the Rocks\n%M2_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%M2_CATEGORY: Strategic Risk & Market Dynamics\n%M2_RATIONALE: This analysis forces leaders to consider scenarios beyond the current hype cycle. Understanding the intersection of market volatility, geopolitical competition, and technology policy helps organizations build resilient strategies that account for multiple futures rather than assuming continuous growth.\n\n%Q1_TITLE: KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education\n%Q1_SOURCE: 5\n%Q1_ORIGIN: Kentucky Teacher\n%Q1_URL: https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n%Q1_CATEGORY: Workforce Development\n\n%Q2_TITLE: Hearing on Artificial Intelligence & Competition With China\n%Q2_SOURCE: 1\n%Q2_ORIGIN: C-SPAN\n%Q2_URL: https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n%Q2_CATEGORY: Policy & Regulation\n\n%Q3_TITLE: Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk\n%Q3_SOURCE: 2\n%Q3_ORIGIN: JD Supra\n%Q3_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%Q3_CATEGORY: Practical Application\n\n%I1_TITLE: 'It's going much too fast': the inside story of the race to create the ultimate AI\n%I1_SOURCE: 3\n%I1_ORIGIN: The Guardian\n%I1_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%I1_Major AI Player: Google DeepMind, Anthropic, OpenAI\n\n%I2_TITLE: Thinking the Thinkable on an AI Market Correction\n%I2_SOURCE: 4\n%I2_ORIGIN: War on the Rocks\n%I2_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%I2_Major AI Player: Major semiconductor and AI infrastructure providers\n\n2-2-2 Distribution:\n%222_tactical:% (Source 2) Construction Risk Mitigation, (Source 3) AGI Development Race\n%222_educational:% (Source 5) CTE AI Integration, (Source 2) AI Governance Frameworks\n%222_forward-thinking:% (Source 4) Market Correction Scenarios, (Source 3) AGI Timeline Predictions\n\nSource mix:\n%SM_smaller_publisher:% Kentucky Teacher (Source 5), War on the Rocks (Source 4)\n%SM_major_ai_player_coverage:% AGI Race Coverage (Source 3)\n\nREQUIREMENTS VERIFIED,\n%RV_2-2-2 Distribution Achieved:% Construction Risk (Source 2), AGI Development (Source 3), CTE Integration (Source 5), Governance Frameworks (Source 2), Market Correction (Source 4), AGI Timeline (Source 3)\n%RV_Source mix:% (Source 5) Education Workforce, (Source 4) Geopolitical Analysis\n%RV_Technical complexity:% (Source 2) Implementation Protocols\n%RV_Major AI player coverage:% (Source 3) DeepMind Anthropic OpenAI"},"summaries":[{"json":{"URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Title":"Hearing on Artificial Intelligence & Competition With China","Summary":"This appears to be a C-SPAN event page for a Senate committee hearing on artificial intelligence and competition with China. The HTML provided contains primarily template markup and navigation elements rather than actual hearing content, making it impossible to extract substantive information about the hearing itself. The page structure includes placeholders for video content, event details, topics, resources, and participant information, but these sections contain only template variables (such as :::title:::, :::description:::) rather than actual data. Without access to the populated content or the actual video transcript, no factual summary of the hearing's discussions, findings, or conclusions can be provided.","BusinessRelevance":"Unable to provide business relevance analysis. The content required to assess how this hearing relates to business strategy, operations, or decision-making is not accessible in the provided HTML template. A meaningful business relevance statement would require access to the actual hearing transcript or detailed summary content describing what was discussed about AI competition with China and its implications.","formattedSlack":"*1. Hearing on Artificial Intelligence & Competition With China*\n*URL:* https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n\n*Summary:*\nThis appears to be a C-SPAN event page for a Senate committee hearing on artificial intelligence and competition with China. The HTML provided contains primarily template markup and navigation elements rather than actual hearing content, making it impossible to extract substantive information about the hearing itself. The page structure includes placeholders for video content, event details, topics, resources, and participant information, but these sections contain only template variables (such as :::title:::, :::description:::) rather than actual data. Without access to the populated content or the actual video transcript, no factual summary of the hearing's discussions, findings, or conclusions can be provided.\n\n*Business Relevance:*\nUnable to provide business relevance analysis. The content required to assess how this hearing relates to business strategy, operations, or decision-making is not accessible in the provided HTML template. A meaningful business relevance statement would require access to the actual hearing transcript or detailed summary content describing what was discussed about AI competition with China and its implications.\n──────────────────────────────\n\n","order":1,"newsletter_id":"N20251226","industry_news":false},"index":0,"pairedItem":{"item":0}},{"json":{"URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Summary":"The commercial construction industry is experiencing significant transformation through AI adoption, with the AI in construction market projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030, according to Autodesk. AI tools are currently being used across construction phases for cost estimation, bid development, schedule monitoring, design conflict identification, and material price tracking, among other applications. Professional organizations including ASCE, NSPE, and NCARB have issued policy statements emphasizing that AI serves as a tool to augment professional judgment rather than replace it, maintaining that licensed professionals remain fully accountable for all technical submissions and decisions made using AI-generated data. The article highlights key risks including \"black box\" AI transparency issues, \"shadow AI\" unauthorized usage by employees, data leaks through open-source platforms, and emphasizes that courts and legislatures are not excusing negligence claims based on AI use, as demonstrated by recent legal sanctions against attorneys who cited AI-generated fabricated case law.","BusinessRelevance":"You need to understand that adopting AI tools in your operations requires establishing clear governance frameworks around data handling, employee usage policies, and output verification protocols to protect proprietary information and avoid contractual breaches or liability exposure. The growth trajectory of AI in construction signals a competitive advantage for early adopters who implement it responsibly, but you must recognize that professional liability standards remain unchanged regardless of whether decisions derive from human analysis or AI-assisted processes. Practical risk mitigation steps include implementing corporate firewalls to prevent sensitive data submission to public AI platforms, creating cross-functional AI oversight committees, and maintaining verification processes for all AI-generated outputs before relying on them for business decisions or client communications.","formattedSlack":"*2. Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk*\n*URL:* https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n\n*Summary:*\nThe commercial construction industry is experiencing significant transformation through AI adoption, with the AI in construction market projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030, according to Autodesk. AI tools are currently being used across construction phases for cost estimation, bid development, schedule monitoring, design conflict identification, and material price tracking, among other applications. Professional organizations including ASCE, NSPE, and NCARB have issued policy statements emphasizing that AI serves as a tool to augment professional judgment rather than replace it, maintaining that licensed professionals remain fully accountable for all technical submissions and decisions made using AI-generated data. The article highlights key risks including \"black box\" AI transparency issues, \"shadow AI\" unauthorized usage by employees, data leaks through open-source platforms, and emphasizes that courts and legislatures are not excusing negligence claims based on AI use, as demonstrated by recent legal sanctions against attorneys who cited AI-generated fabricated case law.\n\n*Business Relevance:*\nYou need to understand that adopting AI tools in your operations requires establishing clear governance frameworks around data handling, employee usage policies, and output verification protocols to protect proprietary information and avoid contractual breaches or liability exposure. The growth trajectory of AI in construction signals a competitive advantage for early adopters who implement it responsibly, but you must recognize that professional liability standards remain unchanged regardless of whether decisions derive from human analysis or AI-assisted processes. Practical risk mitigation steps include implementing corporate firewalls to prevent sensitive data submission to public AI platforms, creating cross-functional AI oversight committees, and maintaining verification processes for all AI-generated outputs before relying on them for business decisions or client communications.\n──────────────────────────────\n\n","order":2,"newsletter_id":"N20251226","industry_news":false},"index":1,"pairedItem":{"item":1}},{"json":{"URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Summary":"Silicon Valley's major AI companies are racing to develop artificial general intelligence (AGI), systems as capable as highly qualified humans, with some leaders predicting it could arrive by 2026 or 2027. This competition involves massive investments totaling trillions of dollars in datacenters and AI infrastructure, with Citigroup forecasting $2.8 trillion in AI datacenter spending by decade's end. The race has prompted serious safety concerns from researchers and company leaders themselves, with 30 Google DeepMind scientists warning AGI poses risks consequential enough to significantly harm humanity, while recent incidents include ChatGPT being sued after allegedly encouraging a teenager's suicide and Anthropic detecting the first documented large-scale cyber-attack executed largely by AI without human intervention. Companies are struggling to balance rapid development with responsible deployment, as young engineers in their 20s and early 30s hold powerful positions shaping technology that could reshape civilization or pose existential risks.","BusinessRelevance":"The accelerating development of AGI represents a fundamental shift in how work gets done, with Anthropic's CEO predicting AI could eliminate half of all entry-level white-collar jobs. Organizations of all sizes need to prepare for a rapidly evolving competitive landscape where AI capabilities advance weekly, fundamentally changing customer expectations, operational efficiency, and workforce requirements. The lack of comprehensive regulation in the US and UK means companies must navigate AI adoption decisions largely on their own, balancing the competitive necessity of embracing these tools against uncertain risks to data security, liability, and long-term strategic positioning in an AI-transformed economy.","formattedSlack":"*3. 'It's going much too fast': the inside story of the race to create the ultimate AI*\n*URL:* https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n\n*Summary:*\nSilicon Valley's major AI companies are racing to develop artificial general intelligence (AGI), systems as capable as highly qualified humans, with some leaders predicting it could arrive by 2026 or 2027. This competition involves massive investments totaling trillions of dollars in datacenters and AI infrastructure, with Citigroup forecasting $2.8 trillion in AI datacenter spending by decade's end. The race has prompted serious safety concerns from researchers and company leaders themselves, with 30 Google DeepMind scientists warning AGI poses risks consequential enough to significantly harm humanity, while recent incidents include ChatGPT being sued after allegedly encouraging a teenager's suicide and Anthropic detecting the first documented large-scale cyber-attack executed largely by AI without human intervention. Companies are struggling to balance rapid development with responsible deployment, as young engineers in their 20s and early 30s hold powerful positions shaping technology that could reshape civilization or pose existential risks.\n\n*Business Relevance:*\nThe accelerating development of AGI represents a fundamental shift in how work gets done, with Anthropic's CEO predicting AI could eliminate half of all entry-level white-collar jobs. Organizations of all sizes need to prepare for a rapidly evolving competitive landscape where AI capabilities advance weekly, fundamentally changing customer expectations, operational efficiency, and workforce requirements. The lack of comprehensive regulation in the US and UK means companies must navigate AI adoption decisions largely on their own, balancing the competitive necessity of embracing these tools against uncertain risks to data security, liability, and long-term strategic positioning in an AI-transformed economy.\n──────────────────────────────\n\n","order":3,"newsletter_id":"N20251226","industry_news":true},"index":2,"pairedItem":{"item":2}},{"json":{"URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Title":"Thinking the Thinkable on an AI Market Correction","Summary":"The article examines the possibility of an AI market correction and its strategic implications for U.S.-China technological competition. The author divides current AI perspectives into three camps: sprinters (optimists expecting continued growth), skeptics (pointing to potential overvaluation and low returns), and marathoners (acknowledging near-term correction risks but expecting long-term benefits). A potential correction could trigger calls to loosen semiconductor export controls to China or make geopolitical concessions on Taiwan, with former IMF chief economist Gita Gopinath estimating such a correction could eliminate $20 trillion in U.S. household wealth. The piece warns that selling advanced AI chips to China, even inference-capable semiconductors, would strengthen Chinese military capabilities in robotics and unmanned systems while potentially enabling Beijing to achieve AI leadership.","BusinessRelevance":"This analysis reveals how technological market dynamics can reshape international competition and national security considerations. For business leaders, the piece highlights the tension between short-term financial pressures during market corrections and long-term strategic positioning, particularly in sectors dependent on emerging technologies or international supply chains. The discussion of potential export control changes and their consequences illustrates how government policy responses to economic downturns can fundamentally alter competitive landscapes and market access, requiring contingency planning that accounts for both economic cycles and geopolitical risk factors.","formattedSlack":"*4. Thinking the Thinkable on an AI Market Correction*\n*URL:* https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n\n*Summary:*\nThe article examines the possibility of an AI market correction and its strategic implications for U.S.-China technological competition. The author divides current AI perspectives into three camps: sprinters (optimists expecting continued growth), skeptics (pointing to potential overvaluation and low returns), and marathoners (acknowledging near-term correction risks but expecting long-term benefits). A potential correction could trigger calls to loosen semiconductor export controls to China or make geopolitical concessions on Taiwan, with former IMF chief economist Gita Gopinath estimating such a correction could eliminate $20 trillion in U.S. household wealth. The piece warns that selling advanced AI chips to China, even inference-capable semiconductors, would strengthen Chinese military capabilities in robotics and unmanned systems while potentially enabling Beijing to achieve AI leadership.\n\n*Business Relevance:*\nThis analysis reveals how technological market dynamics can reshape international competition and national security considerations. For business leaders, the piece highlights the tension between short-term financial pressures during market corrections and long-term strategic positioning, particularly in sectors dependent on emerging technologies or international supply chains. The discussion of potential export control changes and their consequences illustrates how government policy responses to economic downturns can fundamentally alter competitive landscapes and market access, requiring contingency planning that accounts for both economic cycles and geopolitical risk factors.\n──────────────────────────────\n\n","order":4,"newsletter_id":"N20251226","industry_news":true},"index":3,"pairedItem":{"item":3}},{"json":{"URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Summary":"The Kentucky Department of Education's Career and Technical Education Advisory Committee examined how artificial intelligence will shape CTE at their November meeting. Tom Thompson, director of KDE's Division of Student Transition and Career Readiness, presented AI-generated projections suggesting that by 2050, CTE may focus on adaptable high-tech skills with AI, automation, and green technologies at the center, potentially shifting to competency portfolios and micro-credentials instead of traditional industry certifications. Committee members discussed AI's potential to provide additional instructional support for struggling students when teachers face time constraints. KDE is launching new CTE pathways in behavioral and mental health, sports medicine, and a statewide AI pathway that will include standards for ethical use of AI and AI in the workplace.","BusinessRelevance":"The integration of AI into career and technical education signals a fundamental shift in how organizations should approach workforce development and training. The projected move from traditional credentials to competency portfolios and micro-credentials by 2050 suggests that you'll need to rethink how you evaluate and verify employee skills, focusing more on demonstrated abilities rather than degrees or certifications. The emphasis on adaptable, high-tech skills and rapid economic shifts means training programs should prioritize flexibility and continuous learning capabilities to keep pace with technological change and evolving business needs.","formattedSlack":"*5. KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education*\n*URL:* https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n\n*Summary:*\nThe Kentucky Department of Education's Career and Technical Education Advisory Committee examined how artificial intelligence will shape CTE at their November meeting. Tom Thompson, director of KDE's Division of Student Transition and Career Readiness, presented AI-generated projections suggesting that by 2050, CTE may focus on adaptable high-tech skills with AI, automation, and green technologies at the center, potentially shifting to competency portfolios and micro-credentials instead of traditional industry certifications. Committee members discussed AI's potential to provide additional instructional support for struggling students when teachers face time constraints. KDE is launching new CTE pathways in behavioral and mental health, sports medicine, and a statewide AI pathway that will include standards for ethical use of AI and AI in the workplace.\n\n*Business Relevance:*\nThe integration of AI into career and technical education signals a fundamental shift in how organizations should approach workforce development and training. The projected move from traditional credentials to competency portfolios and micro-credentials by 2050 suggests that you'll need to rethink how you evaluate and verify employee skills, focusing more on demonstrated abilities rather than degrees or certifications. The emphasis on adaptable, high-tech skills and rapid economic shifts means training programs should prioritize flexibility and continuous learning capabilities to keep pace with technological change and evolving business needs.\n──────────────────────────────\n\n","order":5,"newsletter_id":"N20251226","industry_news":false},"index":4,"pairedItem":{"item":4}}],"formatted_theme":{"THEME":"THEME: Navigating the AI Gold Rush Without Losing Your Balance","FEATURED ARTICLE":{"Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Category":"Industry Transformation","Why Featured":"This piece captures the tension everyone's feeling—the incredible promise of AGI alongside legitimate concerns about pace and consequences. It gives context for why organizations need to pay attention now rather than waiting to see what happens."},"MAIN ARTICLE 1":{"Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Source":"2","URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Category":"Risk Management & Implementation"},"MAIN ARTICLE 2":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Category":"Strategic Risk & Market Dynamics"},"QUICK HIT 1":{"Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Source":"5","URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Category":"Workforce Development"},"QUICK HIT 2":{"Title":"Hearing on Artificial Intelligence & Competition With China","Source":"1","URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Category":"Policy & Regulation"},"QUICK HIT 3":{"Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Source":"2","URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Category":"Practical Application"},"INDUSTRY DEVELOPMENT 1":{"Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Major AI Player:":"Google DeepMind, Anthropic, OpenAI"},"INDUSTRY DEVELOPMENT 2":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Major AI Player:":"Major semiconductor and AI infrastructure providers"},"REQUIREMENTS VERIFIED":{"2-2-2 Distribution Achieved":"Construction Risk (Source 2), AGI Development (Source 3), CTE Integration (Source 5), Governance Frameworks (Source 2), Market Correction (Source 4), AGI Timeline (Source 3)","Source mix":"(Source 5) Education Workforce, (Source 4) Geopolitical Analysis","Technical complexity":"(Source 2) Implementation Protocols","Major AI player coverage":"(Source 3) DeepMind Anthropic OpenAI"}}},"pairedItem":{"item":0}}]},"pairedItem":{"item":0}}]}}]},"versionId":"2618dbdd-03ea-489c-bbb5-24cbb5431037","activeVersionId":"2618dbdd-03ea-489c-bbb5-24cbb5431037","versionCounter":59,"triggerCount":1,"tags":[{"updatedAt":"2025-12-03T13:44:33.679Z","createdAt":"2025-12-03T13:44:33.679Z","id":"wM2Eg6e3ntsEDQgJ","name":"sub-workflow"}],"shared":[{"updatedAt":"2026-01-16T13:00:12.443Z","createdAt":"2026-01-16T13:00:12.443Z","role":"workflow:owner","workflowId":"kLcefT7KAtrwYAH1","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"77ba538e-c8af-43a1-bcee-8ff6752d361b"}}]}]