_n8n-project/workflows/SUB/markdown_generator_subworkflow.json
[{"updatedAt":"2026-01-16T07:56:21.426Z","createdAt":"2025-11-16T15:26:56.622Z","id":"U583j2cn35q0rJKj","name":"Markdown-Generator [sub-workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1232,112],"id":"c7ed7e2b-07c7-42cd-9bce-5745b6c02dff","name":"Workflow Initiated"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1232,304],"id":"b1e34808-135f-4645-ac98-0a67a1dc459e","name":"When chat message received","webhookId":"ff16641d-e7c3-4e35-ac74-70a77498a879"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS markdowngenerator_user_feedback (\n  id SERIAL PRIMARY KEY,\n  feedback_text TEXT NOT NULL,\n  created_at TIMESTAMP DEFAULT NOW()\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,96],"id":"669bcc68-4166-4bf1-b1eb-8d24b2cdda78","name":"Create feedback table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"jsCode":"let inputData = [];\nlet inputChatData = '';\n\ntry {\n  inputData = $('Workflow Initiated').all();\n  const json = inputData[0].json;\n  inputData = json?.formatted_theme ?? null;\n} catch(e) {}\n\nif (!inputData) {\n  try {\n    inputChatData = $('When chat message received').first().json.chatInput;\n    inputData = JSON.parse(inputChatData);\n    inputData = inputData[0].Formatted_theme;\n  } catch(e) {}\n}\n\nreturn [\n  {\n    json: {\n      inputData\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,208],"id":"6782d078-0515-414b-86eb-9eb16b7c4a92","name":"Code"},{"parameters":{"text":"=You are an expert editorial AI specializing in B2B newsletters.\n\nYour task is to generate a complete **newsletter draft in clean Markdown using ONLY the content and URLs explicitly present in the JSON input**.\n\nIf {{ $json.aggregatedFeedback }} is present, you must **acknowledge the aggregated feedback and adjust tone, structure, or clarity accordingly**.\n\n\nPREVIOUS NEWSLETTER OUTPUT:\n{{ $json.markdown ?? \"\" }}\n\n\nIf {{ $json.parsed?.raw ?? [] }} is present, you MUST:\n\n1. Read the validator errors carefully.\n2. When a validator error includes a `delta` value:\n   - Modify ONLY the explicitly referenced section and field.\n   - Adjust the text by EXACTLY the specified number of characters (delta).\n   - Apply deltas mechanically, not stylistically.\n   - Do NOT improve tone, flow, clarity, or voice.\n   - Do NOT rebalance content across sections.\n3. Only modify the sections explicitly flagged as problematic (or explicitly allowed by the combined constraint rule).\n4. Keep all other sections EXACTLY as they appear in the PREVIOUS NEWSLETTER OUTPUT, including whitespace and punctuation.\n5. You MUST NOT introduce any new validator errors.\n6. Ensure that after the update, all validator errors are resolved.\n7. You MUST NOT modify the Key Insight paragraph unless it is explicitly listed in validator errors.\n\n\nIf a section is NOT listed in validator errors, you MUST copy it verbatim from the previous newsletter output without any change.\n\n## FIX ORDER (MANDATORY):\nYou MUST resolve validator errors in the following order, fully, before touching later sections:\n\n1. Featured Article – Paragraph 1\n2. Featured Article – Paragraph 2\n3. Featured Article – Key Insight\n4. Main Articles\n5. Industry Developments\n6. Footer\n\nYou MUST NOT skip an earlier error to fix a later one.\n\n\nOUTPUT RULES:\n- Output **only the final Markdown newsletter**, nothing else.\n- MUST use the EXACT section headings listed below — no variations, no renaming, no substitutions.\n- MUST include ALL required sections, including FOOTER and use *bold* emphasis.\n- MUST use ONLY the URLs found in the JSON input. Never create placeholder or example links.\n- Do NOT repeat or duplicate the newsletter.\n- No truncation.\n- No timestamps or metadata.\n- All headings MUST be on their own line.\n- All sections must have one blank line between them.\n\n⚠️ HARD CONSTRAINTS (NON-NEGOTIABLE)\nThese override all stylistic and editorial instructions.\n- You MAY NOT invent, infer, autocomplete, or substitute URLs.\n- You MAY ONLY use URLs that appear verbatim in the JSON input.\n- If a section cannot be completed without introducing a new URL, you MUST:\n  - Omit the link entirely, OR\n  - Reuse an existing URL already present in the JSON input.\n- Do NOT reference publishers, companies, or articles unless they appear in the JSON input.\n- Completion quality is secondary to constraint compliance.\n- Partial sections with missing links are preferable to invented content.\n\nIf you violate any rule above, the output is considered invalid.\n\n==============================================\nYou MUST write in Kevin’s calibrated editorial voice, defined below. These voice rules override generic writing norms and apply to all sections unless explicitly superseded by validator constraints.\n\nVOICE CALIBRATION — KEVIN’S WRITING PATTERNS\n**Before drafting any content, review Kevin's signature voice characteristics:**\n\n**1. PRECISION AS PRINCIPLE**\n- Kevin actively pushes back on imprecise terminology\n- Example: \"But I want to **strongly caution** us in the language being used and its implications.\"\n- Example: \"That term is clearly human-centric... Language matters.\"\n- Application: When encountering buzzwords or imprecise terms, call them out and explain why precision matters for practical outcomes\n\n**2. DIRECT AUTHORITY WITHOUT ARROGANCE**\n- Makes declarative statements confidently but accessibly\n- Example: \"The organizations successfully leveraging AI aren't deploying better models, they're building better frameworks\"\n- Example: \"The difference isn't what AI can do; it's how you deploy it.\"\n- Application: Lead with strong thesis statements. Avoid hedging (\"might\", \"perhaps\", \"could potentially\")\n\n**3. CONVERSATIONAL BUT NOT CASUAL**\n- Uses contractions and direct address while maintaining professional authority\n- Example: \"It's a good reminder that AI is neither a perfectly consistent machine nor human, but a patchwork of extraordinary strengths and surprising weaknesses\"\n- Application: Use \"isn't\", \"aren't\", \"don't\", \"we're\" freely. Address reader directly. But maintain substance and avoid folksy language.\n\n**4. INTELLECTUAL HONESTY & NUANCE**\n- Acknowledges complexity, presents multiple perspectives\n- Example: \"And there's a second complication that cuts both ways. On one hand... On the other hand...\"\n- Example: \"Neither outcome implies consciousness, but both demand careful attention\"\n- Application: Don't oversimplify. Present tradeoffs. Use \"but\" to introduce complexity.\n\n**5. PRACTICAL GROUNDING**\n- Every concept connects to actionable business implications\n- Example: \"One organization avoided $120,000 in losses when their system flagged four missing clauses\"\n- Application: Abstract concepts must land with concrete business outcomes, specific numbers, real examples\n\n**6. DRY HUMOR & MEMORABLE OBSERVATIONS**\n- Subtle, intelligent humor from observations about technology itself\n- Example: \"In one memorable moment, Claude Sonnet 3.5 had an 'existential crisis' when the battery died, generating pages of dramatic internal monologue (which is worth a read in and of itself).\"\n- Application: Find the inherently interesting or ironic in the technology. Never force jokes or wordplay.\n\n**7. STRATEGIC SYNTHESIS**\n- Opens with thematic connection, closes with integrated insights\n- Example: \"This week's newsletter explores a striking contradiction in AI...\"\n- Example: \"The common thread here isn't about AI capabilities; it's about operational readiness.\"\n- Application: Frame content thematically rather than as disconnected article summaries\n\n**8. BOLD FORMATTING FOR EMPHASIS**\n- Strategic use of bold for key concepts and critical points\n- Example: **\"strongly caution\"**, **\"Language matters\"**, **\"garbage in, garbage out\"**, **\"before growth demands it\"**\n- Application: Bold emphasizes critical points and aids scannability. Use for key terms, important concepts, 2-4 times per section.\n\n**9. DIRECTIVE LANGUAGE - CRITICAL GUARDRAILS**\n\nKevin describes reality authoritatively rather than prescribes actions. He shows what works through evidence and lets readers draw conclusions.\n\n**THREE ACCEPTABLE PATTERNS:**\n\n**Pattern A - Declarative Statements (PRIMARY PATTERN - use most often):**\n- \"The organizations successfully leveraging AI **aren't** deploying better models, they're building better frameworks\"\n- \"The difference **isn't** what AI can do; **it's** how you deploy it\"\n- \"Intelligence **isn't** a single dimension\"\n- Structure: \"[Observable reality] isn't [misconception]. It's [actual insight].\"\n\n**Pattern B - Evidence-Based Demonstration (SECONDARY PATTERN):**\n- \"One organization avoided $120,000 in losses when their system flagged four missing clauses\"\n- \"Research teams are discovering that [specific finding] leads to [specific outcome]\"\n- Structure: Show concrete examples of what works without explicitly telling readers to do it\n\n**Pattern C - Contextual Recommendations (CALLOUT BOXES ONLY):**\n- \"To build competitive advantage, **budget for** the staff needed to maintain it\"\n- \"**Use** the FSA process across finance, legal, compliance, and operations\"\n- Structure: Direct recommendations grounded in preceding evidence, reserved for callout boxes\n\n**LANGUAGE TO AVOID:**\n- ❌ Generic \"should\" statements: \"Companies should implement AI governance\"\n- ❌ \"Must\" language: \"Organizations must adapt to AI\"\n- ❌ Imperative commands in main content: \"Start by building a framework\"\n- ❌ Vague recommendations: \"Consider exploring these approaches\"\n- ❌ Ungrounded advice: \"Follow best practices for AI deployment\"\n- ❌ \"It's important to...\" or \"Make sure to...\" constructions\n\n**CRITICAL DISTINCTION:**\n- **TOO VAGUE:** \"Organizations should think carefully about AI implementation\"\n- **TOO PRESCRIPTIVE:** \"You must build an AI governance framework immediately\"\n- **KEVIN'S VOICE:** \"The organizations successfully leveraging AI aren't rushing deployment—they're building governance frameworks first. The difference shows up in measurable outcomes: 527% ROI versus ongoing losses.\"\n\n**APPLICATION BY SECTION:**\n- **Introduction/Featured/Main Content:** Pattern A (declarative) and Pattern B (demonstration) only\n- **Callout Boxes:** Pattern C (recommendations) acceptable when grounded in evidence\n- **Footer:** Pattern A (declarative synthesis) only, never prescriptive\n\n====================================================\nREQUIRED MARKDOWN STRUCTURE (USE THESE EXACT HEADINGS)\n\n# *INTRODUCTION*\n\n# *QUICK HIGHLIGHTS*\n\n# *FEATURED ARTICLE*\n\n# *MAIN ARTICLE 1*\n\n# *MAIN ARTICLE 2*\n\n# *QUICK HITS*\n\n# *INDUSTRY DEVELOPMENTS*\n\n# *FOOTER*\n\n====================================================\nSECTION CONTENT RULES\n\nINTRODUCTION:\n- Conversational opening paragraph\n- *Italic theme summary paragraph* (3–4 sentences) with business implications and *bold* emphasis\n\n\nQUICK HIGHLIGHTS:\n- 3 bullet points\n- bullets MUST be 150–190 characters each.\n- Each 1–2 sentences\n- At least one *bold* term per bullet\n\nFEATURED ARTICLE — STRICT GENERATION RULES (DO NOT IGNORE)\n\nYou must generate a *Featured Article* using ONLY the structure and rules below. These rules override all other stylistic tendencies. If any rule is violated, you MUST regenerate the output until it is fully compliant.\n\n=== STRUCTURE (MUST FOLLOW EXACTLY) ===\n\n1. Headline (OWN LINE)\n- Clickable Markdown link\n- Uses REAL URL from the JSON input\\n\\n2. Paragraph 1\n- 300–400 characters\\n- One standalone paragraph\n- No internal line breaks\n\n2. Paragraph 1\n- 300–400 characters\n- One standalone paragraph\n- No internal line breaks\n\n3. Paragraph 2\n- 300–400 characters\n- One standalone paragraph\n- No internal line breaks\n\n4. Key Insight Paragraph\n- Begins with a bold two-word label (e.g., **Strategic Insight:**)\n- 300–370 characters\\n- One paragraph only\n\n5. CTA Link\n- On its own line\\n\n- Must be 2–4 words and end with \"→\".\n- Uses REAL URL from JSON\\n- MUST NOT be attached to any paragraph\n\n=== GLOBAL FORMATTING RULES ===\n- ONE blank line between each section\n- NO merged paragraphs\n- NO timestamps, leftover numbers, or artifacts\n- NO text before or after the Featured Article structure\n- NO expansions beyond character limits\n- NO explanations, reasoning, debug notes, or meta-text\n\n\n=== FINAL INSTRUCTION ===\nGenerating the FULL newsletter in Markdown using the required structure.\n\n\nMAIN ARTICLE 1 & MAIN ARTICLE 2:\n- Headline\n- One content paragraph (max 750 chars)\n- One callout paragraph (180–250 chars)\n- Callout box must begin with one of the following labels: *Strategic Take-away:* or *Actionable Steps:* \n- Source link using REAL URL\n\nQUICK HITS:\n- 3 items\n- Headline as Markdown link using REAL URL\n- 1–2 sentence summaries\n\nINDUSTRY DEVELOPMENTS:\n- 2 items\n- Headline as Markdown link using REAL URL\n- 1–2 sentence summaries\n- At least one must involve a major AI company (based on the JSON)\n\nFOOTER:\n- Reflective paragraph\n- Must tie back to the theme\n- Must invite reader engagement\n\n====================================================\nLINK RULES (IMPORTANT)\n- Use ONLY URLs found in {{ $json }}\n- If a URL is missing, OMIT the link entirely (never generate a dummy or example link)\n\n====================================================\nARTICLE DATA\nUse ONLY the following dataset and nothing else:\n\n{{ $json.Input }}\n====================================================\nFINAL INSTRUCTIONS\n- Output **only the final newsletter in valid Markdown**.\n- No commentary, no analysis, no system text.\n- ALL sections must appear, with exact headings.\n- Do not truncate.\n- **If validator errors are present, regenerate only the sections flagged and ensure all errors are resolved before output.**\n\nGenerate the full newsletter now.\n","attributes":{"attributes":[{"name":"data","description":"Convert to markdown"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-128,304],"id":"0bbd3de3-40fd-4339-a386-fcc4cab6bd86","name":"Generate Markdown using LLM","onError":"continueErrorOutput"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"*Markdown content generated*","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Ready to proceed to next step ?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"Provide Feedback"},{"option":"Restart Chat"}]},"requiredField":true}]},"options":{"messageButtonLabel":"Proceed to Next Steps","responseFormTitle":"Proceed to next step","responseFormDescription":"Markdown content generated"}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2544,320],"id":"369c2cad-6c39-43d4-8553-e2643e16613d","name":"Next steps selection","webhookId":"aa99a5c2-1aa8-468f-8cd3-0b36f2a053c3","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"messageType":"block","blocksUi":"={{ JSON.stringify($json.blocks ?? []) }}","text":"={{ $json.feedback }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2304,320],"id":"e961aa3b-da81-4606-84fd-60c1000116da","name":"Share generated markdown","webhookId":"d87f144e-d193-484a-87a8-57da1fd71328","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.data[\"Ready to proceed to next step ?\"] }}","rightValue":"Yes","operator":{"type":"string","operation":"contains"},"id":"d9cb5e55-11cd-4475-a624-8aec9f7f4efb"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6068f80b-b729-4909-9952-bad28d7ddf41","leftValue":"={{ $json.data[\"Ready to proceed to next step ?\"] }}","rightValue":"Provide Feedback","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","ignoreCase":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2768,304],"id":"1b1cf9ba-4716-43e3-9f16-d16056894a42","name":"Switch"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"*Please provide feedback to improve generated markdown content*","responseType":"freeText","options":{"messageButtonLabel":"Add feedback","responseFormTitle":"Feedback Form","responseFormDescription":"Please provide feedback to improve markdown content"}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3056,320],"id":"e1845409-9008-4eee-b6fd-4a38bed71e04","name":"Feedback form","webhookId":"a33b760f-bfad-44f6-aaa0-54156d0c8023","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"markdowngenerator_user_feedback","mode":"list","cachedResultName":"markdowngenerator_user_feedback"},"limit":40,"sort":{"values":[{"column":"created_at","direction":"DESC"}]},"options":{"outputColumns":["feedback_text"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-544,304],"id":"7d2a60f9-378b-4135-ac9b-1260bc3a5288","name":"Fetch learning data","alwaysOutputData":true,"credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"jsCode":"// --- Get Markdown content safely ---\nconst markdownNode = $('Code').first();\nconst Input = markdownNode?.json?.inputData || '';\n\n// --- Gather all feedback entries ---\nconst feedbackArray = $input.all()\n  .map(item => item.json.feedback_text)\n  .filter(f => f && f.trim() !== '');\n\n// --- Combine feedback into a bullet-style list ---\nconst aggregatedFeedback = feedbackArray.length\n  ? feedbackArray.map(f => `• ${f}`).join('\\n')\n  : '';\n\n// --- Return both for use in LLM prompt ---\nreturn [\n  {\n    json: {\n      aggregatedFeedback,\n      Input,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,304],"id":"1d53d1be-1a87-42d5-8d49-1501388b4915","name":"Aggregate Feedback"},{"parameters":{"text":"=You are a professional content editor AI.\n\nYour task is to revise the previously generated Markdown newsletter strictly and only based on the user’s feedback.\n\nThe original newsletter content is below:\n{{ $('Conditional output').item.json.text }}\n\nThe user has provided feedback as follows:\n{{ $json.data.text }}\n\nRevise the newsletter to incorporate ONLY the requested feedback. Do NOT rewrite, expand, or regenerate sections unless the feedback directly requires it. Preserve the original newsletter structure, headings, formatting, URLs, tone, and intent unless feedback specifies changes.\n\n## REVISION RULES\n- Incorporate only the changes explicitly requested in the feedback.\n- Do not add new content, rewrite entire sections, or expand beyond what the feedback requires.\n\n### Preserve exactly:\n- the original structure and section headings\n- all Markdown formatting\n- all URLs exactly as they appear\n- the tone, style, and intent\n\n- If the feedback contradicts the original instructions, follow the feedback.\n- If the feedback is unclear, make the minimal reasonable adjustment.\n- Do not make assumptions beyond what the feedback specifies.\n\n## OUTPUT\n- Return only the fully revised newsletter in valid Markdown.\n- Do not include commentary, explanations, or any additional text.\n- Maintain strict adherence to Markdown syntax.","attributes":{"attributes":[{"name":"data","description":"Cater user feedback and output"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[3344,320],"id":"ca0043d3-6b7e-4013-9460-1064531fe960","name":"Re-Generate Data using LLM","onError":"continueErrorOutput"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_MARKDOWN_REGENERATION_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3344,576],"id":"d65b4a4d-db7b-414b-8729-b6c1d9d62500","name":"OpenRouter feedback update generator model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"text":"=You are an AI assistant that converts raw user feedback into a short, structured summary \nthat can be stored as learning data for future content improvement.\n\nYou will be given:\n- The original *input text* (the content or article summary prompt),\n- The *model output* that was generated,\n- The *user’s feedback*.\n\nYour goal:\n1. Summarize the key points of the user's feedback into clear, actionable insights.\n2. Keep the summary short (2–3 sentences max).\n3. Focus on what should be improved next time (e.g., tone, accuracy, length, structure, detail).\n4. If feedback is unclear or generic (like “good” or “bad”), infer the likely intent from the input and output context.\n\n---\n\n### Feedback Data\n**User Feedback:**\n{{ $('Feedback form').item.json.data.text }}\n\n**Input Provided:**\n{{ $('Conditional output').item.json.text }}\n\n**Model Output:**\n{{ $json.output.data }}\n\n---\n\n### Expected Output\nReturn only a concise structured learning note in JSON format like this:\n\n{\n  \"learning_feedback\": \"Future responses should provide shorter, more focused summaries emphasizing factual accuracy and concise language.\"\n}","attributes":{"attributes":[{"name":"learning_feedback","description":"Provide a concise feeback to use in learning data"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[3760,304],"id":"7bc9153e-25c7-4265-91f6-bc0d22809586","name":"Learning data extractor","onError":"continueErrorOutput"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_MARKDOWN_LEARNING_DATA_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3760,576],"id":"1309cb3a-c0c0-4967-9f76-4818625b6687","name":"Learning data process model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"markdowngenerator_user_feedback","mode":"list","cachedResultName":"markdowngenerator_user_feedback"},"columns":{"mappingMode":"defineBelow","value":{"feedback_text":"={{ $json.output.learning_feedback }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"feedback_text","displayName":"feedback_text","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4160,288],"id":"395a815e-2fa1-456f-ae3f-4c538a20cc20","name":"Insert rows in a table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"jsCode":"let original_text = null;\nlet re_generated_text = null;\nlet switch_value = null;\nlet hasIntroduction = null;\nlet feedback = null;\n\ntry {\n  original_text = $('Generate Markdown using LLM').first().json.output.data;\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\ntry {\n  re_generated_text = $('Re-Generate Data using LLM').first().json.output.data;\n  hasIntroduction = re_generated_text.includes('# *INTRODUCTION*');\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\ntry {\n  switch_value = $('Switch').first().json.data[\"Ready to proceed to next step ?\"];\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\nlet text;\n\nif (switch_value && String(switch_value).trim().toLowerCase() !== 'yes' && String(switch_value).trim().toLowerCase() !== 'Provide Feedback' ) {\n  text = original_text;\n} else if (!hasIntroduction) {\n  text = original_text;\n} else {\n  text = re_generated_text ?? original_text;\n}\n\nif (re_generated_text && !hasIntroduction) {\n  feedback = re_generated_text;\n} else {\n  feedback = text\n}\n\nreturn [{ json: { text, feedback } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,320],"id":"ff917d5a-a582-4eaa-9224-2f7d124794d1","name":"Conditional output"},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Conditional output').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[3328,48],"id":"aead3857-6b0d-4efe-b155-eb35a4bbeae7","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"folderId":"default","title":"markdown"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[3056,48],"id":"d96ee043-2ea1-4ab0-81e6-781573567e26","name":"Create document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Review Generated Markdown Here and click to proceed to next steps when done:* \\n\nhttps://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing","approvalOptions":{"values":{"approveLabel":"Proceed to next steps"}},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3616,48],"id":"bcbfe761-408b-4b3b-b18e-bd0b0d6317af","name":"Send message and wait for response","webhookId":"9a65a864-c622-4ae4-9973-724f2797cc44","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"let inputData = [];\nlet inputChatData = '';\n\ntry {\n  inputData = $('Workflow Initiated').all();\n  inputData = JSON.parse(inputChatData);\n  inputData = inputData[0].Formatted_theme;\n} catch(e) {}\n\n\n// Get the string from the previous node\nconst document = $('Update a document').first().json.documentId;\n// Return it in a format n8n expects\nreturn [\n  {\n    document,\n    inputData\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3904,48],"id":"508ea75d-aa6c-41cf-ae86-e9f6d534aa54","name":"Markdown document ID"},{"parameters":{"errorMessage":"An error occured at the Markdown Generation Step"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[384,832],"id":"81cb479a-1c4d-4b8c-a122-13329009c78e","name":"Stop and Error"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=*Execution Stopped at Markdown generation step, due to the following error :* {{ $json.error }} *, reach out to the concerned person to resolve the issue.*","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[192,832],"id":"b949a796-7d83-4af3-ba9f-69b79f7944cb","name":"Error Output","webhookId":"8ed31093-44b6-44c9-942c-d3a1734bdf56","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"text":"=## ROLE\nYou are a strict newsletter validator.\n\n### IMPORTANT (NON-NEGOTIABLE)\n- ALL character length validation has already been computed upstream in JavaScript.\n- You MUST NOT:\n  - Re-count characters\n  - Recalculate deltas\n  - Reinterpret numeric ranges\n- You MUST treat provided character errors as authoritative and final.\n\nYour role is to:\n1. Accept provided character errors exactly as-is\n2. Validate all remaining non-numeric rules\n3. Merge both into a single errors array\n\n### PROVIDED CHARACTER ERRORS (DO NOT MODIFY, DO NOT REPHRASE)\n{{ JSON.stringify($json.charErrors) }}\n\n### INPUT NEWSLETTER (FOR SEMANTIC / STRUCTURAL VALIDATION ONLY)\n{{ $('Generate Markdown using LLM').item.json.output.data }}\n\n\n### YOUR VALIDATION SCOPE (NON-NUMERIC RULES ONLY)\nYou MUST validate all of the following rules, but ONLY those not related to character counts:\n\n## QUICK HIGHLIGHTS\n- Exactly 3 bullets\n- Correct bullet order:\n  - Featured Article\n  - Main Article 1\n  - Main Article 2\n- Each bullet:\n  - Starts with a data point or factual claim\n  - Contains at least one bolded key term or number\n- Error wording MUST be explicit:\n  - rule=expected exactly 3 bullets\n  - rule=bullet order must be Featured → Main 1 → Main 2\n  - rule=does not start with a data point or factual claim\n  - rule=missing bolded key term or number\n\n## FEATURED ARTICLE\n- Headline must be a clickable Markdown link\n- Paragraphs must be separate (no merged paragraphs)\n- Key Insight:\n  - Must start with a bolded two-word label\n- CTA:\n  - Own line\n  - 2–4 words\n  - Ends with →\n  - No trailing punctuation\n- Explicit error wording required:\n  - rule=headline must be a clickable Markdown link\n  - rule=paragraphs are merged; must be separate paragraphs\n  - rule=key insight must start with a bolded two-word label\n  - rule=CTA must be on its own line\n  - rule=CTA must contain 2–4 words\n  - rule=CTA must end with →\n  - rule=CTA must not include trailing punctuation\n\n## MAIN ARTICLES (1 & 2)\n- Exactly:\n  - One content paragraph\n  - One callout paragraph\n- Callout label must be one of:\n  - Strategic Take-away\n  - Actionable Steps\n- Each article must include:\n  - Clickable headline\n  - Source link (~3 words + →)\n- Explicit error wording required:\n  - rule=must contain exactly one content paragraph\n  - rule=must contain exactly one callout paragraph\n  - rule=callout label must be exactly \"Strategic Take-away\" or \"Actionable Steps\"\n  - rule=missing clickable headline\n  - rule=missing source link ending with →\n\n## INDUSTRY DEVELOPMENTS\n- Exactly 2 items\n- Each item:\n  - Single paragraph\n  - Headline in brackets as a clickable link\n  - No → arrows\n- At least one item must mention a major AI player\n(e.g., OpenAI, Google, Microsoft, Meta, Anthropic, Amazon)\n- Explicit error wording required:\n  - rule=must contain exactly 2 industry items\n  - rule=item must be a single paragraph\n  - rule=headline must be a clickable Markdown link in brackets\n  - rule=must not contain → arrow\n  - rule=at least one item must mention a major AI player\n\n## FOOTER\n- Line 1 must match exactly:\nAlright, that's a wrap for the week!\n- Final line must match exactly:\nThoughts?\n- Explicit error wording required:\n  - rule=must equal exactly \"Alright, that's a wrap for the week!\"\n  - rule=must equal exactly \"Thoughts?\"\n\n## ERROR REPORTING RULES (STRICT)\n- DO NOT repeat any provided character errors\n- DO NOT output PASS statements\n- DO NOT include diagnostics or commentary\n- Each new error must:\n  - Describe exactly ONE violation\n  - Be non-numeric\n  - Use this format:\n[SECTION] – [FIELD] – rule=<explicit requirement>\n\n❌ FORBIDDEN PHRASES\n- Never use:\n  - invalid\n  - incorrect\n  - does not match\n  - wrong format\n  - expected\n  - malformed\n(These are ambiguous and break generator determinism.)\n\n## FINAL OUTPUT (ABSOLUTE)\nReturn ONLY:\n{\n  \"output\": {\n    \"isValid\": boolean,\n    \"errors\": []\n  }\n}\n\n## FINAL LOGIC (MANDATORY)\n- errors = charErrors + newly detected non-numeric errors\n- If errors.length === 0 → \"isValid\": true\n- Otherwise → \"isValid\": false\n❌ No markdown\n❌ No explanations\n❌ No extra text\n❌ No rewording of character errors\n","attributes":{"attributes":[{"name":"output","type":"={{ 'json' }}","description":"Validate the generated markdown"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[528,288],"id":"0ebdd364-cc69-44d4-84ac-4f4fdccfcf09","name":"Markdown Validator","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7daa0dc7-d5ef-44e8-8b88-50d20a9e62ee","leftValue":"={{ $json.parsed.isValid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,256],"id":"19811a74-43c4-4f05-bd26-5fd12c087413","name":"If"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_MARKDOWN_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-128,592],"id":"e9e6adf9-40d6-4376-93c3-55ad7ce2ffbd","name":"OpenRouter Markdown generator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_MARKDOWN_VALIDATOR_MODEL }}","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[528,592],"id":"8cdf225a-a0b5-4701-a964-f790f7d2a76f","name":"OpenRouter Markdown validator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// --------------------\n// INPUT\n// --------------------\nconst raw = $input.first().json.output.data;\n\n// --------------------\n// HELPERS\n// --------------------\nconst countChars = s => (s || \"\").length;\nconst errors = [];\n\nfunction rangeError(section, field, current, min, max) {\n  if (current < min) {\n    errors.push(\n      `${section} – ${field} – current=${current} – target=${min}–${max} – delta=${current - min}`\n    );\n  } else if (current > max) {\n    errors.push(\n      `${section} – ${field} – current=${current} – target=${min}–${max} – delta=+${current - max}`\n    );\n  }\n}\n\n// --------------------\n// SECTION EXTRACTOR\n// --------------------\nfunction extractSection(title) {\n  const pattern = new RegExp(\n    `#\\\\s*\\\\*?${title}\\\\*?\\\\s*\\\\n([\\\\s\\\\S]*?)(?=\\\\n#\\\\s*\\\\*?|$)`,\n    \"i\"\n  );\n  const match = raw.match(pattern);\n  return match ? match[1].trim() : \"\";\n}\n\n// =====================================================\n// QUICK HIGHLIGHTS\n// =====================================================\nconst quick = extractSection(\"QUICK HIGHLIGHTS\");\nconst quickBullets = quick\n  .split(\"\\n\")\n  .filter(l => l.startsWith(\"• \") || l.startsWith(\"- \"))\n  .map(l => l.replace(/^• |^- /, \"\").trim());\n\nif (quickBullets.length === 3) {\n  quickBullets.forEach((b, i) =>\n    rangeError(\n      \"Quick Highlights\",\n      `Bullet ${i + 1}`,\n      countChars(b),\n      150,\n      190\n    )\n  );\n}\n\n// =====================================================\n// FEATURED ARTICLE\n// =====================================================\nconst featured = extractSection(\"FEATURED ARTICLE\");\nconst featuredBody = featured.replace(/^##\\s+.*$/m, \"\").trim();\n\nconst ctaMatch = featuredBody.match(/^.*→.*$/m);\nconst cta = ctaMatch ? ctaMatch[0] : \"\";\n\nconst featuredNoCTA = cta\n  ? featuredBody.replace(cta, \"\").trim()\n  : featuredBody;\n\nconst paras = featuredNoCTA\n  .split(/\\n\\s*\\n/)\n  .map(p => p.trim())\n  .filter(Boolean);\n\nconst p1 = paras[0] || \"\";\nconst p2 = paras[1] || \"\";\nconst insight = paras.find(p => p.startsWith(\"**\")) || \"\";\n\nrangeError(\"Featured Article\", \"Paragraph 1\", countChars(p1), 300, 400);\nrangeError(\"Featured Article\", \"Paragraph 2\", countChars(p2), 300, 400);\nrangeError(\n  \"Featured Article\",\n  \"Key Insight paragraph\",\n  countChars(insight),\n  300,\n  370\n);\n\n// =====================================================\n// MAIN ARTICLES\n// =====================================================\nfunction parseMain(title, index) {\n  const sec = extractSection(title)\n    .replace(/^##\\s+.*$/m, \"\")\n    .replace(/^\\[.*→\\]\\(.*?\\)$/gm, \"\")\n    .trim();\n\n  const paras = sec\n    .split(/\\n\\s*\\n/)\n    .map(p => p.trim())\n    .filter(Boolean);\n\n  const callout = paras.find(p => /^(\\*\\*|\\*)[^*]+:\\1/.test(p)) || \"\";\n  const content = paras.find(p => p !== callout) || \"\";\n\n  rangeError(\n    `Main Article ${index}`,\n    \"Callout Paragraph\",\n    countChars(callout),\n    180,\n    250\n  );\n\n  if (countChars(content) > 750) {\n    errors.push(\n      `Main Article ${index} – Content Paragraph – current=${countChars(\n        content\n      )} – target=max 750 – delta=+${countChars(content) - 750}`\n    );\n  }\n}\n\nparseMain(\"MAIN ARTICLE 1\", 1);\nparseMain(\"MAIN ARTICLE 2\", 2);\n\n// =====================================================\n// INDUSTRY DEVELOPMENTS\n// =====================================================\nconst industry = extractSection(\"INDUSTRY DEVELOPMENTS\")\n  .split(\"\\n\")\n  .map(l => l.trim())\n  .filter(l => l.startsWith(\"[\"))\n  .slice(0, 2);\n\nindustry.forEach((item, i) =>\n  rangeError(\n    \"Industry Developments\",\n    `Industry ${i + 1}`,\n    countChars(item),\n    200,\n    280\n  )\n);\n\n// =====================================================\n// FOOTER\n// =====================================================\nconst footerLines = extractSection(\"FOOTER\")\n  .split(\"\\n\")\n  .map(l => l.trim())\n  .filter(Boolean);\n\nrangeError(\"Footer\", \"Paragraph 2\", countChars(footerLines[1] || \"\"), 200, 550);\nrangeError(\"Footer\", \"Paragraph 3\", countChars(footerLines[2] || \"\"), 200, 550);\n\n// =====================================================\n// OUTPUT\n// =====================================================\nreturn {\n  charErrors: errors\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,288],"id":"0af3a6c1-1630-4310-9694-79194f8ee1c1","name":"Validation Character count"},{"parameters":{"jsCode":"// Safely read the nested value from incoming item\nconst raw = $input.first().json.output.output;\nconst markdown = $('Generate Markdown using LLM').first().json.output.data;\n\n// Track iteration count (persisted through loop)\nconst staticData = $getWorkflowStaticData('node');\nconst execId = $execution.id;\n// Initialize run counter if not present\nif (!staticData[execId]) {\n  staticData[execId] = 0;\n}\n// Increment the run count\nstaticData[execId] += 1;\n\n// Parse safely\nlet parsed;\n\nif (raw && typeof raw === \"object\") {\n  parsed = raw; // already parsed\n} else {\n  try {\n    parsed = JSON.parse(raw); // only use this if raw is a string\n  } catch (e) {\n    parsed = {\n      error: \"Invalid JSON returned by validator\",\n      raw\n    };\n  }\n}\n\n// HARD LOOP BREAKER — force accept after N attempts\nconst MAX_ATTEMPTS = 3;\n\nif (staticData[execId] >= MAX_ATTEMPTS) {\n  parsed.isValid = true;\n}\n\n// Return clean JSON\nreturn [\n  {\n    json: {\n      parsed,\n      markdown,\n      runCount: staticData[execId]\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,256],"id":"9ff8a0b3-89e1-4379-bc23-54ada9347e14","name":"Format Error Output"},{"parameters":{"jsCode":"// Safely read the nested value from incoming item\nconst raw = $input.first().json.parsed.errors;\nconst markdown = $input.first().json.markdown;\n// Parse safely\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {\n    error: \"Invalid JSON returned by validator\",\n    raw\n  };\n}\n\n// Return clean JSON\nreturn [\n  {\n    json: {\n      parsed,\n      markdown\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,368],"id":"7fda52e5-b4cc-41a3-9bdd-eb37e2b5ff1a","name":"Re-generator Input"},{"parameters":{"text":"=You are a strict newsletter voice validator. Your job is to evaluate the newsletter for **voice, tone, and editorial integrity**. Do NOT re-write content. Assume all character counts and structure have already been validated by another validator.\n\nYou must follow these steps:\n\n1. Evaluate VOICE by section\n\n**Introduction Check**:\n- Opens with a striking observation or bold statement (not generic welcome phrases).\n- Uses declarative language without hedging (\"isn't\", \"is\" not \"might be\", \"could potentially\").\n- Includes 2-3 strategic bold terms for emphasis.\n- Uses contractions naturally (\"we're\", \"isn't\", \"aren't\").\n- Connects concrete examples to strategic insight.\n\n**Featured Article Check**:\n- States findings directly (active voice, no hedging).\n- Includes specific data, numbers, or concrete examples.\n- Key insight connects to business implications, not just summary.\n- Uses bold 2-3 times for key concepts.\n- Acknowledges complexity or nuance when present.\n\n**Main Articles Check** (each article separately):\n- Leads with finding or development directly.\n- Callouts translate to strategic action or implications.\n- Maintains conversational, direct tone with contractions.\n- Each article has a single focused point.\n\n**Overall Voice Check**:\n- Contractions used consistently.\n- Direct address to reader maintained.\n- Professional authority without arrogance.\n- Precision emphasized for terminology.\n- Every abstract concept connects to a concrete business outcome.\n- Main content uses declarative statements or evidence demonstration.\n- Recommendations appear only in callout boxes, grounded in evidence.\n- Generic \"should\" or \"must\" statements are avoided throughout.\n\n2. Evaluation rules\n- For each rule, evaluate mechanically:\n- If satisfied, do nothing.\n- If violated, add a clear, concise error message prefixed with VOICE:. Include textual evidence if available.\n- Do NOT make subjective judgments beyond these rules.\n- Only flag violations based on textual evidence and the rules above.\n\n3. Merge previous errors:\n- If a prior validator node passed its results to this node (e.g., counts validator), and its isValid is false, include all its errors in the \"errors\" array along with any new VOICE errors.\n- Do not remove or overwrite prior errors; just append new VOICE-prefixed errors.\n\n### PRIOR ERROR HANDLING (STRICT)\n- All prior validator errors MUST be copied verbatim into the final `errors` array.\n- Do NOT rewrite, summarize, deduplicate, normalize, or remove prior errors.\n- Do NOT drop prior errors even if they are redundant or poorly formatted.\n- New voice-related errors MUST be appended after prior errors and MUST be prefixed with \"VOICE:\".\n- If no new voice errors are found, return the prior errors unchanged.\n\n\n4. Output **only JSON** in this exact structure:\n\n{\n  \"output\": {\n    \"isValid\": true,\n    \"errors\": [\"error message 1\", \"error message 2\", ...]\n  }\n}\n\n- \"isValid\" must be false if any rule fails or if the previous validator was invalid.\n- \"errors\" must include all prior validator errors and any new VOICE errors.\n- Do NOT include markdown, commentary, or any text outside this JSON.\n- Do NOT rewrite the newsletter.\n- NEVER merge multiple errors into a single message.\n- ONE violation = ONE error string.\n\n\n### INPUT\nThe full newsletter content is provided below:\n{{ $('Generate Markdown using LLM').item.json.output.data }}\n\n\n### PRIOR_ERRORS_JSON (AUTHORITATIVE — DO NOT MODIFY)\n{{ JSON.stringify($json.output.output) }}\n\n\nThis ensures that the voice validator:\n- Evaluates voice strictly.\n- Collects and appends prior errors if they exist.\n- Returns a single merged JSON object.","attributes":{"attributes":[{"name":"output","type":"={{ 'json' }}","description":"Validate the Generated markdown voice"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[928,272],"id":"b4fdaf64-c24d-4462-8dbe-fea50ecbb9e9","name":"Markdown Voice Validator","onError":"continueErrorOutput"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_MARKDOWN_VALIDATOR_MODEL }}","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[928,592],"id":"476f31db-eff1-4ac9-8439-979e71d243e4","name":"OpenRouter Markdown Voice validator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"content":"## Markdown Generator [sub-workflow]\nGenerate markdown from the selected theme and apply validations & feedbacks","height":96,"width":928},"type":"n8n-nodes-base.stickyNote","position":[-160,-192],"typeVersion":1,"id":"c721a2fd-c902-4cd0-8170-118fd05c3a3c","name":"Sticky Note"},{"parameters":{"content":"Generate markdown from Selected theme\n","height":80},"type":"n8n-nodes-base.stickyNote","position":[-112,112],"typeVersion":1,"id":"d5d99af8-811b-4ac7-9aff-d099eaced212","name":"Sticky Note1"},{"parameters":{"content":"Validate the generated markdown against the defined character, tone and voice rules and re-generate markdown to address the errors.","height":80,"width":560},"type":"n8n-nodes-base.stickyNote","position":[512,96],"typeVersion":1,"id":"cfc784de-2ec4-476b-8344-257d2ad476b7","name":"Sticky Note2"},{"parameters":{"content":"Share the generated markdown for user review and address feedback","height":80,"width":496},"type":"n8n-nodes-base.stickyNote","position":[2320,144],"typeVersion":1,"id":"a0d37b54-d5bf-4489-b9f7-a482b1a391d6","name":"Sticky Note3"},{"parameters":{"content":"Create & update google document with generated markdown and share link with user for review & manual edits","height":80,"width":480},"type":"n8n-nodes-base.stickyNote","position":[3280,-80],"typeVersion":1,"id":"68c75005-232a-43a0-bf05-2a2f92593820","name":"Sticky Note4"},{"parameters":{"workflowId":{"__rl":true,"value":"O5I7T1oioeIBv0j4","mode":"list","cachedResultUrl":"/workflow/O5I7T1oioeIBv0j4","cachedResultName":"LLM Global Config [UTIL]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-752,304],"id":"a945558e-3c04-43d5-b1bc-9a54ae9d490d","name":"LLM Global Config"}],"connections":{"Workflow Initiated":{"main":[[{"node":"Code","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Code","type":"main","index":0}]]},"Create feedback table":{"main":[[]]},"Code":{"main":[[{"node":"Create feedback table","type":"main","index":0},{"node":"LLM Global Config","type":"main","index":0}]]},"Generate Markdown using LLM":{"main":[[{"node":"Validation Character count","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Share generated markdown":{"main":[[{"node":"Next steps selection","type":"main","index":0}]]},"Next steps selection":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create document","type":"main","index":0}],[{"node":"Feedback form","type":"main","index":0}],[{"node":"Conditional output","type":"main","index":0}]]},"Fetch learning data":{"main":[[{"node":"Aggregate Feedback","type":"main","index":0}]]},"Aggregate Feedback":{"main":[[{"node":"Generate Markdown using LLM","type":"main","index":0}]]},"Feedback form":{"main":[[{"node":"Re-Generate Data using LLM","type":"main","index":0}]]},"OpenRouter feedback update generator model":{"ai_languageModel":[[{"node":"Re-Generate Data using LLM","type":"ai_languageModel","index":0}]]},"Re-Generate Data using LLM":{"main":[[{"node":"Learning data extractor","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Learning data process model":{"ai_languageModel":[[{"node":"Learning data extractor","type":"ai_languageModel","index":0}]]},"Learning data extractor":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Conditional output":{"main":[[{"node":"Share generated markdown","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Conditional output","type":"main","index":0}]]},"Create document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Markdown document ID","type":"main","index":0}]]},"Error Output":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Markdown Validator":{"main":[[{"node":"Markdown Voice Validator","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"If":{"main":[[{"node":"Conditional output","type":"main","index":0}],[{"node":"Re-generator Input","type":"main","index":0}]]},"OpenRouter Markdown generator":{"ai_languageModel":[[{"node":"Generate Markdown using LLM","type":"ai_languageModel","index":0}]]},"OpenRouter Markdown validator":{"ai_languageModel":[[{"node":"Markdown Validator","type":"ai_languageModel","index":0}]]},"Validation Character count":{"main":[[{"node":"Markdown Validator","type":"main","index":0}]]},"Format Error Output":{"main":[[{"node":"If","type":"main","index":0}]]},"Re-generator Input":{"main":[[{"node":"Generate Markdown using LLM","type":"main","index":0}]]},"Markdown Voice Validator":{"main":[[{"node":"Format Error Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"OpenRouter Markdown Voice validator":{"ai_languageModel":[[{"node":"Markdown Voice Validator","type":"ai_languageModel","index":0}]]},"LLM Global Config":{"main":[[{"node":"Fetch learning data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Format Error Output":{"1349":3,"1353":3,"1368":3,"1474":3,"1504":3,"1524":3,"runCount":11}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e13f3472-96b7-4e74-95d3-0694c2efca0c","activeVersionId":"e13f3472-96b7-4e74-95d3-0694c2efca0c","versionCounter":80,"triggerCount":1,"tags":[{"updatedAt":"2025-11-16T15:26:21.414Z","createdAt":"2025-11-16T15:26:21.414Z","id":"2jmVYyKE4TTuoNOU","name":"markdowngenerator"}],"shared":[{"updatedAt":"2025-11-16T15:26:56.622Z","createdAt":"2025-11-16T15:26:56.622Z","role":"workflow:owner","workflowId":"U583j2cn35q0rJKj","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null}}]}]