_n8n-project/workflows/SUB/social_media_generator_subworkflow.json
[{"updatedAt":"2026-01-26T20:48:00.955Z","createdAt":"2026-01-11T16:54:52.902Z","id":"Lu0F1bNEv2JVoPqH","name":"Social Media Generator [sub-workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,160],"id":"adc5a24c-6670-4d8d-b7ed-eb8420f5510c","name":"When chat message received","webhookId":"0466e8d3-007d-4044-a03e-b24ef4850f7a"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-48],"id":"c56a4368-bc3c-4f50-b9a5-2b84ae91e56c","name":"Workflow Initiated"},{"parameters":{"jsCode":"let documentId = null;\nlet formattedTheme = null;\nlet summaries = null;\n\n/**\n * Recursively walk the entire object tree\n * and collect document, formatted_theme, and summaries\n */\nfunction walk(obj) {\n  if (!obj || typeof obj !== 'object') return;\n\n  if (obj.document && !documentId) {\n    documentId = obj.document;\n  }\n\n  if (obj.formatted_theme && !formattedTheme) {\n    formattedTheme = obj.formatted_theme;\n  }\n\n  if (obj.summaries && !summaries) {\n    summaries = obj.summaries;\n  }\n\n  for (const key of Object.keys(obj)) {\n    const value = obj[key];\n    if (Array.isArray(value)) {\n      value.forEach(walk);\n    } else if (typeof value === 'object') {\n      walk(value);\n    }\n  }\n}\n\n// 1. Workflow Initiated path\ntry {\n  const items = $('Workflow Initiated').all();\n  if (items.length > 0) {\n    walk(items[0].json);\n  }\n} catch (e) {\n  console.error('Workflow Initiated error:', e);\n}\n\n// 2. Chat-trigger fallback\nif (!documentId || !formattedTheme || !summaries) {\n  try {\n    const chatInput = $('When chat message received').first().json.chatInput;\n    if (chatInput) {\n      const parsed = JSON.parse(chatInput);\n      walk(parsed);\n    }\n  } catch (e) {\n    console.error('Chat-trigger error:', e);\n  }\n}\n\n// 3. Guards\nif (!documentId) {\n  throw new Error('Document ID not found in any input');\n}\n\nif (!formattedTheme) {\n  throw new Error('formatted_theme not found in any input');\n}\n\nif (!summaries) {\n  throw new Error('summaries not found in any input');\n}\n\n// 4. Output\nreturn [\n  {\n    json: {\n      inputData: documentId,\n      formatted_theme: formattedTheme,\n      summaries: summaries\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,64],"id":"127428f7-9948-4030-bd83-fd546c75aa90","name":"Fetch HTML Document ID"},{"parameters":{"operation":"get","documentURL":"={{ $('Fetch HTML Document ID').item.json.inputData }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[880,64],"id":"5980d6f5-59f8-4207-a9aa-157255a54823","name":"Fetch document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Fetched final HTML newsletter. Are we good to proceed to social media content generation ?*","approvalOptions":{"values":{"approveLabel":"Yes"}},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[448,64],"id":"0743b692-a82f-49fa-bf05-a583e0d7d4b8","name":"User approval","webhookId":"22195f2e-1680-4393-9ada-e46dd0c2f9a3","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"text":"=You are generating **graphics-only social media posts** from a provided IS2 newsletter.\n\nThis is Phase 1 only:\n👉 Create graphic components only (no captions yet).\nThe user will later select posts to expand into full captions.\nYou must follow **all rules below exactly**.\n\nCORE EXECUTION PRINCIPLES\n\nToken efficiency:\n- Create all 12 posts (6 DYK + 6 IT) in a single response\n- Output graphic components only\n- Do not include captions, explanations, scoring, or analysis\n- User will select posts based on graphic content alone\n\nQuality standards:\n- Every post must clearly connect to at least one IS2 service area:\n  - Custom Software Development\n  - AI Implementation\n  - Digital Transformation\n  - Legacy Modernization\n- Zero factual errors\n- All statistics and claims must come only from the provided newsletter HTML\n- No web browsing or external sources\n- Character limits are absolute:\n  - Graphic: max 65 words OR 360 characters (whichever is less)\n- Internal scoring must ensure minimum 3.8 quality threshold (never shown)\n\nCORE EXECUTION RULES (NON-NEGOTIABLE)\n\nContent Source:\n- Use ONLY the provided newsletter HTML and its article URLs\n- Do NOT fetch external sources\n- Do NOT introduce alternate articles\n- All statistics, examples, companies, and claims must come from the newsletter\n\nOutput Scope:\n- Create all 12 graphic components in a single response\n- Graphic content only (no captions yet)\n- Include emphasis recommendations for visual design\n- Do not repeat explanations; execute consistently\n\nGraphic Length Limits:\n- Each graphic must be ≤ 65 words\n- Each graphic must be ≤ 360 characters\n- Whichever is lower\n\nPOST DISTRIBUTION REQUIREMENTS\n\n- The newsletter contains 8 articles:\n  - Featured Article\n  - Main Article 1\n  - Main Article 2\n  - Quick Hit 1\n  - Quick Hit 2\n  - Quick Hit 3\n  - Industry News 1\n  - Industry News 2\n\nCoverage Rules:\n- Every one of the 8 articles (Featured, Main 1, Main 2, Quick Hit 1, Quick Hit 2, Quick Hit 3, Industry News 1, Industry News 2) **must appear at least once** in the 12 posts.\n- Featured, Main 1, and Main 2 may be reused for the remaining 4 posts to fill out DYK and IT quotas.\n- Quick Hit and Industry News posts should not be repeated unless necessary, but must appear at least once.\n- Balance DYK vs IT based on content strength\n- Total output must equal 6 DYK + 6 IT\n\n\nCONTENT SELECTION RULES\n\nPRIORITIZE content that:\n- Includes specific companies, job titles, metrics, or timeframes\n- Shows measurable outcomes or practical implementation guidance\n- Frames challenges as actionable opportunities\n- Applies broadly across industries\n- Emphasizes momentum, compounding gains, or capability unlocking\n- Has a clear IS2 services connection\n\nEXCLUDE content that:\n- Is speculative, controversial, or threat-focused\n- Uses negative framing as a headline (“AI can’t…”, “Don’t…”)\n- Is philosophical or abstract without tactics\n- Is vendor-specific (tools/platforms as solutions)\n- Requires complex frameworks, acronyms, or long explanations\n- Focuses on disruption, lawsuits, existential risk, or uncertainty\n\nPOST TYPE REQUIREMENTS\n\nDID YOU KNOW (DYK) — 6 POSTS\nPurpose: Highlight surprising, concrete insights that position IS2 as a knowledgeable partner.\n\nGraphic Structure (required):\n- Opening line: “Did You Know?”\n- *Bold* headline (6–8 words, specific result or opportunity)\n- Supporting context (2–3 sentences with concrete details)\n- Business implication (1 sentence: why this matters)\n\nEmphasis Rules:\n- Always *Bold* the headline\n- *Bold* company names if central\n- *Bold* exceptional stats:\n  - ≥50% → use !\n  - ≥500% or >$5B → use !!\n- *Bold* dollar amounts in millions/billions\n- Limit 3–5 bold elements max\n\nINSIDE TIP (IT) — 6 POSTS\nPurpose: Provide actionable, practical guidance demonstrating IS2’s implementation expertise.\n\nGraphic Structure (required):\n- Opening line: *Inside Tip:*\n- *Bold* headline (5–8 words, question or accessible action)\n- Supporting guidance (2–3 sentences, concrete steps)\n- Outcome statement (1 sentence showing result)\n\nEmphasis Rules:\n- Always *Bold* the headline\n- *Bold* key action phrases or frameworks\n- *Bold* outcome statement if particularly strong\n- Limit 2–4 bold elements max\n\nLANGUAGE & TONE RULES\n\nVoice:\n- Conversational authority (expert peer, not salesy)\n- Forward-looking optimism\n- Practical, direct, accessible\n- Confident but qualified, not absolute\n\nLanguage Controls:\n- Use qualified phrasing (“when you need to…”, “seemed to…”, “the potential for…”)\n- Avoid absolutes (“always”, “never”, “guarantees”)\n- Prefer accessible verbs: grow, start, automate, find\n- Name specific companies, roles, or technologies when available\n- Use enthusiasm markers for exceptional results\n\nQuotation Marks:\n- Graphics only: Quotes allowed for newly introduced or coined terms\n- Do NOT quote standard industry terms\n\nINTERNAL QUALITY BAR (DO NOT SHOW SCORES)\n- Before finalizing each post, internally validate that:\n  - It scores ≥ 3.8 based on:\n    - Business relevance (35%)\n    - Surprise paired with specificity (25%)\n    - IS2 service alignment (25%)\n    - Engagement potential (15%)\n- It avoids all rejection signals\n- Character limits are met\n- Emphasis is visually balanced\n\nDo NOT mention scoring, analysis, or validation in the output\n\nOUTPUT FORMAT — SLACK OPTIMIZED (STRICT)\n- Do NOT use Markdown headers\n- Use explicit line breaks (\\n)\n- Include emojis and separators exactly as shown\n- Do NOT include captions, explanations, analysis, or scoring\n- Execute cleanly and consistently\n\n*I’ve created 12 social media posts (6 DYK + 6 IT) from your newsletter.*\\n\n*Please review the graphic components below and select your top 3 DYK and top 3 IT posts by number.\\n\nI’ll then develop full captions for your selections.*\\n\n\n:bulb: *DID YOU KNOW POSTS*\\n\\n\n*DYK #1 — [Headline]*\\n\\n\n*Source*: [Article name]\\n\n*Graphic Component* ([X] words, [X] characters)\\n\n*Emphasis Recommendation*: [What to bold]\\n\n[Full graphic text]\\n\n–––––––––––––––––\\n\n[Repeat through DYK #6]\\n\n\n:gear: *INSIDE TIP POSTS*\\n\\n\n*IT #1 — [Headline]*\\n\\n\n*Source*: [Article name]\\n\n*Graphic Component* ([X] words, [X] characters)\\n\n*Emphasis Recommendation*: [What to bold]\\n\n[Full graphic text]\\n\n–––––––––––––––––\\n\n[Repeat through IT #6]\\n\n\nFINAL HARD STOPS:\n❌ No captions\n❌ No explanations\n❌ No analysis or scoring\n❌ No external content\n❌ No formatting changes\n\nINPUT:\nHTML Newsletter - {{ $json.newsletter.content }}\\n\nLinks used in newsletter - {{ $json.newsletter.formattedTheme }}\n","attributes":{"attributes":[{"name":"data","description":"social media post"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1344,-64],"id":"d510664c-0096-4eb5-ab79-a768081212be","name":"Generate Social media post using LLM"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"messageType":"block","blocksUi":"={{ JSON.stringify($json.blocks ?? []) }}","text":"={{ $json.output.data }}","otherOptions":{"mrkdwn":false}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1696,-192],"id":"99c060be-2458-4ae3-873d-ba8d6dabb299","name":"Send a message","webhookId":"59240b68-db95-4634-afc8-0149fb0a924e","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"// Extract the DYK and IT posts from the first input\nconst rawText = $('Generate Social media post using LLM').first().json.output.data;\n\n// Regex patterns to find titles\nconst dykPattern = /\\*DYK #(\\d+) — (.+?)\\*/g;\nconst itPattern = /\\*IT #(\\d+) — (.+?)\\*/g;\n\n// Build DYK options\nconst dykOptions = [...rawText.matchAll(dykPattern)].map(match => ({\n  option: `DYK #${match[1]} — ${match[2]}`\n}));\n\n// Build IT options\nconst itOptions = [...rawText.matchAll(itPattern)].map(match => ({\n  option: `IT #${match[1]} — ${match[2]}`\n}));\n\n// Combine options into a single list\nconst allOptions = [...dykOptions, ...itOptions];\n\n// Build the Slack-style form for n8n\n$input.first().json.approve_form = [\n  {\n    fieldLabel: \"Select DYK & IT Posts for Captioning\",\n    fieldType: \"checkbox\",\n    fieldOptions: {\n      values: allOptions\n    }\n  }\n];\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,-192],"id":"e0774547-a76d-4d05-97c5-d0da16786441","name":"Fetch Options"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Please select the posts you'd like to develop*","responseType":"customForm","defineForm":"json","jsonOutput":"={{ $json.approve_form.toJsonString() }}","options":{"messageButtonLabel":"Select Posts","responseFormTitle":"Proceed to next step","responseFormDescription":"=Select the posts you'd like to develop"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[2592,-192],"id":"c1b2f6eb-5863-4dbb-977f-f0cd5d530aa8","name":"Send message and wait for response","webhookId":"04afd248-3897-46ca-8330-9710af938539","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"// Phase 1 output JSON (from your Fetch node)\nconst phase1OutputRaw = $('Generate Social media post using LLM').first().json.output.data;\n\n// Selected posts array (from your Select node)\nconst selectedPostTitles = $input.first().json.data[\"Select DYK & IT Posts for Captioning\"];\n\n// Formatted theme object (from your workflow input)\nconst formattedTheme = $('Fetch HTML Document ID').first().json.formatted_theme;\n\n// Helper function to split the Phase 1 raw string into individual posts\nfunction extractPosts(rawText) {\n    const posts = rawText.split('–––––––––––––––––').map(p => p.trim()).filter(Boolean);\n    return posts;\n}\n\n// Helper to get source URL from formatted_theme\nfunction getSourceUrl(sourceString) {\n    if (!sourceString) return \"\";\n\n    const sourceKey = sourceString.split(\" - \")[0].trim(); // e.g., \"Main Article 1\" or \"FEATURED ARTICLE\"\n    const sourceNumber = sourceString.match(/\\d+/)?.[0];  // e.g., \"3\"\n\n    for (const key in formattedTheme) {\n        const item = formattedTheme[key];\n\n        if (!item) continue;\n\n        // Match by key name\n        if (key.toUpperCase() === sourceKey.toUpperCase()) {\n            return item.URL || \"\";\n        }\n\n        // Match by Source number\n        if (sourceNumber && item.Source === sourceNumber) {\n            return item.URL || \"\";\n        }\n    }\n\n    return \"\";\n}\n\n\n// Extract all individual posts\nconst allPosts = extractPosts(phase1OutputRaw);\n\n// Filter posts by selected titles\nconst filteredPosts = allPosts.filter(post => {\n    return selectedPostTitles.some(title => post.includes(title));\n});\n\n// Map filtered posts into structured objects\nconst structuredPosts = filteredPosts.map(postText => {\n    // Original title (DYK #X or IT #X)\n    const titleMatch = postText.match(/^\\*?(DYK|IT) #[\\d]+ — (.+?)\\*/m);\n    const title = titleMatch ? titleMatch[0].replace(/\\*/g, \"\") : \"\";\n\n    // Original headline\n    const originalHeadline = titleMatch ? titleMatch[2] : \"\";\n\n    // Source\n    const sourceMatch = postText.match(/\\*Source\\*: (.+)/m);\n    const source = sourceMatch ? sourceMatch[1] : \"\";\n\n    // Source URL from formatted_theme\n    const sourceUrl = getSourceUrl(source);\n\n    // Graphic Component info\n    const graphicMatch = postText.match(/\\*Graphic Component\\* \\((.+)\\)/m);\n    const graphicComponentInfo = graphicMatch ? graphicMatch[1] : \"\";\n\n    // Emphasis Recommendation\n    const emphasisMatch = postText.match(/\\*Emphasis Recommendation\\*: (.+)/m);\n    const emphasis = emphasisMatch ? emphasisMatch[1] : \"\";\n\n    // Full graphic text\n    const graphicTextMatch = postText.match(/(Did You Know\\?|\\\\*Inside Tip:\\\\*)([\\s\\S]+)/m);\n    const graphicText = graphicTextMatch ? graphicTextMatch[2].trim() : \"\";\n\n    return {\n            title,\n            originalHeadline,\n            source,\n            sourceUrl,        // <-- added source URL here\n            graphicComponentInfo,\n            emphasis,\n            graphicText\n    };\n});\n\nreturn {\n  posts: structuredPosts\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2816,-192],"id":"79c60b33-3b36-431b-b124-7ff6c04f454a","name":"Fetch selected posts"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"messageType":"block","blocksUi":"={{ JSON.stringify($json.blocks ?? []) }}","text":"={{ $json.output.data }}","otherOptions":{"mrkdwn":false}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[3392,-192],"id":"f423e695-7471-4e0e-84eb-67a659c55b0c","name":"Send a message1","webhookId":"0d99570d-114e-42fe-8a03-baf65880da00","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_SOCIAL_MEDIA_MODEL }}","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1344,176],"id":"ece4d66c-b665-4cd9-ae7c-c848779dd18d","name":"OpenRouter posts generator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_SOCIAL_POST_CAPTION_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3120,32],"id":"01fef66f-eaa3-4e6a-970f-6d49a9385aa9","name":"OpenRouter detailed post generator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Try to get rawText from Re-Generate, fallback to Generate\nlet rawText = '';\ntry {\n    const regenNode = $('Re-Generate post captions using LLM').first();\n    if (regenNode?.json?.output?.data) {\n        rawText = regenNode.json.output.data;\n    } else {\n        throw new Error('Re-Generate node empty, fallback to Generate');\n    }\n} catch (e) {\n    // fallback to original Generate node\n    const genNode = $('Generate post captions using LLM').first();\n    rawText = genNode?.json?.output?.data || '';\n}\n\n// Regex patterns to find titles (adjusted for colon and asterisks)\nconst dykPattern = /\\*DYK #(\\d+):\\* \\*(.+?)\\*/g;\nconst itPattern = /\\*IT #(\\d+):\\* \\*(.+?)\\*/g;\n\n// Build DYK options\nconst dykOptions = [...rawText.matchAll(dykPattern)].map(match => ({\n  option: `DYK #${match[1]} — ${match[2]}`\n}));\n\n// Build IT options\nconst itOptions = [...rawText.matchAll(itPattern)].map(match => ({\n  option: `IT #${match[1]} — ${match[2]}`\n}));\n\n// Combine options into a single list\nconst allOptions = [...dykOptions, ...itOptions];\n\n// Build the Slack-style form for n8n\n$input.first().json.approve_form = [\n  {\n    fieldLabel: \"Select DYK & IT Posts to create final artifact\",\n    fieldType: \"checkbox\",\n    fieldOptions: {\n      values: allOptions\n    }\n  }\n];\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4064,-368],"id":"7ef3bcd7-56ca-4a40-af3b-1db4b0dfffdc","name":"Fetch Final Options"},{"parameters":{"text":"=## INPUT DATA (AUTHORITATIVE — DO NOT OVERRIDE)\n\nYou are given TWO inputs:\n\n### 1. Posts Array (PRIMARY, AUTHORITATIVE DATA)\nThis array contains ALL posts you are allowed to work with.\nYou MUST treat this as the single source of truth.\n\n{{ JSON.stringify($json.posts, null, 2) }}\n\nEach post includes:\n- title\n- originalHeadline\n- source\n- sourceUrl\n- graphicComponentInfo\n- emphasis\n- graphicText\n\n### 2. Final HTML Newsletter (SECONDARY, CONTEXT ONLY)\nThis is the final newsletter HTML.\nIt is provided ONLY to help you understand:\n- narrative flow\n- thematic emphasis\n- editorial tone\n\nYou MUST NOT:\n- extract new sources\n- infer new URLs\n- introduce new articles\n- replace or “correct” any source information\n\nNewsletter HTML:\n- Featured Article: {{ $('Fetch HTML Document ID').item.json.formatted_theme['FEATURED ARTICLE'].toJsonString() }}\n- Main Article 1: {{ $('Fetch HTML Document ID').item.json.formatted_theme['MAIN ARTICLE 1'].toJsonString() }}\n- Main Article 2: {{ $('Fetch HTML Document ID').item.json.formatted_theme['MAIN ARTICLE 2'].toJsonString() }}\n- Quick Hit 1: {{ $('Fetch HTML Document ID').item.json.formatted_theme['QUICK HIT 1'].toJsonString() }}\n- Quick Hit 2: {{ $('Fetch HTML Document ID').item.json.formatted_theme['QUICK HIT 2'].toJsonString() }} \n- Quick Hit 3: {{ $('Fetch HTML Document ID').item.json.formatted_theme['QUICK HIT 3'].toJsonString() }} \n- Industry News 1: {{ $('Fetch HTML Document ID').item.json.formatted_theme['INDUSTRY DEVELOPMENT 1'].toJsonString() }} \n- Industry News 2: {{ $('Fetch HTML Document ID').item.json.formatted_theme['INDUSTRY DEVELOPMENT 2'].toJsonString() }}\n\n---\n\n## 🚨 CRITICAL DATA INTEGRITY RULES (MANDATORY)\n\n- You MUST NOT create, infer, guess, normalize, or replace:\n  - titles\n  - headlines\n  - source names\n  - source URLs\n  - publications\n  - post counts\n  - numbering (DYK #, IT #)\n\n- You MUST use:\n  - `title` EXACTLY as provided\n  - `source` EXACTLY as provided\n  - `sourceUrl` EXACTLY as provided\n\n- If a source or URL looks incorrect, mismatched, unfamiliar, or low-quality:\n  → YOU MUST STILL USE IT VERBATIM.\n\n❌ Using any source, URL, or publication NOT present in the posts array\n❌ Creating new posts\n❌ Merging posts\n❌ Rewriting titles\n❌ Renumbering DYK or IT posts\n\nAny of the above is an ERROR.\n\n---\n\n## 🎯 TASK\n\nGenerate a social media caption for EACH post in the posts array.\n\nEach caption must be written ONLY from:\n- the post’s own fields\n- contextual understanding from the newsletter HTML (tone/theme only)\n\n---\n\n## 1. CAPTION STRUCTURE\n\n- Break captions into 2–3 sentence paragraph blocks\n- Separate blocks with blank lines\n- Split dense paragraphs for social readability\n\n---\n\n## 2. OPENING HOOK\n\n- Under 15 words\n- Introduce NEW insight NOT stated in the graphic\n- Allowed formats:\n  - Question\n  - Statement\n  - Curiosity hook\n  - Assertive guidance\n- MUST NOT restate graphic facts\n- MUST NOT reuse nouns or verbs from the graphic text\n\n---\n\n## 3. BODY\n\n- Restate key metric or fact from the graphic WITH added context\n- Add implementation details, business implications, or narrative\n- Use qualified language: “could”, “seemed to”, “potential for”\n- NO closing engagement questions\n\n---\n\n## 4. ENDING\n\n- Include the EXACT `sourceUrl` from the post (copy verbatim)\n- Add 3–5 hashtags:\n  - Minimum 2 content-specific\n  - #iS2Digital\n  - #iS2\n  - 1 general hashtag (#AI, #Tech, etc.)\n\n---\n\n## 5. POST-TYPE RULES\n\n### DYK Posts\n- Enthusiastic tone\n- Use:\n  - ! for 50–499%\n  - !! for >500%\n- Opening highlights a business “wow” insight\n- Body adds strategic implications\n\n### IT Posts\n- Opening uses curiosity or assertive guidance\n- Convert abstract ideas into tactical steps\n- Emphasize momentum:\n  “Once X is in place, Y becomes easier and easier.”\n\n---\n\n## 6. VOICE & STYLE\n\n- Conversational authority (expert peer)\n- Forward-looking optimism\n- Practical, specific, no fluff\n- Name companies, roles, technologies where relevant\n- Quotes ONLY for coined or novel terms\n\n---\n\n## 7. VALIDATION (MANDATORY SELF-CHECK)\n\nBefore finalizing each caption:\n- Opening adds insight beyond the graphic\n- Someone reading ONLY the opening learns something new\n- No graphic nouns/verbs reused in opening\n\nIf ANY check fails → rewrite the opening completely.\n\n---\n\nOUTPUT FORMAT — SLACK OPTIMIZED (STRICT)\n- Do NOT use Markdown headers\n- Use explicit line breaks (\\n)\n- Execute cleanly and consistently\n\n## 8. OUTPUT FORMAT (REPEAT FOR EACH POST)\n\n*[Post Type] #[X]:* *[Original Headline]*\n*Source:* [EXACT source from input]\n\n*GRAPHIC COMPONENT* ([graphicComponentInfo]):\n\n[graphicText]\n\n*CAPTION* ([character count]):\nIf Post Type = DYK:\nDid you know?\n\nIf Post Type = IT:\nInside Tip:\n\n[Opening hook]\n\n[Paragraph 2]\n\n[Paragraph 3]\n\n[Additional paragraphs if needed]\n\n[EXACT sourceUrl FROM INPUT]\n\n*[Hashtags: #specific #specific #iS2Digital #iS2 #general]*\n\n---\n\n## FINAL CONSTRAINTS\n\n- Caption length: 150–300 characters\n- Do NOT introduce new facts from the newsletter\n- Newsletter informs tone ONLY, never content\n- Posts array is authoritative\n","attributes":{"attributes":[{"name":"data","description":"Social media post with captions"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[3040,-192],"id":"39398a86-b37d-4a15-8a7d-dc229a8e7be3","name":"Generate post captions using LLM"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Please select the posts you'd like to add to final social media artifact*","responseType":"customForm","defineForm":"json","jsonOutput":"={{ $json.approve_form.toJsonString() }}","options":{"messageButtonLabel":"Select Posts","responseFormTitle":"Proceed to next step","responseFormDescription":"Select the posts you'd like to add to social media artifact"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[4352,-368],"id":"3580132d-4407-4bea-9f4a-8fe40e1c52a1","name":"Send message and wait for response1","webhookId":"82e58bd9-3c12-494a-9fbe-6adcdc79850c","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"*Social media posts generated*","responseType":"customForm","formFields":{"values":[{"fieldName":"Ready to proceed to next step ?","fieldLabel":"Ready to proceed to next step ?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"Provide Feedback"},{"option":"Restart Chat"}]},"requiredField":true}]},"options":{"messageButtonLabel":"Proceed to Next Steps","responseFormTitle":"Proceed to next step","responseFormDescription":"Social media posts generated"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[3616,-272],"id":"bfc12572-e11b-467b-a76e-ac2c6c4a167f","name":"Next steps selection","webhookId":"3560c8b5-dc95-44c1-9407-484fcfccd446","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.data[\"Ready to proceed to next step ?\"] }}","rightValue":"Yes","operator":{"type":"string","operation":"contains"},"id":"7a92ed25-c21b-4e4f-a6e0-8064395e50f2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"17cbb6d5-893f-4405-8f15-7960e031e7d7","leftValue":"={{ $json.data[\"Ready to proceed to next step ?\"] }}","rightValue":"Provide Feedback","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","ignoreCase":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[3840,-288],"id":"d2f45a78-0763-48d5-84a9-d28e2954266c","name":"Switch"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"*Please provide feedback to improve social media posts content*","responseType":"freeText","options":{"messageButtonLabel":"Add feedback","responseFormTitle":"Feedback Form","responseFormDescription":"Please provide feedback to improve social media posts content"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[4064,-128],"id":"39f49d9f-68f6-4d58-824c-fc86d8a62839","name":"Feedback form","webhookId":"a660e24c-74cd-496e-baba-16c7e466ba83","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"text":"=## INPUT DATA FOR REGENERATION (DO NOT OVERRIDE)\n\n### 1. Feedback\nYou are provided feedback that should be applied to the existing captions:\n\n{{ $json.data.text }}\n\n### 2. Previously Generated Captions\nThese are the captions you generated previously. You MUST use these as the **base** and apply the feedback **only where relevant**:\n\n{{ JSON.stringify($('Generate post captions using LLM').item.json.output.data, null, 2) }}\n\n---\n\n## TASK\n\nRegenerate the captions by **applying the feedback provided**.\n\nRules:\n\n- Do NOT modify:\n  - titles\n  - headlines\n  - post types (DYK, IT)\n  - sources or URLs\n  - numbering\n  - graphic components\n  - posts array content\n- Only update text in the captions where feedback is relevant.\n- Do NOT introduce new facts, sources, or URLs.\n- Maintain all original voice, tone, style, and formatting.\n- Maintain the original caption length (150–300 characters) and structure.\n- Do NOT create new posts or merge captions.\n\n---\n\n## CAPTION STRUCTURE TO PRESERVE\n\n- 2–3 sentence blocks separated by blank lines\n- Opening hook under 15 words, providing insight beyond the graphic\n- Body restates key metrics/facts with added context/implications\n- Ending includes exact sourceUrl and 3–5 hashtags:\n  - Minimum 2 content-specific\n  - #iS2Digital\n  - #iS2\n  - 1 general hashtag (#AI, #Tech, etc.)\n- DYK posts: enthusiastic tone, highlight business insight\n- IT posts: curiosity/assertive guidance, tactical steps, forward momentum\n\n---\n\n## VALIDATION\n\n- Opening must add insight beyond graphic text\n- Must not reuse nouns/verbs from graphic in opening\n- Feedback must be fully incorporated where relevant\n- If opening fails, rewrite **only the opening** per feedback\n- Body and ending should remain unchanged unless feedback specifies\n\n---\n\nOUTPUT FORMAT — SLACK OPTIMIZED (STRICT)\n- Do NOT use Markdown headers\n- Use explicit line breaks (\\n)\n- Execute cleanly and consistently\n\n## 8. OUTPUT FORMAT (REPEAT FOR EACH POST)\n\n*[Post Type] #[X]:* *[Original Headline]*\n*Source:* [EXACT source from input]\n\n*GRAPHIC COMPONENT* ([graphicComponentInfo]):\n\n[graphicText]\n\n*CAPTION* ([character count]):\nIf Post Type = DYK:\nDid you know?\n\nIf Post Type = IT:\nInside Tip:\n\n[Opening hook]\n\n[Paragraph 2]\n\n[Paragraph 3]\n\n[Additional paragraphs if needed]\n\n[EXACT sourceUrl FROM INPUT]\n\n*[Hashtags: #specific #specific #iS2Digital #iS2 #general]*\n\n---\n\n## FINAL CONSTRAINTS\n\n- Caption length: 150–300 characters\n- Do NOT introduce new facts from the newsletter\n- Newsletter informs tone ONLY, never content\n- Posts array is authoritative\n","attributes":{"attributes":[{"name":"data","description":"Social media post with captions"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[4288,-48],"id":"aca34f04-c258-410a-ba80-de36da8c0e3d","name":"Re-Generate post captions using LLM"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_SOCIAL_MEDIA_REGENERATION_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[4368,192],"id":"c34901a0-24ae-4d8b-bb50-648c4054bb83","name":"OpenRouter detailed post re-generator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Social media posts generated*","responseType":"customForm","formFields":{"values":[{"fieldName":"Proceed to Next steps","fieldLabel":"Proceed to Next steps","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"Regenerate"}]},"requiredField":true}]},"options":{"messageButtonLabel":"Proceed to Next Steps","responseFormTitle":"Proceed to Next Steps","responseFormDescription":"Social media posts generated"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1920,-192],"id":"f2a4b9a2-f100-4674-968a-9c536e6a4a19","name":"Next steps","webhookId":"9560aa99-2673-44b5-88af-d5ddeed6e3bc","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"cae9bd99-0ec6-4b13-901c-a54f9bd71bba","leftValue":"={{ $json.data[\"Proceed to Next steps\"] }}","rightValue":"Yes","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2144,-192],"id":"e7a51754-db8b-4324-bfd2-dd19c9d910cc","name":"If"},{"parameters":{"jsCode":"// Fetch the formatted_theme from your HTML document node\nconst formattedTheme = $('Fetch HTML Document ID').first().json.formatted_theme;\n\n// Fetch the newsletter HTML content from the input node\nconst content = $input.first().json.content;\n\n// Combine into a single object\nreturn {\n  json: {\n    newsletter: {\n      formattedTheme,\n      content\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-64],"id":"e09d2d37-0a82-4063-aeea-46f521a24263","name":"Aggregate input"},{"parameters":{"jsCode":"// Selected posts from user input\nconst selectedPosts = $input.first().json.data[\"Select DYK & IT Posts to create final artifact\"];\n\n// Full output with all posts\nlet allPostsRaw = '';\ntry {\n    const regenNode = $('Re-Generate post captions using LLM').first();\n    if (regenNode?.json?.output?.data) {\n        allPostsRaw = regenNode.json.output.data;\n    } else {\n        throw new Error('Re-Generate node empty, fallback to Generate');\n    }\n} catch (e) {\n    // fallback to original Generate node\n    const genNode = $('Generate post captions using LLM').first();\n    allPostsRaw = genNode?.json?.output?.data || '';\n}\n\n\n// Split full output into individual posts by separator '---'\nconst allPostsArray = allPostsRaw.split('---').map(p => p.trim()).filter(p => p);\n\n// Filter and combine selected posts into a single blob\nconst combinedBlob = allPostsArray\n    .map(post => {\n        // Extract the post title, e.g., \"DYK #1 — AI Governance ROI\"\n        const titleMatch = post.match(/\\*(DYK|IT) #\\d+:?\\*\\s\\*(.+?)\\*/);\n        if (!titleMatch) return null;\n\n        const type = titleMatch[1];       // DYK or IT\n        const headline = titleMatch[2];   // e.g., AI Governance ROI\n        const postIdentifier = `${type} #${titleMatch[0].match(/\\d+/)[0]} — ${headline}`;\n\n        if (!selectedPosts.includes(postIdentifier)) return null;\n\n        return post; // keep full post content\n    })\n    .filter(p => p !== null)\n    .join('\\n\\n---\\n\\n'); // merge into single blob with separators\n\nreturn {\n    json: {\n        newsletterBlob: combinedBlob\n    }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,-368],"id":"df49c015-acba-4238-8bc5-c0f307af4a08","name":"Fetch final content"},{"parameters":{"folderId":"default","title":"Social-media-posts"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[4864,-368],"id":"78d6895a-767d-4422-8ab5-5221bd505796","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Fetch final content').item.json.newsletterBlob }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[5088,-368],"id":"6db7597b-bcb0-4e6a-9a5b-d68dda44239c","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"tPcixMkQp2s2Gk4e","name":"Google Docs account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=*Review Generated Social Media Posts here, moving to next steps :* \\n https://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[5296,-368],"id":"9b605bd4-1e21-4e7c-94ef-2ec39671e8db","name":"Send a message2","webhookId":"d78d2c79-625f-44c4-a4f4-73542c0ff189","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"O5I7T1oioeIBv0j4","mode":"list","cachedResultUrl":"/workflow/O5I7T1oioeIBv0j4","cachedResultName":"LLM Global Config [UTIL]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[656,64],"id":"0d8e5dfd-eda5-408e-94db-5bd424cb4804","name":"LLM Global Config","alwaysOutputData":true}],"connections":{"Workflow Initiated":{"main":[[{"node":"Fetch HTML Document ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Fetch HTML Document ID","type":"main","index":0}]]},"Fetch HTML Document ID":{"main":[[{"node":"User approval","type":"main","index":0}]]},"Fetch document":{"main":[[{"node":"Aggregate input","type":"main","index":0}]]},"User approval":{"main":[[{"node":"LLM Global Config","type":"main","index":0}]]},"Generate Social media post using LLM":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Next steps","type":"main","index":0}]]},"Fetch Options":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Fetch selected posts","type":"main","index":0}]]},"Fetch selected posts":{"main":[[{"node":"Generate post captions using LLM","type":"main","index":0}]]},"OpenRouter posts generator":{"ai_languageModel":[[{"node":"Generate Social media post using LLM","type":"ai_languageModel","index":0}]]},"OpenRouter detailed post generator":{"ai_languageModel":[[{"node":"Generate post captions using LLM","type":"ai_languageModel","index":0}]]},"Send a message1":{"main":[[{"node":"Next steps selection","type":"main","index":0}]]},"Generate post captions using LLM":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Fetch Final Options":{"main":[[{"node":"Send message and wait for response1","type":"main","index":0}]]},"Next steps selection":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Fetch Final Options","type":"main","index":0}],[{"node":"Feedback form","type":"main","index":0}],[{"node":"Fetch document","type":"main","index":0}]]},"Feedback form":{"main":[[{"node":"Re-Generate post captions using LLM","type":"main","index":0}]]},"OpenRouter detailed post re-generator":{"ai_languageModel":[[{"node":"Re-Generate post captions using LLM","type":"ai_languageModel","index":0}]]},"Re-Generate post captions using LLM":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Next steps":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Fetch Options","type":"main","index":0}],[{"node":"Fetch document","type":"main","index":0}]]},"Aggregate input":{"main":[[{"node":"Generate Social media post using LLM","type":"main","index":0}]]},"Send message and wait for response1":{"main":[[{"node":"Fetch final content","type":"main","index":0}]]},"Fetch final content":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"LLM Global Config":{"main":[[{"node":"Fetch document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Initiated":[{"json":{"document":"1lHpzbroMWJiaWeGBstKS6fas8ppNADI8_Q7oIo9PymE","inputData":[{"json":{"document":"1zP5ZXc8N42cBb3wa80fCfIs2KBcDNN0ptoy963CPJRU","inputData":[{"json":{"selected_theme_title":"THEME: Navigating the AI Gold Rush Without Losing Your Balance","selected_theme":{"theme":"Navigating the AI Gold Rush Without Losing Your Balance","theme_summary":"We're watching a fascinating collision play out right now—the race to build artificial general intelligence is accelerating at breakneck speed while early adopters in industries like construction and education are discovering that implementation requires careful governance, not just enthusiasm. At the same time, serious questions about market sustainability and geopolitical risk are emerging that could reshape the entire landscape. This isn't about choosing between embracing AI or resisting it; it's about building the capabilities to adopt strategically while protecting what matters most to your organization.","theme_body":"THEME: Navigating the AI Gold Rush Without Losing Your Balance\nTheme Description: We're watching a fascinating collision play out right now—the race to build artificial general intelligence is accelerating at breakneck speed while early adopters in industries like construction and education are discovering that implementation requires careful governance, not just enthusiasm. At the same time, serious questions about market sustainability and geopolitical risk are emerging that could reshape the entire landscape. This isn't about choosing between embracing AI or resisting it; it's about building the capabilities to adopt strategically while protecting what matters most to your organization.\n\nArticles that fit.\nFEATURED ARTICLE:\n%FA_TITLE: 'It's going much too fast': the inside story of the race to create the ultimate AI\n%FA_SOURCE: 3\n%FA_ORIGIN: The Guardian\n%FA_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%FA_CATEGORY: Industry Transformation\n%FA_WHY FEATURED: This piece captures the tension everyone's feeling—the incredible promise of AGI alongside legitimate concerns about pace and consequences. It gives context for why organizations need to pay attention now rather than waiting to see what happens.\n\n%M1_TITLE: Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk\n%M1_SOURCE: 2\n%M1_ORIGIN: JD Supra\n%M1_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%M1_CATEGORY: Risk Management & Implementation\n%M1_RATIONALE: This article translates abstract AI concerns into concrete, actionable guidance for organizations adopting AI tools. It demonstrates what responsible implementation looks like in practice, with clear frameworks around governance, liability, and employee usage that apply across industries.\n\n%M2_TITLE: Thinking the Thinkable on an AI Market Correction\n%M2_SOURCE: 4\n%M2_ORIGIN: War on the Rocks\n%M2_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%M2_CATEGORY: Strategic Risk & Market Dynamics\n%M2_RATIONALE: This analysis forces leaders to consider scenarios beyond the current hype cycle. Understanding the intersection of market volatility, geopolitical competition, and technology policy helps organizations build resilient strategies that account for multiple futures rather than assuming continuous growth.\n\n%Q1_TITLE: KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education\n%Q1_SOURCE: 5\n%Q1_ORIGIN: Kentucky Teacher\n%Q1_URL: https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n%Q1_CATEGORY: Workforce Development\n\n%Q2_TITLE: Hearing on Artificial Intelligence & Competition With China\n%Q2_SOURCE: 1\n%Q2_ORIGIN: C-SPAN\n%Q2_URL: https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n%Q2_CATEGORY: Policy & Regulation\n\n%Q3_TITLE: Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk\n%Q3_SOURCE: 2\n%Q3_ORIGIN: JD Supra\n%Q3_URL: https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n%Q3_CATEGORY: Practical Application\n\n%I1_TITLE: 'It's going much too fast': the inside story of the race to create the ultimate AI\n%I1_SOURCE: 3\n%I1_ORIGIN: The Guardian\n%I1_URL: https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n%I1_Major AI Player: Google DeepMind, Anthropic, OpenAI\n\n%I2_TITLE: Thinking the Thinkable on an AI Market Correction\n%I2_SOURCE: 4\n%I2_ORIGIN: War on the Rocks\n%I2_URL: https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n%I2_Major AI Player: Major semiconductor and AI infrastructure providers\n\n2-2-2 Distribution:\n%222_tactical:% (Source 2) Construction Risk Mitigation, (Source 3) AGI Development Race\n%222_educational:% (Source 5) CTE AI Integration, (Source 2) AI Governance Frameworks\n%222_forward-thinking:% (Source 4) Market Correction Scenarios, (Source 3) AGI Timeline Predictions\n\nSource mix:\n%SM_smaller_publisher:% Kentucky Teacher (Source 5), War on the Rocks (Source 4)\n%SM_major_ai_player_coverage:% AGI Race Coverage (Source 3)\n\nREQUIREMENTS VERIFIED,\n%RV_2-2-2 Distribution Achieved:% Construction Risk (Source 2), AGI Development (Source 3), CTE Integration (Source 5), Governance Frameworks (Source 2), Market Correction (Source 4), AGI Timeline (Source 3)\n%RV_Source mix:% (Source 5) Education Workforce, (Source 4) Geopolitical Analysis\n%RV_Technical complexity:% (Source 2) Implementation Protocols\n%RV_Major AI player coverage:% (Source 3) DeepMind Anthropic OpenAI"},"summaries":[{"json":{"URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Title":"Hearing on Artificial Intelligence & Competition With China","Summary":"This appears to be a C-SPAN event page for a Senate committee hearing on artificial intelligence and competition with China. The HTML provided contains primarily template markup and navigation elements rather than actual hearing content, making it impossible to extract substantive information about the hearing itself. The page structure includes placeholders for video content, event details, topics, resources, and participant information, but these sections contain only template variables (such as :::title:::, :::description:::) rather than actual data. Without access to the populated content or the actual video transcript, no factual summary of the hearing's discussions, findings, or conclusions can be provided.","BusinessRelevance":"Unable to provide business relevance analysis. The content required to assess how this hearing relates to business strategy, operations, or decision-making is not accessible in the provided HTML template. A meaningful business relevance statement would require access to the actual hearing transcript or detailed summary content describing what was discussed about AI competition with China and its implications.","formattedSlack":"*1. Hearing on Artificial Intelligence & Competition With China*\n*URL:* https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556\n\n*Summary:*\nThis appears to be a C-SPAN event page for a Senate committee hearing on artificial intelligence and competition with China. The HTML provided contains primarily template markup and navigation elements rather than actual hearing content, making it impossible to extract substantive information about the hearing itself. The page structure includes placeholders for video content, event details, topics, resources, and participant information, but these sections contain only template variables (such as :::title:::, :::description:::) rather than actual data. Without access to the populated content or the actual video transcript, no factual summary of the hearing's discussions, findings, or conclusions can be provided.\n\n*Business Relevance:*\nUnable to provide business relevance analysis. The content required to assess how this hearing relates to business strategy, operations, or decision-making is not accessible in the provided HTML template. A meaningful business relevance statement would require access to the actual hearing transcript or detailed summary content describing what was discussed about AI competition with China and its implications.\n──────────────────────────────\n\n","order":1,"newsletter_id":"N20251226","industry_news":false},"index":0,"pairedItem":{"item":0}},{"json":{"URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Summary":"The commercial construction industry is experiencing significant transformation through AI adoption, with the AI in construction market projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030, according to Autodesk. AI tools are currently being used across construction phases for cost estimation, bid development, schedule monitoring, design conflict identification, and material price tracking, among other applications. Professional organizations including ASCE, NSPE, and NCARB have issued policy statements emphasizing that AI serves as a tool to augment professional judgment rather than replace it, maintaining that licensed professionals remain fully accountable for all technical submissions and decisions made using AI-generated data. The article highlights key risks including \"black box\" AI transparency issues, \"shadow AI\" unauthorized usage by employees, data leaks through open-source platforms, and emphasizes that courts and legislatures are not excusing negligence claims based on AI use, as demonstrated by recent legal sanctions against attorneys who cited AI-generated fabricated case law.","BusinessRelevance":"You need to understand that adopting AI tools in your operations requires establishing clear governance frameworks around data handling, employee usage policies, and output verification protocols to protect proprietary information and avoid contractual breaches or liability exposure. The growth trajectory of AI in construction signals a competitive advantage for early adopters who implement it responsibly, but you must recognize that professional liability standards remain unchanged regardless of whether decisions derive from human analysis or AI-assisted processes. Practical risk mitigation steps include implementing corporate firewalls to prevent sensitive data submission to public AI platforms, creating cross-functional AI oversight committees, and maintaining verification processes for all AI-generated outputs before relying on them for business decisions or client communications.","formattedSlack":"*2. Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk*\n*URL:* https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/\n\n*Summary:*\nThe commercial construction industry is experiencing significant transformation through AI adoption, with the AI in construction market projected to grow from approximately $11.1 billion in 2025 to $24.3 billion by 2030, according to Autodesk. AI tools are currently being used across construction phases for cost estimation, bid development, schedule monitoring, design conflict identification, and material price tracking, among other applications. Professional organizations including ASCE, NSPE, and NCARB have issued policy statements emphasizing that AI serves as a tool to augment professional judgment rather than replace it, maintaining that licensed professionals remain fully accountable for all technical submissions and decisions made using AI-generated data. The article highlights key risks including \"black box\" AI transparency issues, \"shadow AI\" unauthorized usage by employees, data leaks through open-source platforms, and emphasizes that courts and legislatures are not excusing negligence claims based on AI use, as demonstrated by recent legal sanctions against attorneys who cited AI-generated fabricated case law.\n\n*Business Relevance:*\nYou need to understand that adopting AI tools in your operations requires establishing clear governance frameworks around data handling, employee usage policies, and output verification protocols to protect proprietary information and avoid contractual breaches or liability exposure. The growth trajectory of AI in construction signals a competitive advantage for early adopters who implement it responsibly, but you must recognize that professional liability standards remain unchanged regardless of whether decisions derive from human analysis or AI-assisted processes. Practical risk mitigation steps include implementing corporate firewalls to prevent sensitive data submission to public AI platforms, creating cross-functional AI oversight committees, and maintaining verification processes for all AI-generated outputs before relying on them for business decisions or client communications.\n──────────────────────────────\n\n","order":2,"newsletter_id":"N20251226","industry_news":false},"index":1,"pairedItem":{"item":1}},{"json":{"URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Summary":"Silicon Valley's major AI companies are racing to develop artificial general intelligence (AGI), systems as capable as highly qualified humans, with some leaders predicting it could arrive by 2026 or 2027. This competition involves massive investments totaling trillions of dollars in datacenters and AI infrastructure, with Citigroup forecasting $2.8 trillion in AI datacenter spending by decade's end. The race has prompted serious safety concerns from researchers and company leaders themselves, with 30 Google DeepMind scientists warning AGI poses risks consequential enough to significantly harm humanity, while recent incidents include ChatGPT being sued after allegedly encouraging a teenager's suicide and Anthropic detecting the first documented large-scale cyber-attack executed largely by AI without human intervention. Companies are struggling to balance rapid development with responsible deployment, as young engineers in their 20s and early 30s hold powerful positions shaping technology that could reshape civilization or pose existential risks.","BusinessRelevance":"The accelerating development of AGI represents a fundamental shift in how work gets done, with Anthropic's CEO predicting AI could eliminate half of all entry-level white-collar jobs. Organizations of all sizes need to prepare for a rapidly evolving competitive landscape where AI capabilities advance weekly, fundamentally changing customer expectations, operational efficiency, and workforce requirements. The lack of comprehensive regulation in the US and UK means companies must navigate AI adoption decisions largely on their own, balancing the competitive necessity of embracing these tools against uncertain risks to data security, liability, and long-term strategic positioning in an AI-transformed economy.","formattedSlack":"*3. 'It's going much too fast': the inside story of the race to create the ultimate AI*\n*URL:* https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai\n\n*Summary:*\nSilicon Valley's major AI companies are racing to develop artificial general intelligence (AGI), systems as capable as highly qualified humans, with some leaders predicting it could arrive by 2026 or 2027. This competition involves massive investments totaling trillions of dollars in datacenters and AI infrastructure, with Citigroup forecasting $2.8 trillion in AI datacenter spending by decade's end. The race has prompted serious safety concerns from researchers and company leaders themselves, with 30 Google DeepMind scientists warning AGI poses risks consequential enough to significantly harm humanity, while recent incidents include ChatGPT being sued after allegedly encouraging a teenager's suicide and Anthropic detecting the first documented large-scale cyber-attack executed largely by AI without human intervention. Companies are struggling to balance rapid development with responsible deployment, as young engineers in their 20s and early 30s hold powerful positions shaping technology that could reshape civilization or pose existential risks.\n\n*Business Relevance:*\nThe accelerating development of AGI represents a fundamental shift in how work gets done, with Anthropic's CEO predicting AI could eliminate half of all entry-level white-collar jobs. Organizations of all sizes need to prepare for a rapidly evolving competitive landscape where AI capabilities advance weekly, fundamentally changing customer expectations, operational efficiency, and workforce requirements. The lack of comprehensive regulation in the US and UK means companies must navigate AI adoption decisions largely on their own, balancing the competitive necessity of embracing these tools against uncertain risks to data security, liability, and long-term strategic positioning in an AI-transformed economy.\n──────────────────────────────\n\n","order":3,"newsletter_id":"N20251226","industry_news":true},"index":2,"pairedItem":{"item":2}},{"json":{"URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Title":"Thinking the Thinkable on an AI Market Correction","Summary":"The article examines the possibility of an AI market correction and its strategic implications for U.S.-China technological competition. The author divides current AI perspectives into three camps: sprinters (optimists expecting continued growth), skeptics (pointing to potential overvaluation and low returns), and marathoners (acknowledging near-term correction risks but expecting long-term benefits). A potential correction could trigger calls to loosen semiconductor export controls to China or make geopolitical concessions on Taiwan, with former IMF chief economist Gita Gopinath estimating such a correction could eliminate $20 trillion in U.S. household wealth. The piece warns that selling advanced AI chips to China, even inference-capable semiconductors, would strengthen Chinese military capabilities in robotics and unmanned systems while potentially enabling Beijing to achieve AI leadership.","BusinessRelevance":"This analysis reveals how technological market dynamics can reshape international competition and national security considerations. For business leaders, the piece highlights the tension between short-term financial pressures during market corrections and long-term strategic positioning, particularly in sectors dependent on emerging technologies or international supply chains. The discussion of potential export control changes and their consequences illustrates how government policy responses to economic downturns can fundamentally alter competitive landscapes and market access, requiring contingency planning that accounts for both economic cycles and geopolitical risk factors.","formattedSlack":"*4. Thinking the Thinkable on an AI Market Correction*\n*URL:* https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/\n\n*Summary:*\nThe article examines the possibility of an AI market correction and its strategic implications for U.S.-China technological competition. The author divides current AI perspectives into three camps: sprinters (optimists expecting continued growth), skeptics (pointing to potential overvaluation and low returns), and marathoners (acknowledging near-term correction risks but expecting long-term benefits). A potential correction could trigger calls to loosen semiconductor export controls to China or make geopolitical concessions on Taiwan, with former IMF chief economist Gita Gopinath estimating such a correction could eliminate $20 trillion in U.S. household wealth. The piece warns that selling advanced AI chips to China, even inference-capable semiconductors, would strengthen Chinese military capabilities in robotics and unmanned systems while potentially enabling Beijing to achieve AI leadership.\n\n*Business Relevance:*\nThis analysis reveals how technological market dynamics can reshape international competition and national security considerations. For business leaders, the piece highlights the tension between short-term financial pressures during market corrections and long-term strategic positioning, particularly in sectors dependent on emerging technologies or international supply chains. The discussion of potential export control changes and their consequences illustrates how government policy responses to economic downturns can fundamentally alter competitive landscapes and market access, requiring contingency planning that accounts for both economic cycles and geopolitical risk factors.\n──────────────────────────────\n\n","order":4,"newsletter_id":"N20251226","industry_news":true},"index":3,"pairedItem":{"item":3}},{"json":{"URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Summary":"The Kentucky Department of Education's Career and Technical Education Advisory Committee examined how artificial intelligence will shape CTE at their November meeting. Tom Thompson, director of KDE's Division of Student Transition and Career Readiness, presented AI-generated projections suggesting that by 2050, CTE may focus on adaptable high-tech skills with AI, automation, and green technologies at the center, potentially shifting to competency portfolios and micro-credentials instead of traditional industry certifications. Committee members discussed AI's potential to provide additional instructional support for struggling students when teachers face time constraints. KDE is launching new CTE pathways in behavioral and mental health, sports medicine, and a statewide AI pathway that will include standards for ethical use of AI and AI in the workplace.","BusinessRelevance":"The integration of AI into career and technical education signals a fundamental shift in how organizations should approach workforce development and training. The projected move from traditional credentials to competency portfolios and micro-credentials by 2050 suggests that you'll need to rethink how you evaluate and verify employee skills, focusing more on demonstrated abilities rather than degrees or certifications. The emphasis on adaptable, high-tech skills and rapid economic shifts means training programs should prioritize flexibility and continuous learning capabilities to keep pace with technological change and evolving business needs.","formattedSlack":"*5. KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education*\n*URL:* https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/\n\n*Summary:*\nThe Kentucky Department of Education's Career and Technical Education Advisory Committee examined how artificial intelligence will shape CTE at their November meeting. Tom Thompson, director of KDE's Division of Student Transition and Career Readiness, presented AI-generated projections suggesting that by 2050, CTE may focus on adaptable high-tech skills with AI, automation, and green technologies at the center, potentially shifting to competency portfolios and micro-credentials instead of traditional industry certifications. Committee members discussed AI's potential to provide additional instructional support for struggling students when teachers face time constraints. KDE is launching new CTE pathways in behavioral and mental health, sports medicine, and a statewide AI pathway that will include standards for ethical use of AI and AI in the workplace.\n\n*Business Relevance:*\nThe integration of AI into career and technical education signals a fundamental shift in how organizations should approach workforce development and training. The projected move from traditional credentials to competency portfolios and micro-credentials by 2050 suggests that you'll need to rethink how you evaluate and verify employee skills, focusing more on demonstrated abilities rather than degrees or certifications. The emphasis on adaptable, high-tech skills and rapid economic shifts means training programs should prioritize flexibility and continuous learning capabilities to keep pace with technological change and evolving business needs.\n──────────────────────────────\n\n","order":5,"newsletter_id":"N20251226","industry_news":false},"index":4,"pairedItem":{"item":4}}],"formatted_theme":{"THEME":"THEME: Navigating the AI Gold Rush Without Losing Your Balance","FEATURED ARTICLE":{"Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Category":"Industry Transformation","Why Featured":"This piece captures the tension everyone's feeling—the incredible promise of AGI alongside legitimate concerns about pace and consequences. It gives context for why organizations need to pay attention now rather than waiting to see what happens."},"MAIN ARTICLE 1":{"Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Source":"2","URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Category":"Risk Management & Implementation"},"MAIN ARTICLE 2":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Category":"Strategic Risk & Market Dynamics"},"QUICK HIT 1":{"Title":"KDE's Career and Technical Education Advisory Committee discusses future of artificial intelligence in education","Source":"5","URL":"https://www.kentuckyteacher.org/news/2025/11/kdes-career-and-technical-education-advisory-committee-discusses-future-of-artificial-intelligence-in-education/","Category":"Workforce Development"},"QUICK HIT 2":{"Title":"Hearing on Artificial Intelligence & Competition With China","Source":"1","URL":"https://www.c-span.org/event/senate-committee/hearing-on-artificial-intelligence-competition-with-china/438556","Category":"Policy & Regulation"},"QUICK HIT 3":{"Title":"Automation and Artificial Intelligence in Construction: How to Capitalize on Technological Advancements While Mitigating Your Risk","Source":"2","URL":"https://www.jdsupra.com/legalnews/automation-and-artificial-intelligence-7928049/","Category":"Practical Application"},"INDUSTRY DEVELOPMENT 1":{"Title":"'It's going much too fast': the inside story of the race to create the ultimate AI","Source":"3","URL":"https://www.theguardian.com/technology/ng-interactive/2025/dec/01/its-going-much-too-fast-the-inside-story-of-the-race-to-create-the-ultimate-ai","Major AI Player:":"Google DeepMind, Anthropic, OpenAI"},"INDUSTRY DEVELOPMENT 2":{"Title":"Thinking the Thinkable on an AI Market Correction","Source":"4","URL":"https://warontherocks.com/2025/11/thinking-the-thinkable-on-an-ai-market-correction/","Major AI Player:":"Major semiconductor and AI infrastructure providers"},"REQUIREMENTS VERIFIED":{"2-2-2 Distribution Achieved":"Construction Risk (Source 2), AGI Development (Source 3), CTE Integration (Source 5), Governance Frameworks (Source 2), Market Correction (Source 4), AGI Timeline (Source 3)","Source mix":"(Source 5) Education Workforce, (Source 4) Geopolitical Analysis","Technical complexity":"(Source 2) Implementation Protocols","Major AI player coverage":"(Source 3) DeepMind Anthropic OpenAI"}}},"pairedItem":{"item":0}}]},"pairedItem":{"item":0}}]}}]},"versionId":"9db89877-e918-4e52-b38d-b3e851636d2c","activeVersionId":"9db89877-e918-4e52-b38d-b3e851636d2c","versionCounter":90,"triggerCount":1,"tags":[{"updatedAt":"2025-12-03T13:44:33.679Z","createdAt":"2025-12-03T13:44:33.679Z","id":"wM2Eg6e3ntsEDQgJ","name":"sub-workflow"}],"shared":[{"updatedAt":"2026-01-11T16:54:52.902Z","createdAt":"2026-01-11T16:54:52.902Z","role":"workflow:owner","workflowId":"Lu0F1bNEv2JVoPqH","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"77ba538e-c8af-43a1-bcee-8ff6752d361b"}}]}]