_n8n-project/workflows/SUB/summarization_subworkflow.json
[{"updatedAt":"2025-12-29T17:29:25.808Z","createdAt":"2025-11-03T18:14:15.387Z","id":"ScFeCWBc1yqWBUsD","name":"Summarization [sub-workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-336,880],"id":"784ace81-b3bb-4ba5-a2a1-09cd8e9ba62c","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"{{ $('Structure SQL Insert Query').item.json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[112,32],"id":"500bb4a6-6fbf-4e4d-be20-e7246b2eba88","name":"Insert into table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d6915470-7c53-47da-ab42-4da2284833cd","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"fd8f282f-29ce-472f-9f50-6ad40fd87fc2","name":"publish_date","value":"={{ $json.publish_date }}","type":"string"},{"id":"3a7fd735-f58a-473d-960d-e53df8afb6e7","name":"approved","value":"={{ $json.approved && $json.approved.toString().toLowerCase() === 'yes' }}","type":"boolean"},{"id":"d46f82b1-2c37-4c2a-9dea-d30360701857","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"fa480fcf-898b-41ba-b747-db7e75791dd0","name":"origin","value":"={{ $json.origin }}","type":"string"},{"id":"fbd5aec8-6267-405f-96c5-1438ef0e3551","name":"newsletter_id","value":"={{ $json.newsletter_id }}","type":"string"},{"id":"cbfebc11-0630-4a05-ae2c-cfa57d54ac3c","name":"industry_news","value":"={{ $json.industry_news && $json.industry_news.toString().toLowerCase() === 'yes' }}","type":"boolean"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,400],"id":"85608b43-38d9-4205-a531-abc533d3ed3f","name":"Field Mapping"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1360,256],"id":"de9859c5-825a-47d3-9a58-99a1ed5ab281","name":"Workflow Initiated"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1376,512],"id":"d93d0e99-4719-4c01-a32f-2680c0fe1a69","name":"Manually Initiated","disabled":true},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS curated_articles (\n          url TEXT PRIMARY KEY,\n          publish_date DATE,\n          approved BOOLEAN,\n          title TEXT,\n          origin TEXT,\n          newsletter_id TEXT,\n          created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n        );\n\nCREATE TABLE IF NOT EXISTS summarization_user_feedback (\n  id SERIAL PRIMARY KEY,\n  feedback_text TEXT NOT NULL,\n  created_at TIMESTAMP DEFAULT NOW()\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,32],"id":"263fc918-6b1d-47e0-9836-82c57bbf45ba","name":"Create table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8","mode":"list","cachedResultName":"Newsletter Curated Articles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TPHgLaLUJjL92V5k7uI7P4_mou3-wzoclFhxnCeBMP8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"approved","lookupValue":"yes"}]},"options":{"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-784,400],"id":"fff9c9c6-89b1-47a4-a8c0-f4a589d76b19","name":"Fetch Data from Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"mdEXXhycQbVgTPQQ","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Build value tuples for each item\nconst values = items.map(item => {\n  const url = item.json.url.replace(/'/g, \"''\"); // escape single quotes in URL\n  const date = item.json.publish_date;\n  const approved = item.json.approved ? 'TRUE' : 'FALSE';\n  const title = item.json.title;\n  const origin = item.json.origin;\n  const newsletter_id = item.json.newsletter_id;\n  \n  return `('${url}', TO_DATE('${date}', 'MM/DD/YYYY'), ${approved}, '${title}', '${origin}', '${newsletter_id}', CURRENT_TIMESTAMP)`;\n});\n\n// Combine everything into a single safe SQL statement\nconst query = `\nINSERT INTO curated_articles (url, publish_date, approved, title, origin, newsletter_id, created_at)\nVALUES\n  ${values.join(',\\n')}\nON CONFLICT (url)\nDO UPDATE SET\n  publish_date = EXCLUDED.publish_date,\n  approved = EXCLUDED.approved,\n  title = EXCLUDED.title,\n  origin = EXCLUDED.origin,\n  newsletter_id = EXCLUDED.newsletter_id,\n  created_at = CURRENT_TIMESTAMP;\n`;\n\nreturn [\n  {\n    json: { query: query.trim() }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,112],"id":"061f5bfd-b165-469a-bb5c-0cb302d1ec43","name":"Structure SQL Insert Query"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"},{"name":"Accept-Language","value":"en-US,en;q=0.9"},{"name":"Referer","value":"https://www.google.com/"},{"name":"Connection","value":"keep-alive"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,880],"id":"bfee4f4a-d4a5-4fc6-9444-a39b06f8cb29","name":"Fetch Page Content","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"78701431-6a08-4b69-ac2a-5c483b6f27ad","leftValue":"={{ $json.error.message }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"aa0d2e9c-f4f2-4be2-ae7c-a741e5980df7","leftValue":"={{ $json.data }}","rightValue":"sgcaptcha","operator":{"type":"string","operation":"notContains"}},{"id":"f94d42de-02c5-43a8-9e5a-0f9ab7848e48","leftValue":"={{ $('Loop Over Items').item.json.url }}","rightValue":"youtube.com","operator":{"type":"string","operation":"notContains"}},{"id":"18d42dd4-cdb9-4d29-a7f9-afe668c416e8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,880],"id":"f0976831-8b55-4e09-865a-500bb572ecdb","name":"If"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output.data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-112,416],"id":"7247b9e8-9435-4408-8d82-99507010bf26","name":"Aggregate"},{"parameters":{"content":"Fetch Curated Articles from Google Sheet and update the approved ones in Database.","height":80,"width":608},"type":"n8n-nodes-base.stickyNote","position":[-288,-96],"typeVersion":1,"id":"981587a0-5bbf-4fbe-90b5-8b76bd2865ab","name":"Sticky Note"},{"parameters":{"html":"={{ $('Field Mapping').item.json.url }} {{ $('Field Mapping').item.json.title }} {{ $json.data?.text ?? $json.data }}","destinationKey":"chatInput","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[560,880],"id":"ecfbddc9-caf8-4063-8a94-8006dc4b60b8","name":"Markdown"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4d0d528-2f8a-46d5-a94b-b2a1c8fa84d6","leftValue":"={{ $json.success }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,112],"id":"af1f296a-89f0-4d3d-97c6-9c64caeef7dc","name":"Check DB Insert status"},{"parameters":{"content":"Fetch Page Content of approved blog and summarize, ask for manual input when fetch content fails.","height":80,"width":736},"type":"n8n-nodes-base.stickyNote","position":[16,1232],"typeVersion":1,"id":"f66606ed-cc2a-4094-adc1-d3fb7f3139a5","name":"Sticky Note1"},{"parameters":{"content":"Share the generated content with user and ask for feedback. Loop until user approves the revision.","height":80,"width":720},"type":"n8n-nodes-base.stickyNote","position":[528,656],"typeVersion":1,"id":"0cf0bec6-87ad-4cb4-a3de-8568590d8a1d","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.data[\"Ready to proceed to next step ?\"] }}","rightValue":"=Yes","operator":{"type":"string","operation":"contains"},"id":"eee3eaf1-fa5a-4657-afe7-c6d96868c0f4"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5ddb7186-035e-4f4e-b9ee-b55482abfa82","leftValue":"={{ $json.data[\"Ready to proceed to next step ?\"] }}","rightValue":"Provide Feedback","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","ignoreCase":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[976,352],"id":"4cd148a0-691c-4346-aeb0-f111ea524b48","name":"Switch"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Please provide article or blog data :*\n🔗 *URL:* {{ $('Field Mapping').item.json.url }}","responseType":"freeText","options":{"messageButtonLabel":"Add Article Content","responseFormTitle":"Please provide article or blog data","responseFormDescription":"={{ $('Field Mapping').item.json.url }}"}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[336,960],"id":"5b4a62af-e791-4da8-be7c-e85cbabd2627","name":"Manual Article Content","webhookId":"8fd22e19-f612-464f-94de-bc1a2219f594","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"text":"=You are a professional AI research editor and content analyst. Your task is to process news or blog articles that may be provided in **HTML**, **Markdown**, or **plain text** format according to strict editorial and data integrity standards.\n\nFollow these protocols EXACTLY:\n\n---\n\n## 🔒 Accuracy Control Protocol (MANDATORY)\n1. Do NOT search for alternative sources.\n2. Do NOT summarize partial or unavailable content.\n3. Do NOT generate or infer missing details.\n\n---\n\n## 🧩 Article Summary Standards\n**Summary Specifications:**\n- 3–4 sentences per article\n- Focus strictly on factual content, key findings, and main conclusions\n- Avoid editorial opinions or speculative tone\n- Include specific statistics, methodologies, or technical details when mentioned\n\n**Business Relevance Specifications:**\n- 2–3 sentences per article\n- Explain the broad business or strategic relevance across industries\n- Consider an audience of solopreneurs and SMB professionals (without naming them)\n- Emphasize practical implications for decision-making, operations, or strategy\n- Avoid technical or industry-specific jargon\n\n---\n\n## 🧠 Data Integrity Standards\n- Extract only verified information directly from the article\n- Quote or cite exact statistics or claims when possible\n- Flag unverifiable data explicitly (e.g., “Statistic requires verification”)\n- Do NOT fabricate, infer, or supplement from external knowledge\n- Well-established general knowledge does NOT require verification\n\n---\n\n{{ $json.aggregatedFeedback \n  ? \"## 💬 Editorial Improvement Context (From Prior Feedback)\\nThe following editorial preferences and improvement notes should guide your tone, structure, and summarization style in this and future outputs:\\n\\n\" + $json.aggregatedFeedback + \"\\n\\nUse this feedback to adjust language, flow, and focus — without altering factual accuracy or deviating from the core standards above.\\n\"\n  : \"\" }}\n\n---\n\n## 🧾 Output Format (MANDATORY)\nReturn clean plain text output (no markdown or bullet points) in this format:\n\nURL: [article URL]  \nTitle: [article title]  \nSummary: [3–4 sentence factual summary following Article Summary Standards]  \nBusiness Relevance: [2–3 sentence business relevance commentary following the same standards]\n\n---\n\nNow process the following content accordingly. The input may be **HTML**, **Markdown**, or **plain text** — automatically detect the format. If the content cannot be fully accessed, follow the Accuracy Control Protocol.\n\nkeep the output format consistent as plain text and not JSON object.\n\nInput:\n{{ $json.chatInput }}","attributes":{"attributes":[{"name":"data","description":"Fetch blog data from page HTML"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1232,960],"id":"5cd89cd3-3e64-40a8-8704-9be29e154d93","name":"Generate Data using LLM","onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"messageType":"block","blocksUi":"={{ JSON.stringify($json.blocks ?? []) }}","text":"={{ $json.feedback }}","otherOptions":{"mrkdwn":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[576,384],"id":"cb2f2c92-370b-4338-8a51-f7128067354b","name":"Share summarized content","webhookId":"06dd2d7a-bf80-4de5-8219-357b90791cd7","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*All articles have been successfully summarized.*","responseType":"customForm","formFields":{"values":[{"fieldLabel":"=Ready to proceed to next step ?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"Provide Feedback"},{"option":"Restart Chat"}]},"requiredField":true}]},"options":{"messageButtonLabel":"Proceed to Next Steps","responseFormTitle":"=Proceed to next step","responseFormDescription":"All articles have been successfully summarized."}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[784,384],"id":"b317853a-dc46-4ddb-9d4a-7f10b291334e","name":"Next steps selection","webhookId":"060bfdef-d176-43ed-9cc7-55612335beef","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Please provide feedback to improve summarized content*","responseType":"freeText","options":{"messageButtonLabel":"Add feedback","responseFormTitle":"Feedback Form","responseFormDescription":"Please provide feedback to improve summarized content"}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1296,320],"id":"1bfb7b86-b604-49e3-867a-50a1664120d8","name":"Feedback form","webhookId":"4325aa27-cdf5-4b80-883e-6a7ca8e55729","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"jsCode":"// --- STEP 1: Get input data ---\n//const input = $('Re-Generate Data using LLM').first().json.output?.data\nlet input = '';\nconst newsletter = $('Field Mapping').first().json.newsletter_id;\nconst fieldMappingItems = $('Field Mapping').all().map(i => i.json);\n\ntry {\n  const nodeData = $('Re-Generate Data using LLM').first();\n  input = nodeData?.json?.output?.data || '';\n} catch (error) {\n  input = ''; // fallback if node doesn't exist\n}\n\nconst industryNewsByUrl = fieldMappingItems.reduce((acc, item) => {\n  const url = item.url?.trim();\n  if (!url) return acc;\n\n  acc[url] = Boolean(item.industry_news);\n  return acc;\n}, {});\n\nif (input) {\n  const articleRegex = /\\*(\\d+)\\.\\s(.+?)\\*\\n\\*URL:\\*\\s(https?:\\/\\/\\S+)\\n\\n\\*Summary:\\*\\n([\\s\\S]*?)\\n\\n\\*Business Relevance:\\*\\n([\\s\\S]*?)(?=\\n──────────────────────────────|\\n*$)/g;\n\n  const articles = [];\n  let match;\n  while ((match = articleRegex.exec(input)) !== null) {\n    const [, index, title, url, summary, business] = match;\n    const order = index;\n    const newsletter_id = newsletter;\n    const formattedSlack = `*${index}. ${title}*\\n*URL:* ${url}\\n\\n*Summary:*\\n${summary}\\n\\n*Business Relevance:*\\n${business}\\n──────────────────────────────\\n\\n`;\n\n    articles.push({\n      URL: url,\n      Title: title,\n      Summary: summary,\n      BusinessRelevance: business,\n      formattedSlack,\n      order,\n      newsletter_id,\n      industry_news: industryNewsByUrl[url] ?? false\n    });\n  }\n\n\n  return [\n    {\n      json: {\n        articles,\n      }\n    }\n  ]; \n}\n\n\n// Take the first (and only) input item\nconst articles = $('Format output').first().json.articles;\n\n// Map each article to its own item\nreturn articles.map(article => {\n  return { json: article };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,128],"id":"c2e25532-03b4-4db2-8c6b-e5934c53d0b7","name":"Final summarized content"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_SUMMARY_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1312,1184],"id":"0fd347e9-6961-4963-91b7-3e05a21612f5","name":"OpenRouter content generator model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_SUMMARY_REGENERATION_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1664,544],"id":"0a8c6fc0-8890-4bef-be13-38dfab5d3892","name":"OpenRouter feedback update generator model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"text":"=You are a professional content editor AI. \nThe original content is below:\n{{ $('Format output').item.json.text }}\n\nThe user has provided feedback as follows:\n{{ $json.data.text }}\n\nPlease revise the content to incorporate the feedback. Maintain the formatting of the original content.\n\nMaintain these protocols EXACTLY:\n\n---\n\n## 🔒 Accuracy Control Protocol (MANDATORY)\n1. Do NOT search for alternative sources.\n2. Do NOT summarize partial or unavailable content.\n3. Do NOT generate or infer missing details.\n4. Incorporate ONLY the requested feedback. Do NOT rewrite, expand, or regenerate other sections unless the feedback directly requires it.\n\n---\n\n## 🧩 Article Summary Standards\n**Summary Specifications:**\n- 3–4 sentences per article\n- Focus strictly on factual content, key findings, and main conclusions\n- Avoid editorial opinions or speculative tone\n- Include specific statistics, methodologies, or technical details when mentioned\n\n**Business Relevance Specifications:**\n- 2–3 sentences per article\n- Explain the broad business or strategic relevance across industries\n- Consider an audience of solopreneurs and SMB professionals (without naming them)\n- Emphasize practical implications for decision-making, operations, or strategy\n- Avoid technical or industry-specific jargon\n\n---\n\n## 🧠 Data Integrity Standards\n- Extract only verified information directly from the article\n- Quote or cite exact statistics or claims when possible\n- Flag unverifiable data explicitly (e.g., “Statistic requires verification”)\n- Do NOT fabricate, infer, or supplement from external knowledge\n- Well-established general knowledge does NOT require verification","attributes":{"attributes":[{"name":"data","description":"Cater user feedback and output"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1584,320],"id":"9f46648a-7272-4824-b1c1-fa402aeaff9b","name":"Re-Generate Data using LLM","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// --- STEP 1: Get and validate input data ---\n//const input = $input.first().json;\nconst input = $('Aggregate').first().json;\nconst newsletter = $('Field Mapping').first().json.newsletter_id;\nconst fieldMappingItems = $('Field Mapping').all().map(i => i.json);\n\nif (!input.data || !Array.isArray(input.data) || input.data.length === 0) {\n  throw new Error(\"No valid data array found in input.\");\n}\n\nconst industryNewsByUrl = fieldMappingItems.reduce((acc, item) => {\n  const url = item.url?.trim();\n  if (!url) return acc;\n\n  acc[url] = Boolean(item.industry_news);\n  return acc;\n}, {});\n\n// --- STEP 2: Parse and format each article entry ---\nconst articles = input.data.map((entry, index) => {\n  const urlMatch = entry.match(/URL:\\s*(.+)/);\n  const titleMatch = entry.match(/Title:\\s*(.+)/);\n  const summaryMatch = entry.match(/Summary:\\s*([\\s\\S]*?)Business Relevance:/);\n  const businessMatch = entry.match(/Business Relevance:\\s*([\\s\\S]*)$/);\n\n  const url = urlMatch ? urlMatch[1].trim() : \"N/A\";\n  const title = titleMatch ? titleMatch[1].trim() : \"Untitled\";\n  const summary = summaryMatch ? summaryMatch[1].trim() : \"No summary available.\";\n  const business = businessMatch ? businessMatch[1].trim() : \"No business relevance available.\";\n  const order = index + 1;\n  const newsletter_id = newsletter;\n\n  const formattedSlack = `*${index + 1}. ${title}*\\n` +\n    `*URL:* ${url}\\n\\n` +\n    `*Summary:*\\n${summary}\\n\\n` +\n    `*Business Relevance:*\\n${business}\\n` +\n    `──────────────────────────────\\n\\n`;\n\n  return {\n    URL: url,\n    Title: title,\n    Summary: summary,\n    BusinessRelevance: business,\n    formattedSlack,\n    order,\n    newsletter_id,\n    industry_news: industryNewsByUrl[url] ?? false\n  };\n});\n\n// --- STEP 3: Build combined Markdown text (for plain Slack message) ---\nconst combinedText = `*📰 Article Summaries for Review*\\n\\n_Total Articles:_ ${articles.length}\\n\\n${articles.map(a => a.formattedSlack).join('\\n\\n')}`;\n\n// --- STEP 4: Build Slack Block Kit structure ---\nconst blocks = [\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*📰 Article Summaries for Review*\\n\\n_Total Articles:_ ${articles.length}`\n    }\n  },\n  { type: \"divider\" },\n  ...articles.flatMap((a, index) => [\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text:\n          `*${index + 1}. ${a.Title}*\\n` +\n          `*URL:* ${a.URL}\\n\\n` +\n          `*Summary:*\\n${a.Summary}\\n\\n` +\n          `*Business Relevance:*\\n${a.BusinessRelevance}`\n      }\n    },\n    { type: \"divider\" }\n  ])\n];\n\n// --- STEP 5: Convert blocks to single text for \"Send message and wait for response\" ---\nconst message = blocks\n  .map(b => b.text?.text || '')\n  .filter(Boolean)\n  .join('\\n──────────────────────────────\\n\\n');\n\n// --- STEP 6: Return combined output ---\nreturn [\n  {\n    json: {\n      articleCount: articles.length,\n      articles,\n      text: combinedText, // fallback full text\n      blocks,             // structured Slack Block Kit\n      message             // flattened message for \"Send message and wait for response\"\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,416],"id":"1be0f14f-809f-4a1e-8bfe-84aac32ca5dc","name":"Format output"},{"parameters":{"text":"=You are an AI assistant that converts raw user feedback into a short, structured summary \nthat can be stored as learning data for future content improvement.\n\nYou will be given:\n- The original *input text* (the content or article summary prompt),\n- The *model output* that was generated,\n- The *user’s feedback*.\n\nYour goal:\n1. Summarize the key points of the user's feedback into clear, actionable insights.\n2. Keep the summary short (2–3 sentences max).\n3. Focus on what should be improved next time (e.g., tone, accuracy, length, structure, detail).\n4. If feedback is unclear or generic (like “good” or “bad”), infer the likely intent from the input and output context.\n\n---\n\n### Feedback Data\n**User Feedback:**\n{{ $('Feedback form').item.json.data.text }}\n\n**Input Provided:**\n{{ $('Format output').item.json.text }}\n\n**Model Output:**\n{{ $json.output.data }}\n\n---\n\n### Expected Output\nReturn only a concise structured learning note in JSON format like this:\n\n{\n  \"learning_feedback\": \"Future responses should provide shorter, more focused summaries emphasizing factual accuracy and concise language.\"\n}","attributes":{"attributes":[{"name":"learning_feedback","description":"Provide a concise feeback to use in learning data"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1936,320],"id":"e6e9b40b-b080-4249-bf02-b317c0d98bfd","name":"Learning data extractor","onError":"continueErrorOutput"},{"parameters":{"model":"={{ $('LLM Global Config').first().json.LLM_SUMMARY_LEARNING_DATA_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2016,544],"id":"e96acb32-14cd-4e9e-8ae4-4a59e3e047bf","name":"Learning data process model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"summarization_user_feedback","mode":"list","cachedResultName":"summarization_user_feedback"},"columns":{"mappingMode":"defineBelow","value":{"feedback_text":"={{ $json.output.learning_feedback }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"feedback_text","displayName":"feedback_text","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2288,448],"id":"d416c401-86f2-47e3-ad40-48ec07d0c798","name":"Insert user feedback","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summarization_user_feedback","mode":"list","cachedResultName":"summarization_user_feedback"},"limit":40,"sort":{"values":[{"column":"created_at","direction":"DESC"}]},"options":{"outputColumns":["feedback_text"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[784,880],"id":"49f2d96d-34eb-415b-804f-c41de10bf557","name":"Fetch learning data","alwaysOutputData":true,"credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"jsCode":"// --- Get Markdown content safely ---\nconst markdownNode = $('Markdown').first();\nconst chatInput = markdownNode?.json?.chatInput || '';\n\n// --- Gather all feedback entries ---\nconst feedbackArray = $input.all()\n  .map(item => item.json.feedback_text)\n  .filter(f => f && f.trim() !== '');\n\n// --- Combine feedback into a bullet-style list ---\nconst aggregatedFeedback = feedbackArray.length\n  ? feedbackArray.map(f => `• ${f}`).join('\\n')\n  : '';\n\n// --- Return both for use in LLM prompt ---\nreturn [\n  {\n    json: {\n      aggregatedFeedback,\n      chatInput,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,880],"id":"fc27924d-9952-4468-aba5-a5c2d95a5ddf","name":"Aggregate Feedback","alwaysOutputData":true},{"parameters":{"jsCode":"let original_text = null;\nlet re_generated_text = null;\nlet switch_value = null;\nlet hasIntroduction = null;\nlet feedback = null;\n\ntry {\n  original_text = $('Format output').first().json.text;\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\ntry {\n  re_generated_text = $('Re-Generate Data using LLM').first().json.output.data;\n  hasIntroduction = re_generated_text.includes('Article Summaries for Review');\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\ntry {\n  switch_value = $('Switch').first().json.data[\"Ready to proceed to next step ?\"];\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\nlet text;\n\nif (switch_value && String(switch_value).trim().toLowerCase() !== 'yes' && String(switch_value).trim().toLowerCase() !== 'provide feedback' ) {\n  text = original_text;\n} else {\n  text = re_generated_text ?? original_text;\n}\n\nif (re_generated_text && !hasIntroduction) {\n  feedback = re_generated_text;\n  text = original_text;\n} else {\n  feedback = text;\n}\n\nif (switch_value && String(switch_value).trim().toLowerCase() === 'restart chat') {\n  feedback = text;\n}\n\nreturn [{ json: { text, feedback } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,384],"id":"accc98a8-27ba-431b-88fc-d4c6563fca3c","name":"Conditional output"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=*Execution Stopped at the Summarization step, due to the following error :* {{ $json.error }} *, reach out to the concerned person to resolve the issue.*","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1584,1056],"id":"8971b06f-e1c8-4fd8-b94d-24a7c67694d9","name":"Error Output","webhookId":"a6b1cc11-a3b0-48d0-adf9-dbb943e88899","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"errorMessage":"An error occured at the Summarization Step"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1792,1056],"id":"79e531f6-b318-4485-8a82-23e5726345fa","name":"Stop and Error"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"curated_articles","mode":"list","cachedResultName":"curated_articles"},"columns":{"mappingMode":"defineBelow","value":{"approved":false,"newsletter_id":"N20251226"},"matchingColumns":["newsletter_id"],"schema":[{"id":"url","displayName":"url","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publish_date","displayName":"publish_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"approved","displayName":"approved","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origin","displayName":"origin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"newsletter_id","displayName":"newsletter_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2256,-496],"id":"ea0f0e88-e494-496e-9316-7cde14fd2c5a","name":"Update rows in a table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"O5I7T1oioeIBv0j4","mode":"list","cachedResultUrl":"/workflow/O5I7T1oioeIBv0j4","cachedResultName":"LLM Global Config [UTIL]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1136,400],"id":"0a9c6467-3ccd-4fd0-bd66-1efdd8e92c0d","name":"LLM Global Config"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"*Looking into articles now and starting summarization...*","otherOptions":{"sendAsUser":"n8n-is2"}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-960,400],"id":"00398de5-dd57-498b-8728-1440d2e9864f","name":"User Update","webhookId":"8e73e4d4-6323-4bda-a655-596f1f11029a","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}}],"connections":{"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Fetch Page Content","type":"main","index":0}]]},"Insert into table":{"main":[[{"node":"Check DB Insert status","type":"main","index":0}]]},"Field Mapping":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Structure SQL Insert Query","type":"main","index":0}]]},"Workflow Initiated":{"main":[[{"node":"LLM Global Config","type":"main","index":0}]]},"Manually Initiated":{"main":[[{"node":"LLM Global Config","type":"main","index":0}]]},"Create table":{"main":[[{"node":"Insert into table","type":"main","index":0}]]},"Fetch Data from Sheet":{"main":[[{"node":"Field Mapping","type":"main","index":0}]]},"Structure SQL Insert Query":{"main":[[{"node":"Create table","type":"main","index":0}]]},"Fetch Page Content":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Markdown","type":"main","index":0}],[{"node":"Manual Article Content","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Fetch learning data","type":"main","index":0}]]},"Check DB Insert status":{"main":[[],[{"node":"Structure SQL Insert Query","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Format output","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Final summarized content","type":"main","index":0}],[{"node":"Feedback form","type":"main","index":0}],[{"node":"Conditional output","type":"main","index":0}]]},"Manual Article Content":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Generate Data using LLM":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Share summarized content":{"main":[[{"node":"Next steps selection","type":"main","index":0}]]},"Next steps selection":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Feedback form":{"main":[[{"node":"Re-Generate Data using LLM","type":"main","index":0}]]},"OpenRouter content generator model":{"ai_languageModel":[[{"node":"Generate Data using LLM","type":"ai_languageModel","index":0}]]},"OpenRouter feedback update generator model":{"ai_languageModel":[[{"node":"Re-Generate Data using LLM","type":"ai_languageModel","index":0}]]},"Re-Generate Data using LLM":{"main":[[{"node":"Learning data extractor","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Format output":{"main":[[{"node":"Conditional output","type":"main","index":0}]]},"Learning data extractor":{"main":[[{"node":"Insert user feedback","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Learning data process model":{"ai_languageModel":[[{"node":"Learning data extractor","type":"ai_languageModel","index":0}]]},"Fetch learning data":{"main":[[{"node":"Aggregate Feedback","type":"main","index":0}]]},"Aggregate Feedback":{"main":[[{"node":"Generate Data using LLM","type":"main","index":0}]]},"Insert user feedback":{"main":[[{"node":"Conditional output","type":"main","index":0}]]},"Final summarized content":{"main":[[]]},"Conditional output":{"main":[[{"node":"Share summarized content","type":"main","index":0}]]},"Error Output":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"LLM Global Config":{"main":[[{"node":"User Update","type":"main","index":0}]]},"User Update":{"main":[[{"node":"Fetch Data from Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ca2dabc0-f57b-4771-95cc-7480680cb895","activeVersionId":"ca2dabc0-f57b-4771-95cc-7480680cb895","versionCounter":44,"triggerCount":0,"tags":[{"updatedAt":"2025-11-03T18:15:45.913Z","createdAt":"2025-11-03T18:15:45.913Z","id":"bcTdLeX8iw08B3pC","name":"summarization"}],"shared":[{"updatedAt":"2025-11-03T18:14:15.387Z","createdAt":"2025-11-03T18:14:15.387Z","role":"workflow:owner","workflowId":"ScFeCWBc1yqWBUsD","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null}}]}]