_n8n-project/workflows/SUB/theme_generation_subworkflow.json
[{"updatedAt":"2026-01-08T08:40:49.243Z","createdAt":"2025-11-06T19:38:16.579Z","id":"GsUsHGEbssqrS05W","name":"Theme Generation & Selection [Sub-Workflow]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1648,-464],"id":"433178e5-49ae-4a5e-b03e-233e9106f792","name":"Workflow Initiated"},{"parameters":{"jsCode":"let switch_value = null;\n\ntry {\n  switch_value = $('Switch').first().json.data[\"Ready to proceed to next step ?\"];\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\nif (String(switch_value).trim().toLowerCase() == 'Provide Feedback' ) {\n  $input.first().json.text = \"*📰 AI Generated Themes for Review with User feedback*\";\n}\n\nconst themes = $input.first().json.themes;\n\n// Build the options list\nconst options = themes.map(theme => ({\n  option: \"THEME: \" + theme.theme\n}));\n\n// Add the static final option\noptions.push({ option: \"Add Feedback\" });\n\n// Make a form.\n$input.first().json.approve_form = [\n  {\n    fieldLabel: \"Newsletter Theme or Feedback\",\n    fieldType: \"radio\",\n    fieldOptions: {\n      values: options\n    }\n  },\n  {\n    \"fieldLabel\": \"Editor Feedback for AI\",\n    \"fieldType\": \"textarea\"\n  }\n];\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-560],"id":"ec9bcf14-e11f-4e30-9bf5-3151510144ee","name":"Conditional output"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"={{ $json.text  }} {{ $json.message }}","otherOptions":{"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1072,-560],"id":"5d4afa27-90d9-4793-a78c-87ae453c44c0","name":"Output Generated Themes","webhookId":"06dd2d7a-bf80-4de5-8219-357b90791cd7","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"text":"=You are a professional AI research editor and content analyst. Your task is to process the summaries of articles that may be provided in **JSON** format.\n\nStart by reviewing the article summaries, reading \"Title\", \"Summary\", \"BusinessRelevance\", \"Order\" fields for each item in json\n\nBased on that data create a and output viable two themes that meet all content distribution and source mix requirements and specifications listed next.\n\n\nFollow these protocols EXACTLY:\n\n---\n\n## 🔒 Accuracy Control Protocol (MANDATORY)\n1. Do NOT search for alternative sources.\n2. Do NOT generate or infer missing details.\n2. Use ONLY provided data in the json format.\n3. If in the json source, items have field \"industry_news\" equal to \"true\" use that items to fill %I1_TITLE,%I1_SOURCE,%I1_ORIGIN,%I1_URL,%I1_Major AI Player and %I2_TITLE,%I2_SOURCE,%I2_ORIGIN,%I2_URL,%I2_Major AI Player as instructed below \n---\n\n{{ $input.first().json.aggregatedFeedback \n  ? \"## 💬 Editorial Improvement Context (From Prior Feedback)\\nThe following editorial preferences and improvement notes should guide your tone, structure, and theme style in this and future outputs:\\n\\n\" + $json.aggregatedFeedback + \"\\n\\nUse this feedback to adjust language, flow, and focus — without altering factual accuracy or deviating from the core standards above.\\n\"\n  : \"\" }}\n\n---\n\n\n## 🧾 Output Format (MANDATORY)\nReturn clean plain text output (no markdown or bullet points or colon) in this format for each createda  theme, do not duplicate titles for themes, do not rename THEME: subjects\n\nTHEME: [theme main title]\nTheme Description: [1–3 sentence factual summary following core narrative]\n\nArticles that fit. \nFEATURED ARTICLE: \n%FA_TITLE: [Pick best suitable title of an article from the json source]\n%FA_SOURCE: [Print here order number from json file for this item]\n%FA_ORIGIN: [Print here name of author of this summary, take it from different sources or url]\n%FA_URL: [Print here url from json file for this item]\n%FA_CATEGORY: [Make and print category for this item using related summary]\n%FA_WHY FEATURED:[Shortly explain why you have picked this title]\n\n%M1_TITLE: [Pick best suitable title of an article from the json source]\n%M1_SOURCE: [Print here order number from json file for this item]\n%M1_ORIGIN: [Print here name of author of this summary, take it from different sources or url]\n%M1_URL: [Print here url from json file for this item];\n%M1_CATEGORY: [Make and print category for this item using related summary]\n%M1_RATIONALE: [Make and print a rationale description]\n\n%M2_TITLE: [Pick best suitable title of an article from the json source]\n%M2_SOURCE: [Print here order number from json file for this item]\n%M2_ORIGIN: [Print here name of author of this summary, take it from different sources or url]\n%M2_URL: [Print here url from json file for this item]\n%M2_CATEGORY: [Make and print category for this item using related summary]\n%M2_RATIONALE: [Make and print a rationale description]\n\n%Q1_TITLE: [Pick best suitable title of an article from the json source]\n%Q1_SOURCE: [Print here order number from json file for this item]\n%Q1_ORIGIN: [Print here name of author of this summary, take it from different sources or url]\n%Q1_URL: [Print here url from json file for this item]\n%Q1_CATEGORY: [Make and print category for this item using related summary]\n\n%Q2_TITLE: [Pick best suitable title of an article from the json source]\n%Q2_SOURCE: [Print here order number from json file for this item]\n%Q2_ORIGIN: [Print here name of author of this summary, take it from different sources or url]\n%Q2_URL: [Print here url from json file for this item]\n%Q2_CATEGORY: [Make and print category for this item using related summary]\n\n%Q3_TITLE: [Pick best suitable title of an article from the json source]\n%Q3_SOURCE: [Print here order number from json file for this item]\n%Q3_ORIGIN: [Print here name of author of this summary, take it from different sources or url]\n%Q3_URL: [Print here url from json file for this item]\n%Q3_CATEGORY: [Make and print category for this item using related summary]\n\n%I1_TITLE: [Pick best suitable title of an article from the json source]\n%I1_SOURCE: [Print here order number from json file for this item]\n%I1_ORIGIN: [Print here name of author of this summary, take it from different sources or url]\n%I1_URL: [Print here url from json file for this item]\n%I1_Major AI Player: [List Major AI Player for this article]\n\n%I2_TITLE: [Pick best suitable title of an article from the json source]\n%I2_SOURCE: [Print here order number from json file for this item]\n%I2_ORIGIN: [Print here name of author of this summary, take it from different sources or url]\n%I2_URL: [Print here url from json file for this item]\n%I2_Major AI Player: [List Major AI Player for this article]\n\n2-2-2 Distribution:\n%222_tactical:% ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title or article from the json source as for tactical theme], ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title or article from the json source as for tactical theme]\n%222_educational:% ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title or article from the json source as for educational theme], ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title or article from the json source as for educational theme]\n%222_forward-thinking:% ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title or article from the json source as for forward thinking], ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title or article from the json source as for forward thinking]\n\nSource mix:\n%SM_smaller_publisher:% [print here at least one and maximum 2, small publisher names related to the author of of the summary and Source number from JSON related to that item]\n%SM_major_ai_player_coverage:% [Create a short 1-3 word representation if the title of an article from the json source] (Source number)\n\nREQUIREMENTS VERIFIED,\n%RV_2-2-2 Distribution Achieved:% [Create a short 1-3 word representation if the title of an article from the json source and add source[order number] for 2 tactical subjects], [Create a short 1-3 word representation if the title of an article from the json source and add Source number for 2 educational subjects], [Create a short 1-3 word representation if the title of an article from the json source and add Source number for 2 forward-thinking subjects] \n%RV_Source mix:% ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title of an article from the json source]\n%RV_Technical complexity:% ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title of an article from the json source]\n%RV_Major AI player coverage:% ([Include order number from the json source, in this format Source number]) [Create a short 1-3 word representation if the title of an article from the json source]\n\nPut a separator string \"-----\" after each created theme.\n\nAs the final output, after generated themes, create a recomendation you theme to pick and use in this format.\n\nRECOMMENDATION: Theme [Put generated theme number] - [the theme name, generated above what you are recomend to use]\n\nRationale:\n\n[Using ordered list, output the name of the section from the theme, that you recommend, and shortly explain why, make ~5 section recommendations]\n\n[Describe using text only, 3-4 sentences, why we should pick this theme]\n\n\n---\n\nInput:\n{{ $input.first().json.summaries.toJsonString() }}","attributes":{"attributes":[{"name":"data","description":"Fetch blog data from page HTML"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-240,-464],"id":"ae721844-4c99-4b6f-be7e-278257f208da","name":"Generate Data using LLM","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"{{ $('Structure SQL Insert Query').item.json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4336,-2064],"id":"b4f82480-298f-4115-a482-1b4567950fae","name":"Insert into table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"\n// Build values.\nconst theme = $('Format theme output').first().json.selected_theme_title.replace(/'/g, \"''\"); // escape single quotes in text\nconst theme_body = $('Format theme output').first().json.selected_theme.theme_body.replace(/'/g, \"''\"); // escape single quotes in text\nconst theme_summary = $('Format theme output').first().json.selected_theme.theme_summary.replace(/'/g, \"''\"); // escape single quotes in text\n\n// Create default newsletter_id.\nconst newsletter_id = \"\";\n\n\ntry {\n  newsletter_id = $('Format theme output').first().json.summaries[0].json.newsletter_id;\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\nif (newsletter_id && newsletter_id == \"\") {\n  const now = $now; // $now is a Luxon DateTime object in n8n\n  const formattedDate = now.toFormat('ddMMyyyy');\n  const newsletter_id = `N${formattedDate}`;\n}\n\nconst approved = 'TRUE';  \nconst values = `('${theme}', '${theme_body}', '${theme_summary}', '${newsletter_id}', ${approved} ,CURRENT_TIMESTAMP)`;\n\n// Combine everything into a single safe SQL statement  ,\\n\nconst query = `\nINSERT INTO newsletter_themes (theme, theme_body, theme_summary, newsletter_id, approved, created_at)\nVALUES\n  ${values}\nON CONFLICT (theme)\nDO UPDATE SET\n  theme_body = EXCLUDED.theme_body,\n  theme_summary = EXCLUDED.theme_summary,\n  newsletter_id = EXCLUDED.newsletter_id,\n  created_at = CURRENT_TIMESTAMP;\n`;\n\nreturn [\n  {\n    json: { query: query.trim() }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3920,-2064],"id":"087140a9-5eef-4139-a016-965ddae01633","name":"Structure SQL Insert Query"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4d0d528-2f8a-46d5-a94b-b2a1c8fa84d6","leftValue":"={{ $json.success }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4560,-2080],"id":"9ad8dba6-dcf2-40d1-b0e1-7793d31ca3b6","name":"Check DB Insert status"},{"parameters":{"jsCode":"const input = $input.first().json.output.data;\n\nconst parts = input\n  .split('-----')\n  .map(p => p.trim())\n  .filter(p => p.length > 0);\n\nfunction extractTheme(block, filter) {\n\n  // Match THEME Summary: value (up to end of line)\n  if (filter == \"summary\") {\n    const match = block.match(/Theme Description\\s*:\\s*(.+)/i);\n    return match ? match[1].trim() : null;    \n  }\n  \n  // Match THEME: value (up to end of line)\n  const match = block.match(/THEME\\s*:\\s*(.+)/i);\n  return match ? match[1].trim() : null; \n}\n\n// Collect block that contain THEME\nconst recommendation = parts.filter(block =>\n  block.includes(\"RECOMMENDATION:\")\n);\n\n// Collect blocks that contain RECOMMENDATION\nconst themes_raw = parts.filter(block =>\n  !block.includes(\"RECOMMENDATION:\")\n);\n\n// Build array of objects from the filtered blocks\nconst result = themes_raw.map(block => ({\n  theme: extractTheme(block, \"theme\"),\n  theme_summary: extractTheme(block, \"summary\"),\n  theme_body: block\n}));\n\nreturn [{\n  \"themes\" : result,\n  \"recommendation\" : recommendation,  \n}];\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,-560],"id":"9c3cf8f9-dec4-4de0-94a9-515dd36186d5","name":"Prepare AI generated themes"},{"parameters":{"jsCode":"const themes = $input.first().json.themes;\nconst recommendation = $input.first().json.recommendation;\nconst combinedText = `*📰 AI Generated Themes for Review*`;\n\n// Prepare and format themes output.\nfunction formatTheme(block) {\n\n  block = block.replaceAll(/^%[A-Za-z0-9]{2}_URL[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%[A-Za-z0-9]{2}_RATIONALE[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%[A-Za-z0-9]{2}_ORIGIN[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%FA_TITLE:?/gm, \"• *Featured Candidate:* \");\n  block = block.replaceAll(/\\n%FA_SOURCE:?/gm, \"  (Source \");\n  block = block.replaceAll(/\\n%FA_CATEGORY:?/gm, \") - \");\n  block = block.replaceAll(/\\nFEATURED ARTICLE:?/gm, \"\");\n  block = block.replaceAll(/\\n%FA_WHY FEATURED:?/gm, \" - \");\n  block = block.replaceAll(/^%M1_TITLE:?/gm, \"• *Main Candidate 1:* \");\n  block = block.replaceAll(/\\n%M1_SOURCE:?/gm, \"  (Source \");\n  block = block.replaceAll(/\\n%M1_CATEGORY:?/gm, \") - \");\n  block = block.replaceAll(/^%M2_TITLE:?/gm, \"• *Main Candidate 2:* \");\n  block = block.replaceAll(/\\n%M2_SOURCE:?/gm, \"  (Source \");\n  block = block.replaceAll(/\\n%M2_CATEGORY:?/gm, \") - \");\n  block = block.replaceAll(/^%Q1_TITLE:?/gm, \"\\n• *Quick Hits Candidates:* \\n  •\");\n  block = block.replaceAll(/\\n%Q1_SOURCE:?/gm, \"  (Source \");\n  block = block.replaceAll(/\\n%Q1_CATEGORY:?/gm, \") - \");\n  block = block.replaceAll(/^%Q2_TITLE:?/gm, \"  •\");\n  block = block.replaceAll(/\\n%Q2_SOURCE:?/gm, \"  (Source \");\n  block = block.replaceAll(/\\n%Q2_CATEGORY:?/gm, \") - \");\n  block = block.replaceAll(/^%Q3_TITLE:?/gm, \"  •\");\n  block = block.replaceAll(/\\n%Q3_SOURCE:?/gm, \"  (Source \");\n  block = block.replaceAll(/\\n%Q3_CATEGORY:?/gm, \") - \");\n  block = block.replaceAll(/^%I1_TITLE:?/gm, \"\\n• *Industry Candidates:* \\n  •\");\n  block = block.replaceAll(/\\n%I1_SOURCE:?/gm, \"  (Source \");\n  block = block.replaceAll(/\\n%I1_Major AI Player:?/gm, \") - \");\n  block = block.replaceAll(/^%I2_TITLE:?/gm, \"  •\");\n  block = block.replaceAll(/\\n%I2_SOURCE:?/gm, \"  (Source \");\n  block = block.replaceAll(/\\n%I2_Major AI Player:?/gm, \") - \");\n  block = block.replaceAll(/^2-2-2 Distribution:?/gm, \"\\n *2-2-2 Distribution*\");\n  block = block.replaceAll(/%222_tactical:%?/gm, \"  • *Tactical:* \");\n  block = block.replaceAll(/%222_educational:%?/gm, \"  • *Educational:* \");\n  block = block.replaceAll(/%222_forward-thinking:%?/gm, \"  • *Forward-thinking:* \");\n  block = block.replaceAll(/^2-2-2 Distribution:?/gm, \"\\n*2-2-2 Distribution:*\");\n  block = block.replaceAll(/%222_tactical:%?/gm, \"  • *Tactical:* \");\n  block = block.replaceAll(/%222_educational:%?/gm, \"  • *Educational:* \");\n  block = block.replaceAll(/%222_forward-thinking:%?/gm, \"  • *Forward-thinking:* \");\n  block = block.replaceAll(/%SM_smaller_publisher:%?/gm, \"  • *Smaller Publisher:* \");\n  block = block.replaceAll(/%SM_major_ai_player_coverage:%?/gm, \"  • *Major AI Player Coverage:* \");\n  block = block.replaceAll(/REQUIREMENTS VERIFIED[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%RV_Major AI player coverage:[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%RV_Technical complexity:[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%RV_Source mix:[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%RV_2-2-2 Distribution Achieved:[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/Source mix:/gm, \"*Source mix:* \");  \n  block = block.replaceAll(/%[A-Za-z0-9]{2}_/gi, \"\");\n  block = block.replaceAll(/^THEME[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^Theme Description:?/gm, \"*Core Narrative:*\");\n  block = block.replaceAll(/^Articles that fit.?/gm, \"\\n*Articles that fit:*\");\n  return block; \n}\n\n// Prepare and format recommendation output.\nfunction formatRecommendation(text) {\n  let toFormatText = String(text ?? '');\n  toFormatText = toFormatText.replaceAll(/Rationale:/g, \"*Rationale:*\");\n  toFormatText = toFormatText.replaceAll(/(RECOMMENDATION:\\s*)([^\\n]+)/g, '$1*$2*');\n  toFormatText = toFormatText.replaceAll(/(\\d+\\.\\s*)(.+?)(?=:\\s|- )/g, '$1*$2*');\n  toFormatText = toFormatText.replaceAll(/%[A-Za-z0-9]{2}_/gi, \"\");\n  toFormatText = toFormatText.replaceAll(/%222_/gi, \"\");\n  \n  return toFormatText; \n}\n\nconst blocks = [\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n* Newsletter Text Themes: *\\n`\n    }\n  },\n  { type: \"divider\" },\n    ...themes.flatMap((a, index) => [\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text:\n          `*THEME ${index + 1}:* *${a.theme}*\\n\\n` +\n          `\\n${formatTheme(a.theme_body)}\\n\\n`\n      }\n    },\n    { type: \"divider\" },\n  ]),\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n${formatRecommendation(recommendation)}\\n`\n    }\n  },\n];\n\nlet message = blocks\n  .map(b => b.text?.text || '')\n  .filter(Boolean)\n  .join('\\n──────────────────────────────\\n\\n');\n\nreturn [\n  {\n    json: {\n      text: combinedText, // fallback full text\n      blocks,             // structured Slack Block Kit\n      message, // flattened message for \"Send message and wait for response\"\n      themes: themes\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-560],"id":"cd47503a-5b7c-4cb5-9859-3c6facdd2bff","name":"Format output"},{"parameters":{"jsCode":"// --- Get Initial Data ---\nconst combinedText = `*📰 AI Generated Themes for Review*`;\nlet freshFeedback = null;\nlet inputChatData = '';\nlet inputChatDataSummary = [];\nlet resetTriggered = null;\nlet inputData = [];\n\ntry {\n  inputData = $('Workflow Initiated').all();\n} catch (error) {}\n\nlet inputSummaries = inputData;\n\n// Check if we have input from the chat.\ntry {\n  inputChatData = $('When chat message received').first().json.chatInput;\n  inputChatDataSummary = JSON.parse(inputChatData);\n} catch (error) {}\n\n// Take summaries from the Chat input\n\nif (Array.isArray(inputChatDataSummary) && inputChatDataSummary.length > 0 && inputChatDataSummary[0]?.newsletter_id !== '' ) {\n  inputSummaries = inputChatDataSummary;\n}\n\n// --- Gather all feedback entries ---\nconst feedbackArray = $input.all()\n  .map(item => item.json.feedback_text)\n  .filter(f => f && f.trim() !== '');\n\n// --- Combine feedback into a bullet-style list ---\nlet aggregatedFeedback = feedbackArray.length\n  ? feedbackArray.map(f => `• ${f}`).join('\\n')\n  : '';\n\n// --- Inject fresh user feedback\ntry {\n  freshFeedback = $('Switch').first().json.data[\"Editor Feedback for AI\"];\n} catch (e) {}\n\nif (freshFeedback && freshFeedback !== '') {\n  aggregatedFeedback = '\\n• ' + freshFeedback + '\\n'\n}\n\n// --- Check if reset was triggered.\ntry {\n  resetTriggered = $input.first().json.data[\"Approve or Feedback\"];\n} catch (e) {}\n\n// If the Reset was triggered - clear all feedbacks.\nif (resetTriggered && resetTriggered !== '') {\n  aggregatedFeedback = '';\n}\n\nreturn [\n  {\n    json: {\n      text: combinedText,\n      aggregatedFeedback: aggregatedFeedback,\n      summaries: inputSummaries,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-464],"id":"44750852-7aaf-489f-abea-9730c318154b","name":"Process User Feedback"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"newsletter_themes_user_feedback","mode":"list","cachedResultName":"newsletter_themes_user_feedback"},"columns":{"mappingMode":"defineBelow","value":{"feedback_text":"={{ $json.output.learning_feedback }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"feedback_text","displayName":"feedback_text","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2368,-256],"id":"76838302-c23b-4be3-8ee5-57738ffb2bca","name":"Insert user feedback","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*Please select whitch theme you'd like to develop, or let me know if you'd like to explore other thematic angles.*","responseType":"customForm","defineForm":"json","jsonOutput":"={{ $('Conditional output').item.json.approve_form.toJsonString() }}","options":{"messageButtonLabel":"Select  Theme or Submit Feedback","responseFormTitle":"Proceed to next step","responseFormDescription":"All Themes have been successfully created."}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1280,-560],"id":"4444921f-802b-4d96-9355-a4927d037d95","name":"Select theme or submit feedback","webhookId":"060bfdef-d176-43ed-9cc7-55612335beef","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"newsletter_themes_user_feedback","mode":"list","cachedResultName":"newsletter_themes_user_feedback"},"limit":40,"sort":{"values":[{"column":"created_at","direction":"DESC"}]},"options":{"outputColumns":["feedback_text"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-832,-464],"id":"4fc9c1b2-6c13-489f-9bda-e0c94dee5255","name":"Fetch learning data","alwaysOutputData":true,"credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"jsCode":"// Init\nconst themes = $('Conditional output').first().json.themes;\nconst userSelectedTheme = $('Switch').first().json.data[\"Newsletter Theme or Feedback\"];\nconst inputData = $('Process User Feedback').first().json.summaries;\n\nconst inputSummaries = inputData || [];\nlet selected_theme = null;\nconst checkAIFeedback = '';\n \n// Loop through array and separate\nfor (var theme of themes) {\n  const theme_name_formatted = \"THEME: \"+theme.theme;\n  if (theme_name_formatted == userSelectedTheme) {\n    selected_theme = theme;\n  }\n}\n\n// Check if we have processed feedback loop.\ntry {\n  const checkAIFeedback = $('Learning data extractor - theme approve').first().json.output.data;\n} catch (e) {\n  // Node possibly unexecuted; leave as null\n}\n\nif (checkAIFeedback && checkAIFeedback !== '') {\n  selected_theme.theme_body = checkAIFeedback;\n}\n\nreturn [\n  {\n    \"selected_theme_title\" : userSelectedTheme,\n    \"selected_theme\" : selected_theme,\n    \"summaries\" : inputSummaries\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-992],"id":"f200da8a-5e1b-4973-ad8f-1f7495d0b7f4","name":"Format theme output"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS newsletter_themes_user_feedback (\n  id SERIAL PRIMARY KEY,\n  feedback_text TEXT NOT NULL,\n  created_at TIMESTAMP DEFAULT NOW(),\n  newsletter_id TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1120,-464],"id":"8294e569-5e54-46bb-b46c-6872b6269077","name":"Create table UserFeedback","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS newsletter_themes (\n          theme TEXT PRIMARY KEY,\n          theme_body TEXT,\n          theme_summary TEXT,\n          newsletter_id TEXT,\n          approved BOOLEAN,\n          created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n        );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4128,-2064],"id":"c2b02212-8af1-4e7f-85b4-42e9d66fbb70","name":"Create table NewsletterThemes","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"text":"=You are an AI assistant that edit and review the text theme for a newsletter.\n\nYou will be given:\n- The *current text theme* that was generated,\n- The *user feedback*.\n- The *text summaries in JSON format that was used to generate the text theme*.\n\nYour goal:\n1. Analyze text newsletter theme.\n2. Apply user feedback or recomendations.\n3. Output current text newsletter theme after implementing given feedback or recomendations.\n4. If needed to edit or replace something in theme - user only data from summaries.\n5. Output MUST keep already used text stracture and formatting exactly, keeping lines, punctuation, markings.\n\n---\n\n### Data to analyze\n**Current text newsletter theme:**\n{{ $('Format theme output').item.json.selected_theme.theme_body }}\n\n**Given user feedback:**\n{{ $json.data[\"Editor Feedback for AI\"] }}\n\n**Summaries in JSON Format:**\n{{ $('Format theme output').item.json.summaries.toJsonString() }}\n\n---\n\n### Expected Output\nReturn as text result.","attributes":{"attributes":[{"name":"data","description":"Provide edited theme"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[3664,-1392],"id":"9abeab4e-2fe2-4420-9df2-b65f358b65b3","name":"Learning data extractor - theme approve","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Get theme body.\nconst theme_title = $('Format theme output').first().json.selected_theme_title;\nconst theme_body = $('Format theme output').first().json.selected_theme.theme_body;\n\nconst formatted_theme = {\n  \"THEME\" : theme_title,\n  \"FEATURED ARTICLE\" : {\n    \"Title\" : (theme_body.match(/%FA_TITLE:\\s*(.+)/) || [])[1] || null,\n    \"Source\" : (theme_body.match(/%FA_SOURCE:\\s*(.+)/) || [])[1] || null,\n    \"URL\" : (theme_body.match(/%FA_URL:\\s*(.+)/) || [])[1] || null,\n    \"Category\" : (theme_body.match(/%FA_CATEGORY:\\s*(.+)/) || [])[1] || null,\n    \"Why Featured\" : (theme_body.match(/%FA_WHY FEATURED:\\s*(.+)/) || [])[1] || null, \n  },\n  \"MAIN ARTICLE 1\" : {\n    \"Title\" : (theme_body.match(/%M1_TITLE:\\s*(.+)/) || [])[1] || null,\n    \"Source\" : (theme_body.match(/%M1_SOURCE:\\s*(.+)/) || [])[1] || null,\n    \"URL\" : (theme_body.match(/%M1_URL:\\s*(.+)/) || [])[1] || null,\n    \"Category\" : (theme_body.match(/%M1_CATEGORY:\\s*(.+)/) || [])[1] || null,\n  },\n  \"MAIN ARTICLE 2\" : {\n    \"Title\" : (theme_body.match(/%M2_TITLE:\\s*(.+)/) || [])[1] || null,\n    \"Source\" : (theme_body.match(/%M2_SOURCE:\\s*(.+)/) || [])[1] || null,\n    \"URL\" : (theme_body.match(/%M2_URL:\\s*(.+)/) || [])[1] || null,\n    \"Category\" : (theme_body.match(/%M2_CATEGORY:\\s*(.+)/) || [])[1] || null, \n  },\n  \"QUICK HIT 1\" : {\n    \"Title\" : (theme_body.match(/%Q1_TITLE:\\s*(.+)/) || [])[1] || null,\n    \"Source\" : (theme_body.match(/%Q1_SOURCE:\\s*(.+)/) || [])[1] || null,\n    \"URL\" : (theme_body.match(/%Q1_URL:\\s*(.+)/) || [])[1] || null,\n    \"Category\" : (theme_body.match(/%Q1_CATEGORY:\\s*(.+)/) || [])[1] || null, \n  },\n  \"QUICK HIT 2\" : {\n    \"Title\" : (theme_body.match(/%Q2_TITLE:\\s*(.+)/) || [])[1] || null,\n    \"Source\" : (theme_body.match(/%Q2_SOURCE:\\s*(.+)/) || [])[1] || null,\n    \"URL\" : (theme_body.match(/%Q2_URL:\\s*(.+)/) || [])[1] || null,\n    \"Category\" : (theme_body.match(/%Q2_CATEGORY:\\s*(.+)/) || [])[1] || null, \n  },\n  \"QUICK HIT 3\" : {\n    \"Title\" : (theme_body.match(/%Q3_TITLE:\\s*(.+)/) || [])[1] || null,\n    \"Source\" : (theme_body.match(/%Q3_SOURCE:\\s*(.+)/) || [])[1] || null,\n    \"URL\" : (theme_body.match(/%Q3_URL:\\s*(.+)/) || [])[1] || null,\n    \"Category\" : (theme_body.match(/%Q3_CATEGORY:\\s*(.+)/) || [])[1] || null, \n  },\n  \"INDUSTRY DEVELOPMENT 1\" : {\n    \"Title\" : (theme_body.match(/%I1_TITLE:\\s*(.+)/) || [])[1] || null,\n    \"Source\" : (theme_body.match(/%I1_SOURCE:\\s*(.+)/) || [])[1] || null,\n    \"URL\" : (theme_body.match(/%I1_URL:\\s*(.+)/) || [])[1] || null,\n    \"Major AI Player:\" : (theme_body.match(/%I1_Major AI Player:\\s*(.+)/) || [])[1] || null, \n  },\n  \"INDUSTRY DEVELOPMENT 2\" : {\n    \"Title\" : (theme_body.match(/%I2_TITLE:\\s*(.+)/) || [])[1] || null,\n    \"Source\" : (theme_body.match(/%I2_SOURCE:\\s*(.+)/) || [])[1] || null,\n    \"URL\" : (theme_body.match(/%I2_URL:\\s*(.+)/) || [])[1] || null,\n    \"Major AI Player:\" : (theme_body.match(/%I2_Major AI Player:\\s*(.+)/) || [])[1] || null, \n  },\n  \"REQUIREMENTS VERIFIED\" : {\n    \"2-2-2 Distribution Achieved\" : (theme_body.match(/%RV_2-2-2 Distribution Achieved:%\\s*(.+)/) || [])[1] || null,\n    \"Source mix\" : (theme_body.match(/%RV_Source mix:%\\s*(.+)/) || [])[1] || null,\n    \"Technical complexity\" : (theme_body.match(/%RV_Technical complexity:%\\s*(.+)/) || [])[1] || null,\n    \"Major AI player coverage\" : (theme_body.match(/%RV_Major AI player coverage:%\\s*(.+)/) || [])[1] || null,\n  }\n}\n\nreturn {\n  ...$('Format theme output').first().json,\n  \"formatted_theme\" : formatted_theme\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3920,-1712],"id":"8eda5412-3740-4fa8-85e8-c1a878ec4a31","name":"Selected Theme output"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"={{ $json.message }}","otherOptions":{"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2736,-1584],"id":"bf3c347b-cdc8-440c-a995-f5ee0563b08e","name":"Output Selected Theme","webhookId":"06dd2d7a-bf80-4de5-8219-357b90791cd7","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"content":"Fetch Summaries JSON and generated newsletter themes structure and content, output for a review and feedback  v1.","height":80,"width":608},"type":"n8n-nodes-base.stickyNote","position":[464,-736],"typeVersion":1,"id":"cea5d181-028d-4199-8eea-fba6eafea9d9","name":"Sticky Note"},{"parameters":{"content":"Saves the generated newsletter theme structure and content into the database.","height":80,"width":464},"type":"n8n-nodes-base.stickyNote","position":[4080,-2224],"typeVersion":1,"id":"cf0bfecd-1612-4a42-9af4-0db2a3de1a18","name":"Sticky Note1"},{"parameters":{"content":"Ask user for a selected theme confirmation","height":80,"width":336},"type":"n8n-nodes-base.stickyNote","position":[2768,-1744],"typeVersion":1,"id":"3e8e5e56-c268-4fda-b612-b3567ecd4c93","name":"Sticky Note2"},{"parameters":{"content":"Output JSON to the next automation step","height":80,"width":304},"type":"n8n-nodes-base.stickyNote","position":[3808,-1552],"typeVersion":1,"id":"11da6bec-f797-441d-99d5-2c27f7775804","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb8335e1-e08a-4443-8012-96ae11dd6018","leftValue":"={{ $json.data[\"Newsletter Theme or Feedback\"] }}","rightValue":"THEME","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1488,-560],"id":"c255dbda-3cd9-431a-81f7-be89e2841c64","name":"Switch"},{"parameters":{"text":"=I have created a text theme for my new newsletter,\nplease, check editorial freshness and if it's not repetitive to last newsletters,\n\nI will provide the text theme text and a link to site where you can find recent newsletters \n\nThe text theme\n---------------\n\n{{ $json.selected_theme.theme_body }}\n\n---------------\n\n\nLinks to my site, on that page, you can find links to recent newsletters, one 3 most recent, and check against them\n\nhttps://www.is2digital.com/newsletters\n\n---------------\n\nas final output - give your results for this task as a structured output, and tell what to change if needed, try to explain why ","attributes":{"attributes":[{"name":"data","description":"Freshness theme"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[2048,-1568],"id":"156906da-9fc0-445c-95e1-616638c105ee","name":"Freshness data extractor - theme freshness","onError":"continueErrorOutput"},{"parameters":{"content":"Check for Editorial Freshness","height":80,"width":224},"type":"n8n-nodes-base.stickyNote","position":[2048,-1744],"typeVersion":1,"id":"e06067ff-d8da-4008-b89c-5d40be7cfde3","name":"Sticky Note4"},{"parameters":{"jsCode":"const combinedText = `*📰 Selected Theme and Editorial freshness check*`;\nconst freshnessCheck = $input.first().json.output.data;\nconst selected_theme = $('Format theme output').first().json.selected_theme.theme;\nconst selected_theme_body = $('Format theme output').first().json.selected_theme.theme_body;\n\n\n// Prepare and format themes output.\nfunction formatTheme(block) {\n\n  block = block.replaceAll(/^THEME[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%[A-Za-z0-9]{2}_SOURCE[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^Theme Description:[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^Articles that fit.?/gm, \"\");\n  block = block.replaceAll(/\\n\\nFEATURED ARTICLE:/gm, \"*FEATURED ARTICLE:*\");\n  \n  block = block.replaceAll(/%FA_TITLE:/gm, \"*• Title:*\");\n  block = block.replaceAll(/%FA_ORIGIN:/gm, \"*• Source:*\");\n  block = block.replaceAll(/%FA_CATEGORY:/gm, \"*• Category:*\");\n  block = block.replaceAll(/%FA_URL:/gm, \"*• URL:*\");\n  block = block.replaceAll(/%FA_WHY FEATURED:/gm, \"*• Why featured:*\");\n  \n  block = block.replaceAll(/^%M1_TITLE:?/gm, \"\\n\\n*MAIN ARTICLE 1:*  \\n*• Title:*\");\n  block = block.replaceAll(/%M1_CATEGORY:?/gm, \"*• Category:*\");\n  block = block.replaceAll(/%M1_ORIGIN:/gm, \"*• Source:*\");\n  block = block.replaceAll(/%M1_URL:/gm, \"*• URL:*\");\n  block = block.replaceAll(/%M1_RATIONALE:/gm, \"*• Rationale:*\");\n  block = block.replaceAll(/^%M2_TITLE:?/gm, \"\\n\\n*MAIN ARTICLE 2:*  \\n*• Title:*\");\n  block = block.replaceAll(/%M2_CATEGORY:?/gm, \"*• Category:*\");\n  block = block.replaceAll(/%M2_ORIGIN:/gm, \"*• Source:*\");\n  block = block.replaceAll(/%M2_URL:/gm, \"*• URL:*\");\n  block = block.replaceAll(/%M2_RATIONALE:/gm, \"*• Rationale:*\");\n  \n  block = block.replaceAll(/^%Q1_TITLE:?/gm, \"\\n\\n*QUICK HIT ARTICLE 1:*  \\n*• Title:*\");\n  block = block.replaceAll(/%Q1_CATEGORY:?/gm, \"*• Category:*\");\n  block = block.replaceAll(/%Q1_ORIGIN:/gm, \"*• Source:*\");\n  block = block.replaceAll(/%Q1_URL:/gm, \"*• URL:*\");\n  block = block.replaceAll(/^%Q2_TITLE:?/gm, \"\\n\\n*QUICK HIT ARTICLE 2:*  \\n*• Title:*\");\n  block = block.replaceAll(/%Q2_CATEGORY:?/gm, \"*• Category:*\");\n  block = block.replaceAll(/%Q2_ORIGIN:/gm, \"*• Source:*\");\n  block = block.replaceAll(/%Q2_URL:/gm, \"*• URL:*\");\n  block = block.replaceAll(/^%Q3_TITLE:?/gm, \"\\n\\n*QUICK HIT ARTICLE 3:*  \\n*• Title:*\");\n  block = block.replaceAll(/%Q3_CATEGORY:?/gm, \"*• Category:*\");\n  block = block.replaceAll(/%Q3_ORIGIN:/gm, \"*• Source:*\");\n  block = block.replaceAll(/%Q3_URL:/gm, \"*• URL:*\");\n  \n  block = block.replaceAll(/^%I1_TITLE:?/gm, \"\\n\\n*INDUSTRY ARTICLE 1: *  \\n*• Title:*\");\n  block = block.replaceAll(/%I1_CATEGORY:?/gm, \"*• Category:*\");\n  block = block.replaceAll(/%I1_ORIGIN:/gm, \"*• Source:*\");\n  block = block.replaceAll(/%I1_URL:/gm, \"*• URL:*\");\n  block = block.replaceAll(/%I1_Major AI Player:?/gm, \"*Major AI Player:*\");\n  block = block.replaceAll(/^%I2_TITLE:?/gm, \"\\n\\n*INDUSTRY ARTICLE 2: *  \\n*Title:*\");\n  block = block.replaceAll(/%I2_CATEGORY:?/gm, \"*• Category:*\");\n  block = block.replaceAll(/%I2_ORIGIN:/gm, \"*• Source:*\");\n  block = block.replaceAll(/%I2_URL:/gm, \"*• URL:*\");\n  block = block.replaceAll(/%I2_Major AI Player:?/gm, \"*• Major AI Player:*\");\n  \n  block = block.replaceAll(/^2-2-2 Distribution:?/gm, \"\\n *2-2-2 DISTRIBUTION*\");\n  block = block.replaceAll(/%222_tactical:%?/gm, \"*• Tactical:* \");\n  block = block.replaceAll(/%222_educational:%?/gm, \"*• Educational:* \");\n  block = block.replaceAll(/%222_forward-thinking:%?/gm, \"*• Forward-thinking:* \");\n  block = block.replaceAll(/%SM_smaller_publisher:%?/gm, \"*• Smaller Publisher:* \");\n  block = block.replaceAll(/%SM_major_ai_player_coverage:%?/gm, \"*• Major AI Player Coverage:* \");\n  block = block.replaceAll(/^REQUIREMENTS VERIFIED:[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%RV_Major AI player coverage:%[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%RV_Technical complexity:%[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%RV_Source mix:%[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/^%RV_2-2-2 Distribution Achieved:%[^\\r\\n]*\\r?\\n?/gm, \"\");\n  block = block.replaceAll(/Source mix:/gm, \"*Source mix:* \");  \n  block = block.replaceAll(/%[A-Za-z0-9]{2}_/gi, \"\");\n\n  return block; \n}\n\nconst blocks = [\n  { type: \"divider\" },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n\\n\\n Selected theme: \\n`\n    }\n  },\n  { type: \"divider\" },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text:\n        `*FINAL ARTICLE SELECTIONS:*\\n` +\n        `*THEME:* ${selected_theme}\\n\\n` +\n        `\\n${formatTheme(selected_theme_body)}\\n\\n`\n    }\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n *AI-Generated Editorial Freshness Report* \\n`\n    }\n  },\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `\\n${freshnessCheck}\\n`\n    }\n  },\n];\n\nlet message = blocks\n  .map(b => b.text?.text || '')\n  .filter(Boolean)\n  .join('\\n──────────────────────────────\\n\\n');\n\nreturn [\n  {\n    json: {\n      text: combinedText, // fallback full text\n      blocks,             // structured Slack Block Kit\n      message // flattened message for \"Send message and wait for response\"\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,-1584],"id":"a2489ad5-117d-4f70-98d5-7f3684254f57","name":"Format output - Selected Theme"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1648,-208],"id":"e0ff35d1-b282-421f-b069-9079e4e96043","name":"When chat message received","webhookId":"77a223dd-8ceb-4962-81bf-0ffabd078d09"},{"parameters":{"text":"=You are an AI assistant that converts raw user feedback into a short, structured summary that can be stored as learning data for future content improvement.\n\nYou will be given:\n- The *model output* that was generated,\n- The *user’s feedback*.\n\nYour goal:\n1. Summarize the key points of the user's feedback into clear, actionable insights.\n2. Keep the summary short (2–3 sentences max).\n3. Focus on what should be improved next time (e.g., tone, accuracy, length, structure, detail).\n4. If feedback is unclear or generic (like “good” or “bad”), infer the likely intent from the input and output context.\n\n---\n\n### Feedback Data\n**User Feedback:**\n{{ $json.data[\"Editor Feedback for AI\"] }}\n\n**Model Output:**\n{{ $('Generate Data using LLM').first().json.output }}\n\n---\n\n### Expected Output\nReturn only a concise structured learning note in JSON format like this:\n\n{\n  \"learning_feedback\": \"Future responses should provide shorter, more focused text emphasizing factual accuracy and concise language.\"\n}","attributes":{"attributes":[{"name":"learning_feedback","description":"Fetch blog data from page HTML"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1808,-464],"id":"eb6848b5-e449-48ad-973b-b3342e52840b","name":"Process feedback learning data using LLM","executeOnce":false,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"text":"=An Error on LLM Processing: {{ $json.error }}","otherOptions":{"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1008,144],"id":"4e151b8d-9b1f-41cf-a4cd-0a3efd781795","name":"Output LLM Error message","webhookId":"06dd2d7a-bf80-4de5-8219-357b90791cd7","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data[\"Approve or Feedback\"] }}","rightValue":"Approve","operator":{"type":"string","operation":"contains"},"id":"3a59ed81-b5df-44ca-a53e-5f43721dce82"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43a3ce0c-c64a-46c3-b5cd-9c556fc2902e","leftValue":"={{ $json.data[\"Approve or Feedback\"] }}","rightValue":"feedback","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4171b242-329d-4af7-94f9-f06106bc7ff5","leftValue":"={{ $json.data[\"Approve or Feedback\"] }}","rightValue":"Reset Articles","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[3280,-1600],"id":"71a33fe6-5976-4ae9-a4f7-7aaacb00b76d","name":"Final Switch"},{"parameters":{"operation":"sendAndWait","select":"channel","channelId":{"__rl":true,"value":"#n8n-is2","mode":"name"},"message":"=*The Theme has been successfully selected.*","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Approve or Feedback","fieldType":"radio","fieldOptions":{"values":[{"option":"Approve articles and continue"},{"option":"Reset Articles (Generate Themes Again)"},{"option":"Add a feedback"}]}},{"fieldLabel":"Editor Feedback for AI","fieldType":"textarea"}]},"options":{"messageButtonLabel":"Approve Articles or Submit Feedback","responseFormTitle":"Proceed to next step","responseFormDescription":"The THEME has been successfully created."}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3008,-1584],"id":"00efb059-0d38-4bb5-8879-53178cbed02f","name":"Approve or Submit Feedback","webhookId":"060bfdef-d176-43ed-9cc7-55612335beef","credentials":{"slackApi":{"id":"PLxXtzwELhFOLjM0","name":"Slack account"}}},{"parameters":{"errorMessage":"LLM Execution Error"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1232,144],"id":"9c217863-5ec1-4b2d-b04c-25b7446095b5","name":"Stop and Error"},{"parameters":{"workflowId":{"__rl":true,"value":"O5I7T1oioeIBv0j4","mode":"list","cachedResultUrl":"/workflow/O5I7T1oioeIBv0j4","cachedResultName":"LLM Global Config [UTIL]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1360,-464],"id":"f18343b1-69dd-4bf1-8d7d-e466cf7e8d9c","name":"LLM Global Config [UTIL]"},{"parameters":{"model":"={{ $('LLM Global Config [UTIL]').first().json.LLM_THEME_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-240,-240],"id":"3c88b053-1dfd-4ed4-a05b-08f64d26563a","name":"OpenRouter theme generator","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"model":"={{ $('LLM Global Config [UTIL]').first().json.LLM_THEME_LEARNING_DATA_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1808,-272],"id":"ebee0bec-66a4-4dc4-8fb0-80aa4db4e1cc","name":"Learning data process model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"model":"={{ $('LLM Global Config [UTIL]').first().json.LLM_THEME_FRESHNESS_CHECK_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2048,-1088],"id":"6bc8ec4c-0045-4129-ad3d-cd778b277150","name":"OpenRouter content freshness","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}},{"parameters":{"model":"={{ $('LLM Global Config [UTIL]').first().json.LLM_THEME_LEARNING_DATA_MODEL }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3664,-1136],"id":"0549a4f6-3682-46cb-afd3-e5787e2f126b","name":"Learning data model","credentials":{"openRouterApi":{"id":"tzbBPaBEj7ESKv6l","name":"OpenRouter account"}}}],"connections":{"Conditional output":{"main":[[{"node":"Output Generated Themes","type":"main","index":0}]]},"Output Generated Themes":{"main":[[{"node":"Select theme or submit feedback","type":"main","index":0}]]},"Workflow Initiated":{"main":[[{"node":"LLM Global Config [UTIL]","type":"main","index":0}]]},"Generate Data using LLM":{"main":[[{"node":"Prepare AI generated themes","type":"main","index":0}],[{"node":"Output LLM Error message","type":"main","index":0}]]},"Insert into table":{"main":[[{"node":"Check DB Insert status","type":"main","index":0}]]},"Structure SQL Insert Query":{"main":[[{"node":"Create table NewsletterThemes","type":"main","index":0}]]},"Check DB Insert status":{"main":[[],[{"node":"Structure SQL Insert Query","type":"main","index":0}]]},"Prepare AI generated themes":{"main":[[{"node":"Format output","type":"main","index":0}]]},"Format output":{"main":[[{"node":"Conditional output","type":"main","index":0}]]},"Process User Feedback":{"main":[[{"node":"Generate Data using LLM","type":"main","index":0}]]},"Select theme or submit feedback":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Insert user feedback":{"main":[[{"node":"Process User Feedback","type":"main","index":0}]]},"Fetch learning data":{"main":[[{"node":"Process User Feedback","type":"main","index":0}]]},"Format theme output":{"main":[[{"node":"Freshness data extractor - theme freshness","type":"main","index":0}]]},"Create table UserFeedback":{"main":[[{"node":"Fetch learning data","type":"main","index":0}]]},"Create table NewsletterThemes":{"main":[[{"node":"Insert into table","type":"main","index":0}]]},"Learning data extractor - theme approve":{"main":[[{"node":"Format theme output","type":"main","index":0}],[{"node":"Output LLM Error message","type":"main","index":0}]]},"Output Selected Theme":{"main":[[{"node":"Approve or Submit Feedback","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Format theme output","type":"main","index":0}],[{"node":"Process feedback learning data using LLM","type":"main","index":0}]]},"Freshness data extractor - theme freshness":{"main":[[{"node":"Format output - Selected Theme","type":"main","index":0}],[{"node":"Output LLM Error message","type":"main","index":0}]]},"Format output - Selected Theme":{"main":[[{"node":"Output Selected Theme","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"LLM Global Config [UTIL]","type":"main","index":0}]]},"Process feedback learning data using LLM":{"main":[[{"node":"Insert user feedback","type":"main","index":0}],[{"node":"Output LLM Error message","type":"main","index":0}]]},"Final Switch":{"main":[[{"node":"Structure SQL Insert Query","type":"main","index":0},{"node":"Selected Theme output","type":"main","index":0}],[{"node":"Learning data extractor - theme approve","type":"main","index":0}],[{"node":"Process User Feedback","type":"main","index":0}]]},"Approve or Submit Feedback":{"main":[[{"node":"Final Switch","type":"main","index":0}]]},"Output LLM Error message":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"LLM Global Config [UTIL]":{"main":[[{"node":"Create table UserFeedback","type":"main","index":0}]]},"OpenRouter theme generator":{"ai_languageModel":[[{"node":"Generate Data using LLM","type":"ai_languageModel","index":0}]]},"Learning data process model":{"ai_languageModel":[[{"node":"Process feedback learning data using LLM","type":"ai_languageModel","index":0}]]},"OpenRouter content freshness":{"ai_languageModel":[[{"node":"Freshness data extractor - theme freshness","type":"ai_languageModel","index":0}]]},"Learning data model":{"ai_languageModel":[[{"node":"Learning data extractor - theme approve","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c73a559-978b-4351-abd0-794ffe2879b2","activeVersionId":"3c73a559-978b-4351-abd0-794ffe2879b2","versionCounter":129,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-09T17:21:18.534Z","createdAt":"2025-12-09T17:21:18.534Z","role":"workflow:owner","workflowId":"GsUsHGEbssqrS05W","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null}}]}]