_n8n-project/workflows/UTIL/curated_ai_articles_utility.json
[{"updatedAt":"2025-12-28T15:55:52.340Z","createdAt":"2025-11-06T19:38:16.761Z","id":"dIT9HiTREUm0an1a","name":"curated-ai-articles [UTIL]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,-640],"id":"f7cf30b9-3263-4079-a66f-3c53782d8ef4","name":"Schedule, once in a day"},{"parameters":{"rule":{"interval":[{"daysInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,-448],"id":"2c7ea1dd-d847-47a5-891d-29421ff454e2","name":"Schedule, once in 2 days"},{"parameters":{"jsCode":"// Build value tuples for each item\nconst values = items.map(item => {\n  const url = item.json.url.replace(/'/g, \"''\"); // escape single quotes in URL\n  const date = item.json.date;\n  const title = item.json.title.replace(/'/g, \"\"); // escape single quotes in URL\n  const origin = item.json.origin;\n  const approved = 'FALSE';\n  const industry_news = 'FALSE';\n  const newsletter_id = '';\n  \n  return `('${url}', TO_DATE('${date}', 'MM/DD/YYYY'), '${title}' , '${origin}' , ${approved}, ${industry_news}, '${newsletter_id}', CURRENT_TIMESTAMP)`;\n});\n\n// Combine everything into a single safe SQL statement\nconst query = `\nINSERT INTO curated_articles (url, publish_date, title, origin, approved, industry_news, newsletter_id, created_at)\nVALUES\n  ${values.join(',\\n')}\nON CONFLICT (url)\nDO UPDATE SET\n  title = EXCLUDED.title,\n  origin = EXCLUDED.origin,\n  publish_date = EXCLUDED.publish_date,\n  approved = EXCLUDED.approved,\n  industry_news = EXCLUDED.industry_news,\n  created_at = CURRENT_TIMESTAMP;\n`;\n\nreturn [\n  {\n    json: { \n      query: query.trim(),\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-544],"id":"352b9789-1386-4b44-b8af-4b81c6d2cdfd","name":"Structure SQL Insert Query"},{"parameters":{"q":"={{ $json.keyword }}","locationSettings":{},"languageSettings":{},"searchOptions":{},"timeFilters":{"time_period":"last_week"},"pagination":{"num":"10"},"advancedOptions":{},"requestOptions":{}},"type":"@searchapi/n8n-nodes-searchapi.searchApi","typeVersion":1,"position":[-224,-448],"id":"d33a9acc-8879-46b3-8bb8-b15aad1ee70d","name":"Search API","alwaysOutputData":true,"credentials":{"searchApi":{"id":"gFbL0UENq7J8DJrA","name":"SearchApi account"}}},{"parameters":{"url":"https://www.searchapi.io/api/v1/search","authentication":"predefinedCredentialType","nodeCredentialType":"searchApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"engine","value":"=google_news"},{"name":"time_period","value":"last_week"},{"name":"num","value":"15"},{"name":"location","value":"United States"},{"name":"q","value":"={{ $json.keyword }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,-640],"id":"c2d6bddc-c3de-4f05-a028-f67abc93859e","name":"Search News API","credentials":{"searchApi":{"id":"gFbL0UENq7J8DJrA","name":"SearchApi account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS curated_articles (\n          url TEXT PRIMARY KEY,\n          title TEXT,\n          origin TEXT,\n          publish_date DATE,\n          approved BOOLEAN,\n          industry_news BOOLEAN,\n          newsletter_id TEXT,\n          created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n        );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,-544],"id":"b30bf61a-a6d1-4329-9081-c329c6cf27d8","name":"Create table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $('Structure SQL Insert Query').item.json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,-544],"id":"707461ca-df71-4934-975b-40928a6e0463","name":"Insert into table","credentials":{"postgres":{"id":"6V2an8hBVnEqwCBR","name":"Postgres account"}}},{"parameters":{"jsCode":"const organic_links = [];\n\nfor (const item of $input.all()) {\n\n  // Get source.\n  const searchSource = item.json.search_parameters.engine;    \n  \n  // Check if organic_results exists and is an array\n  if (item.json.organic_results && Array.isArray(item.json.organic_results)) {\n    for (const linkObj of item.json.organic_results) {\n      const date = new Date();\n      if (linkObj.date !== undefined) {\n        // Extract number and unit (supports: days, day, weeks, week)\n        const regex = /(\\d+)\\s*(day|days|week|weeks)\\s*ago/i;\n        const match = linkObj.date.match(regex);\n  \n        if (match) {\n          const value = parseInt(match[1], 10);\n          const unit = match[2].toLowerCase();\n  \n          switch (unit) {\n            case 'day':\n            case 'days':\n              date.setDate(date.getDate() - value);\n            break;\n            case 'week':\n            case 'weeks':\n              date.setDate(date.getDate() - value * 7);\n            break;\n          }\n        }\n      }\n      organic_links.push({\n        json: {\n          url: linkObj.link,\n          title: linkObj.title,\n          origin: searchSource,\n          date: date.toLocaleDateString('en-US'),\n        },\n      });\n    }\n  }\n}\n\n// Use a Map to filter unique URLs\nconst uniqueMap = new Map();\n\norganic_links.forEach(item => {\n  const url = item.json.url;\n  if (!uniqueMap.has(url)) {\n    uniqueMap.set(url, item); // keep the first occurrence\n  }\n});\n\n// Convert back to array\nreturn Array.from(uniqueMap.values());\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-544],"id":"8c1778c4-6125-44e8-a8e0-9a795d1dff66","name":"Process Input","alwaysOutputData":false},{"parameters":{"jsCode":"// keywords to iterate\nconst list = [\n  \"Artificial General Intelligence\", \n  \"Automation\",\n  \"Artificial Intelligence\",\n];\n\nconst result = [];\n\nfor (const keyword of list) {\n  result.push({\n    json: {\n      keyword\n    }\n  });\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,-640],"id":"78c9700b-454e-4414-aa8b-5e7f57138e24","name":"Query for Search News API","alwaysOutputData":false},{"parameters":{"jsCode":"// keywords to iterate\nconst list = [\n  \"AI breakthrough\",\n  \"AI latest\",\n  \"AI tutorial\",\n  \"AI case study\",\n  \"AI research\"\n];\n\nconst result = [];\n\nfor (const keyword of list) {\n  result.push({\n    json: {\n      keyword  // add ONE keyword per output item\n    }\n  });\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,-448],"id":"0b0fcc01-e44a-42ae-b481-4021f9c3c57c","name":"Query for Search API","alwaysOutputData":false},{"parameters":{"content":"## Fetch AI Articles \nFetch recent articles related to AI and store in Database table to be used in newsletter creation or any other process.","height":96,"width":576},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,-832],"id":"b8ee4973-94a7-4497-93a4-c89ca8d51b37","name":"Sticky Note"}],"connections":{"Schedule, once in a day":{"main":[[{"node":"Query for Search News API","type":"main","index":0}]]},"Schedule, once in 2 days":{"main":[[{"node":"Query for Search API","type":"main","index":0}]]},"Structure SQL Insert Query":{"main":[[{"node":"Create table","type":"main","index":0}]]},"Search API":{"main":[[{"node":"Process Input","type":"main","index":0}]]},"Search News API":{"main":[[{"node":"Process Input","type":"main","index":0}]]},"Create table":{"main":[[{"node":"Insert into table","type":"main","index":0}]]},"Insert into table":{"main":[[]]},"Process Input":{"main":[[{"node":"Structure SQL Insert Query","type":"main","index":0}]]},"Query for Search News API":{"main":[[{"node":"Search News API","type":"main","index":0}]]},"Query for Search API":{"main":[[{"node":"Search API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule, once in a day":{"recurrenceRules":[]},"node:Schedule, once in 2 days":{"recurrenceRules":[2]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1025fa8b-0a6f-406f-ada2-31b45223b74e","activeVersionId":"1025fa8b-0a6f-406f-ada2-31b45223b74e","versionCounter":18,"triggerCount":2,"tags":[{"updatedAt":"2025-12-03T13:42:46.019Z","createdAt":"2025-12-03T13:42:46.019Z","id":"c2x8yVbvlM0Q0Hhw","name":"AIArticlesListingUtility"}],"shared":[{"updatedAt":"2025-11-15T06:58:23.623Z","createdAt":"2025-11-15T06:58:23.623Z","role":"workflow:owner","workflowId":"dIT9HiTREUm0an1a","projectId":"NqXbv4AnxVF1REzO","project":{"updatedAt":"2025-11-03T18:02:37.810Z","createdAt":"2025-11-03T18:02:09.073Z","id":"NqXbv4AnxVF1REzO","name":"Shreyal Mandot <shreyalmandot999@gmail.com>","type":"personal","icon":null,"description":null}}]}]